In [1]:
import pandas as pd

In [2]:
# Read the csv files for each year's wine shipment info
year2019_df = pd.read_csv('data_frame/Complete_annual_dataframes/Complete_2019.csv')
year2020_df = pd.read_csv('data_frame/Complete_annual_dataframes/Complete_2020.csv')
year2021_df = pd.read_csv('data_frame/Complete_annual_dataframes/Complete_2021.csv')
states = pd.read_csv("state_covid_info/Complete_states.csv")

# Merge data in all files into one
winedemic_df = pd.concat([year2019_df, year2020_df, year2021_df])

# view new combined data frame
winedemic_df.head()

,Unnamed: 0,Order Number,Company Name,Ship Date,State,City,Created Date,Item/Bottle Count,Weight,Zip,Shipping Service
0,0,0,Ecom3,11/19/19,PA,STEELTON,11/18/19,6.0,18.0,NaN,NaN
1,1,1,Ecom3,11/15/19,FL,CORAL GABLES,11/14/19,12.0,36.0,NaN,NaN
2,2,2,Ecom3,11/14/19,IL,CHICAGO,11/13/19,6.0,18.0,NaN,NaN
3,3,3,Ecom3,11/15/19,NJ,Rumson,11/14/19,12.0,36.0,NaN,NaN
4,4,4,Ecom3,11/14/19,MD,PASADENA,11/13/19,6.0,18.0,NaN,NaN

In [3]:
states.head()

,State,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,AK,"731,545",3/23/2020,3/30/2020,4/24/2020,Red
1,AL,"4,903,185",4/4/2020,4/30/2020,4/30/2020,Red
2,AR,"3,017,804",3/15/2020,3/27/2020,6/5/2020,Red
3,AZ,"7,278,717",4/30/2020,5/15/2020,5/18/2020,Blue
4,CA,"39,512,223",3/19/2020,4/2/2020,5/13/2020,Blue

In [4]:
# view new combined data frame
winedemic_df.tail()

,Unnamed: 0,Order Number,Company Name,Ship Date,State,City,Created Date,Item/Bottle Count,Weight,Zip,Shipping Service
242646,242646,242646,Ecom2,12/30/2021,IL,Oakwood,12/30/2021,2.0,7.0,61858,FEH
242647,242647,242647,Ecom2,12/30/2021,IL,Wonder Lake,12/30/2021,2.0,7.0,60097,FEH
242648,242648,242648,Ecom2,12/30/2021,MA,Charlestown,12/30/2021,2.0,7.0,2129,UPS
242649,242649,242649,Ecom2,12/30/2021,DC,Washington,12/30/2021,2.0,7.0,20002,FEH
242650,242650,242650,Ecom2,12/30/2021,FL,Delray Beach,12/30/2021,2.0,7.0,33446,FEH

In [5]:
# Convert 'Created Date' into three columns (Year, Month, Day)
winedemic_df['Created Date'] = pd.to_datetime(winedemic_df['Created Date'], infer_datetime_format=True)
winedemic_df['Year'] = winedemic_df['Created Date'].dt.year
winedemic_df['Month'] = winedemic_df['Created Date'].dt.month
winedemic_df['Day'] = winedemic_df['Created Date'].dt.day

In [6]:
winedemic_df.columns

Index(['Unnamed: 0', 'Order Number', 'Company Name', 'Ship Date', 'State',
       'City', 'Created Date', 'Item/Bottle Count', 'Weight', 'Zip',
       'Shipping Service', 'Year', 'Month', 'Day'],
      dtype='object')

In [7]:
winedemic_df.head()

,Unnamed: 0,Order Number,Company Name,Ship Date,State,City,Created Date,Item/Bottle Count,Weight,Zip,Shipping Service,Year,Month,Day
0,0,0,Ecom3,11/19/19,PA,STEELTON,2019-11-18,6.0,18.0,NaN,NaN,2019,11,18
1,1,1,Ecom3,11/15/19,FL,CORAL GABLES,2019-11-14,12.0,36.0,NaN,NaN,2019,11,14
2,2,2,Ecom3,11/14/19,IL,CHICAGO,2019-11-13,6.0,18.0,NaN,NaN,2019,11,13
3,3,3,Ecom3,11/15/19,NJ,Rumson,2019-11-14,12.0,36.0,NaN,NaN,2019,11,14
4,4,4,Ecom3,11/14/19,MD,PASADENA,2019-11-13,6.0,18.0,NaN,NaN,2019,11,13

In [8]:
#Join states and wine on "State"
winedemic_df = winedemic_df.join(states.set_index ("State"), on = "State")
winedemic_df.head()

,Unnamed: 0,Order Number,Company Name,Ship Date,State,City,Created Date,Item/Bottle Count,Weight,Zip,Shipping Service,Year,Month,Day,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,0,0,Ecom3,11/19/19,PA,STEELTON,2019-11-18,6.0,18.0,NaN,NaN,2019,11,18,"12,801,989",3/23/2020,4/30/2020,5/15/2020,Blue
1,1,1,Ecom3,11/15/19,FL,CORAL GABLES,2019-11-14,12.0,36.0,NaN,NaN,2019,11,14,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
2,2,2,Ecom3,11/14/19,IL,CHICAGO,2019-11-13,6.0,18.0,NaN,NaN,2019,11,13,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
3,3,3,Ecom3,11/15/19,NJ,Rumson,2019-11-14,12.0,36.0,NaN,NaN,2019,11,14,"8,882,190",3/21/2020,1/1/1111,5/12/2020,Blue
4,4,4,Ecom3,11/14/19,MD,PASADENA,2019-11-13,6.0,18.0,NaN,NaN,2019,11,13,"6,045,680",3/12/2020,3/27/2020,5/13/2020,Blue

In [9]:
winedemic_df = winedemic_df.set_index("Order Number")

In [10]:
winedemic_df.tail()

,Unnamed: 0,Company Name,Ship Date,State,City,Created Date,Item/Bottle Count,Weight,Zip,Shipping Service,Year,Month,Day,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
Order Number,,,,,,,,,,,,,,,,,,
242646,242646,Ecom2,12/30/2021,IL,Oakwood,2021-12-30,2.0,7.0,61858,FEH,2021,12,30,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
242647,242647,Ecom2,12/30/2021,IL,Wonder Lake,2021-12-30,2.0,7.0,60097,FEH,2021,12,30,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
242648,242648,Ecom2,12/30/2021,MA,Charlestown,2021-12-30,2.0,7.0,2129,UPS,2021,12,30,"6,892,503",3/23/2020,3/31/2020,5/18/2020,Blue
242649,242649,Ecom2,12/30/2021,DC,Washington,2021-12-30,2.0,7.0,20002,FEH,2021,12,30,"705,749",4/1/2020,4/24/2020,5/29/2020,Blue
242650,242650,Ecom2,12/30/2021,FL,Delray Beach,2021-12-30,2.0,7.0,33446,FEH,2021,12,30,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red

In [11]:
winedemic_df.dtypes

Unnamed: 0                                int64
Company Name                             object
Ship Date                                object
State                                    object
City                                     object
Created Date                     datetime64[ns]
Item/Bottle Count                       float64
Weight                                  float64
Zip                                      object
Shipping Service                         object
Year                                      int64
Month                                     int64
Day                                       int64
Population                               object
Lockdown Start                           object
Initial Expected Lockdown End            object
Phase 1 Re-Opening Start                 object
Political Alignment                      object
dtype: object

In [13]:
complete_winedemic_df = winedemic_df.drop(['Zip', 'Shipping Service'], axis=1)
complete_winedemic_df.head()

,Unnamed: 0,Company Name,Ship Date,State,City,Created Date,Item/Bottle Count,Weight,Year,Month,Day,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
Order Number,,,,,,,,,,,,,,,,
0,0,Ecom3,11/19/19,PA,STEELTON,2019-11-18,6.0,18.0,2019,11,18,"12,801,989",3/23/2020,4/30/2020,5/15/2020,Blue
1,1,Ecom3,11/15/19,FL,CORAL GABLES,2019-11-14,12.0,36.0,2019,11,14,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
2,2,Ecom3,11/14/19,IL,CHICAGO,2019-11-13,6.0,18.0,2019,11,13,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
3,3,Ecom3,11/15/19,NJ,Rumson,2019-11-14,12.0,36.0,2019,11,14,"8,882,190",3/21/2020,1/1/1111,5/12/2020,Blue
4,4,Ecom3,11/14/19,MD,PASADENA,2019-11-13,6.0,18.0,2019,11,13,"6,045,680",3/12/2020,3/27/2020,5/13/2020,Blue

In [15]:
# Export Dataframe into Excel file
complete_winedemic_df.to_csv("winedemic_complete.csv", index=False)