In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2020_12 = "../../2020_Data/2020.12.csv"

In [3]:
# Read the December CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_12 = pd.read_csv(load_2020_12)
df_2020_12.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,Delivered,12/1/20,Paoli,PA,19301,UPS,11/30/20,21.5,6
1,Ecom3,In Transit,12/4/20,Deerfield,IL,60015,UPS,12/3/20,26.0,7
2,Ecom3,Delivered,12/2/20,Lambertville,MI,48144,UPS,12/1/20,21.5,6
3,Ecom3,Delivered,12/1/20,San Jose,CA,95125,UPS,11/28/20,41.0,12
4,Ecom3,Delivered,12/1/20,Belton,SC,29627,UPS,11/29/20,21.5,6

## Inspect the Data

In [4]:
#See five random rows of data
df_2020_12.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
10468,Ecom2,Shipped,12/19/20,Los Angeles,CA,90064,UPS,12/17/20,7.0,2
31250,Ecom2,In Transit,12/29/20,Waretown,NJ,8758,FEH,12/28/20,7.0,2
13429,Ecom3,Delivered,12/14/20,Miami Shores,FL,33138,UPS,12/13/20,9.9,3
32089,Ecom3,Delivered,12/27/20,Gibbsboro,NJ,8026,UPS,12/23/20,21.5,6
15055,Ecom1,Delivered,12/18/20,Middletown,NY,10940,FEH,12/16/20,6.5,1

In [5]:
#See the last rows of data
df_2020_12.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
33841,Ecom3,In Transit,12/30/20,HONOLULU,HI,96821,UPS,12/29/20,33.0,10
33842,Ecom3,Delivered,12/28/20,Brighton,MI,48116,UPS,12/25/20,27.0,8
33843,Ecom3,In Transit,12/29/20,Brighton,MI,48116,UPS,12/25/20,7.0,1
33844,Ecom3,In Transit,12/30/20,Vacaville,CA,95687,UPS,12/29/20,21.5,6
33845,Ecom3,In Transit,12/29/20,Raleigh,NC,27606,UPS,12/27/20,9.9,3

In [6]:
df_2020_12.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [7]:
#Determine total rows for df_2020_12.
df_2020_12_rows = len(df_2020_12.axes[0])
df_2020_12_cols = len(df_2020_12.axes[1])
print("Number of Rows: ", df_2020_12_rows)
print("Number of Columns: ", df_2020_12_cols)

Number of Rows:  33846
Number of Columns:  10

In [8]:
# Determine if there are any missing values in df_2020_12.
df_2020_12.isnull().sum()

Company Name         0
Status               0
Ship Date            0
City                 0
State                0
Zip                  0
Shipping Service     0
Created Date         0
Weight               0
Item/Bottle Count    0
dtype: int64

In [9]:
# Determine data types for df_2020_12.
df_2020_12.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count      int64
dtype: object

In [10]:
df_2020_12['Company Name'].value_counts()

Ecom2      14638
Ecom3      10603
Ecom1       7876
Winery1      684
Winery2       45
Name: Company Name, dtype: int64

In [11]:
df_2020_12['Ship Date'].value_counts()

12/23/20    6623
12/19/20    3405
12/21/20    2731
12/29/20    2721
12/24/20    2194
12/14/20    1425
12/28/20    1411
12/18/20    1166
12/30/20    1150
12/22/20    1143
12/15/20    1066
12/9/20      942
12/1/20      873
12/7/20      841
12/4/20      816
12/16/20     768
12/2/20      752
12/11/20     746
12/10/20     703
12/3/20      684
12/8/20      624
12/27/20     343
12/13/20     257
12/6/20      237
12/17/20     198
12/31/20      27
Name: Ship Date, dtype: int64

In [12]:
df_2020_12['Status'].value_counts()

Shipped              14279
Delivered            13566
In Transit            5758
Delivery Attempt       126
Carrier Exception      117
Name: Status, dtype: int64

In [13]:
df_2020_12['City'].value_counts()

New York           533
Chicago            411
Brooklyn           292
Atlanta            258
Philadelphia       237
                  ...
Rio Vista            1
PARADISE VALLEY      1
WILLIAMSTOWN         1
PAWLING              1
Urich                1
Name: City, Length: 6344, dtype: int64

In [14]:
df_2020_12['State'].value_counts()

NY    3284
FL    3249
CA    3122
PA    2083
TX    2009
NJ    1952
MA    1482
IL    1390
VA    1241
GA    1059
OH    1003
MD     985
MI     951
NC     856
CO     854
CT     741
TN     596
WA     579
AZ     570
WI     529
IN     517
MN     512
SC     460
OR     338
MO     336
RI     235
KS     234
LA     232
DC     220
NV     208
NH     202
HI     189
IA     187
OK     154
NE     151
ME     148
AR     139
NM     129
WV     111
ID     103
MT     102
DE     101
VT      91
SD      57
ND      55
WY      51
AK      33
AL      16
Name: State, dtype: int64

In [15]:
df_2020_12['Zip'].value_counts()

60614         49
11201         41
10019         39
20002         38
7302          38
              ..
26062          1
29626          1
92109-1203     1
75117          1
64788          1
Name: Zip, Length: 9259, dtype: int64

In [16]:
df_2020_12['Shipping Service'].value_counts()

FEH    18710
UPS    13174
FXG     1701
FEX      153
WCU       41
AZS       18
WCP       16
UP1       15
UP2       10
UP3        7
FXE        1
Name: Shipping Service, dtype: int64

In [17]:
df_2020_12['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

12/17/20    11546
12/21/20     2221
12/28/20     2019
12/18/20     1741
12/29/20     1231
12/13/20      953
12/8/20       921
12/14/20      917
12/9/20       815
12/2/20       774
12/27/20      758
12/11/20      748
12/1/20       719
12/16/20      621
11/30/20      617
12/4/20       581
12/25/20      550
12/20/20      514
12/10/20      503
12/23/20      498
12/15/20      480
12/6/20       466
12/22/20      418
12/24/20      413
11/29/20      412
12/12/20      409
12/7/20       387
12/3/20       384
12/5/20       258
12/19/20      256
12/26/20      203
12/30/20      164
11/28/20      149
11/27/20      129
11/26/20       24
11/24/20       15
11/25/20       11
12/31/20        7
11/23/20        5
11/20/20        3
11/22/20        3
11/16/20        1
10/26/20        1
7/29/20         1
Name: Created Date, dtype: int64

In [18]:
df_2020_12['Weight'].value_counts()

7.00       15463
21.50       5292
6.50        3272
39.00       2295
10.50       2008
20.20       1076
14.00       1005
41.00        826
9.90         621
3.35         344
27.00        318
18.50        147
29.00        126
13.50        125
30.00        104
24.00        102
4.00          93
20.50         93
32.00         78
33.00         77
26.00         73
35.00         65
10.00         59
38.00         37
12.50         27
17.20         22
36.00         22
37.00         14
41.75         12
7.50           9
19.20          8
9.50           3
3.00           3
18.20          3
16.20          2
21.00          2
13.00          2
1950.00        2
45.00          1
1.00           1
23.20          1
2.35           1
9.00           1
22.00          1
26.20          1
687.00         1
11.50          1
17.00          1
654.00         1
17.50          1
15.70          1
8.50           1
25.00          1
675.00         1
Name: Weight, dtype: int64

In [19]:
df_2020_12['Item/Bottle Count'].value_counts()

2       15532
6        6373
1        3864
12       3130
3        2723
4        1124
8         330
7         184
9         183
5         174
10        142
11         32
13         25
14         16
16          2
1950        2
22          1
17          1
98          1
229         1
312         1
412         1
336         1
654         1
15          1
225         1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [20]:
#Change ["Item/Bottle Count"] to float64 type in df_2020_12.
df_2020_12["Item/Bottle Count"]=df_2020_12["Item/Bottle Count"].astype(float)
df_2020_12.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [21]:
#Remove "Status" column from df_2020_12.
df_2020_12 = df_2020_12.drop('Status', axis=1)
df_2020_12

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,12/1/20,Paoli,PA,19301,UPS,11/30/20,21.5,6.0
1,Ecom3,12/4/20,Deerfield,IL,60015,UPS,12/3/20,26.0,7.0
2,Ecom3,12/2/20,Lambertville,MI,48144,UPS,12/1/20,21.5,6.0
3,Ecom3,12/1/20,San Jose,CA,95125,UPS,11/28/20,41.0,12.0
4,Ecom3,12/1/20,Belton,SC,29627,UPS,11/29/20,21.5,6.0
...,...,...,...,...,...,...,...,...,...
33841,Ecom3,12/30/20,HONOLULU,HI,96821,UPS,12/29/20,33.0,10.0
33842,Ecom3,12/28/20,Brighton,MI,48116,UPS,12/25/20,27.0,8.0
33843,Ecom3,12/29/20,Brighton,MI,48116,UPS,12/25/20,7.0,1.0
33844,Ecom3,12/30/20,Vacaville,CA,95687,UPS,12/29/20,21.5,6.0
33845,Ecom3,12/29/20,Raleigh,NC,27606,UPS,12/27/20,9.9,3.0

In [22]:
# Drop the NaNs for df_2020_12.
df_2020_12 = df_2020_12.dropna()

## Confirm Changes

In [23]:
#See five random rows of data
df_2020_12.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
26678,Ecom2,12/23/20,Dansville,MI,48819,FEH,12/21/20,7.0,2.0
13142,Ecom3,12/18/20,Columbus,OH,43235,UPS,12/18/20,21.5,6.0
9409,Ecom2,12/19/20,Wells,ME,4090,FXG,12/17/20,7.0,2.0
5202,Ecom1,12/8/20,Escalon,CA,95320,FEH,12/4/20,6.5,1.0
16992,Ecom1,12/23/20,Essex Fells,NJ,7021,FEH,12/22/20,39.0,12.0

In [24]:
#Determine total rows for df_2020_12.
df_2020_12_rows = len(df_2020_12.axes[0])
df_2020_12_cols = len(df_2020_12.axes[1])
print("Number of Rows: ", df_2020_12_rows)
print("Number of Columns: ", df_2020_12_cols)

Number of Rows:  33846
Number of Columns:  9

## Export Cleaned df to .CSV

In [25]:
#Export df_2020_12 to .csv
df_2020_12.to_csv('../cleaned_months_2020/Clean_2020_12.csv')