In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [6]:
# Files to load
load_2020_11 = "../2020_Data/2020.11_utf-8.csv"

In [7]:
# Read the November CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_11 = pd.read_csv(load_2020_11)
df_2020_11.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,Delivered,11/2/20,Topanga,CA,90290,FEH,10/30/20,6.5,1
1,Ecom1,Delivered,11/2/20,Los Angeles,CA,90012,FEH,10/30/20,6.5,1
2,Ecom1,Delivered,11/2/20,La Verne,CA,91750,FEH,10/30/20,6.5,1
3,Ecom1,Delivered,11/2/20,Lancaster,CA,93536,FEH,10/30/20,6.5,1
4,Ecom1,Delivered,11/2/20,Reseda,CA,91335,FEH,10/30/20,6.5,1

## Inspect the Data

In [8]:
#See five random rows of data
df_2020_11.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
4600,Ecom1,Delivered,11/9/20,Rochester,NY,14617,FEH,11/8/20,10.5,3
14097,Ecom2,Shipped,11/19/20,Charlotte,NC,28205,FEH,11/18/20,7.0,2
11398,Ecom2,Shipped,11/19/20,Washington,DC,20009,FEH,11/18/20,7.0,2
560,Winery2,Delivered,11/3/20,Sugar Land,TX,77478,UP2,11/2/20,10.5,3
11158,Ecom2,Delivered,11/19/20,Pasadena,CA,91106,UPS,11/18/20,7.0,2

In [9]:
#See the last rows of data
df_2020_11.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
22935,Winery3,Delivered,11/30/20,Morgantown,WV,26501,UPS,11/30/20,21.5,6
22936,Winery3,Delivered,11/30/20,Keller,TX,76248,UPS,11/30/20,4.0,1
22937,Winery3,Delivered,11/30/20,Quincy,MA,2169,UPS,11/30/20,21.5,6
22938,Winery3,Delivered,11/30/20,Union City,CA,94587,GSC,11/30/20,21.5,6
22939,Winery3,Delivered,11/30/20,Branson,MO,65616,UPS,11/30/20,21.5,6

In [10]:
df_2020_11.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [11]:
#Determine total rows for df_2020_11.
df_2020_11_rows = len(df_2020_11.axes[0])
df_2020_11_cols = len(df_2020_11.axes[1])
print("Number of Rows: ", df_2020_11_rows)
print("Number of Columns: ", df_2020_11_cols)

Number of Rows:  22940
Number of Columns:  10

In [12]:
# Determine if there are any missing values in df_2020_11.
df_2020_11.isnull().sum()

Company Name         0
Status               0
Ship Date            0
City                 0
State                0
Zip                  0
Shipping Service     0
Created Date         0
Weight               0
Item/Bottle Count    0
dtype: int64

In [13]:
# Determine data types for df_2020_11.
df_2020_11.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count      int64
dtype: object

In [14]:
df_2020_11['Company Name'].value_counts()

Ecom3      8888
Ecom2      7206
Ecom1      3485
Winery1    3051
Winery2     181
Winery3     129
Name: Company Name, dtype: int64

In [15]:
df_2020_11['Ship Date'].value_counts()

11/19/20    5210
11/6/20     2502
11/20/20    1709
11/30/20    1543
11/9/20     1514
11/18/20    1460
11/23/20    1182
11/2/20      955
11/27/20     915
11/24/20     863
11/17/20     748
11/11/20     642
11/16/20     599
11/25/20     583
11/3/20      490
11/10/20     460
11/13/20     402
11/12/20     348
11/5/20      325
11/4/20      280
11/15/20     174
11/28/20      36
Name: Ship Date, dtype: int64

In [16]:
df_2020_11['Status'].value_counts()

Delivered            10611
In Transit            8616
Shipped               3428
Carrier Exception      153
Delivery Attempt       132
Name: Status, dtype: int64

In [17]:
df_2020_11['City'].value_counts()

New York         473
Chicago          279
Brooklyn         202
Washington       183
Houston          169
                ...
Endicott           1
Gypsum             1
Lower Gwynedd      1
Trent Woods        1
Murphysboro        1
Name: City, Length: 5260, dtype: int64

In [18]:
df_2020_11['State'].value_counts()

CA    2500
NY    2268
PA    1496
FL    1485
TX    1375
NJ    1199
IL    1071
MA     857
VA     791
OH     772
MI     686
GA     679
CO     617
MD     607
NC     580
TN     471
WA     455
CT     449
AZ     395
MN     365
IN     359
WI     336
SC     281
MO     276
OR     273
DC     178
KS     177
NV     163
LA     159
HI     156
RI     156
NH     150
OK     143
IA     133
NE     110
ME     103
AR      80
MT      75
NM      74
DE      73
ID      72
WV      57
VT      50
AK      44
SD      40
ND      37
WY      34
AL      32
MS       1
Name: State, dtype: int64

In [19]:
df_2020_11['Zip'].value_counts()

94558    45
7030     44
11201    38
10022    36
60614    34
         ..
55339     1
30213     1
54983     1
4011      1
26501     1
Name: Zip, Length: 7760, dtype: int64

In [20]:
df_2020_11['Shipping Service'].value_counts()

UPS      12153
FEH       9272
FXG       1129
AZS         94
UP3         87
FEX         59
WCU         39
GSC         29
WCP         28
UP2         22
FXE         19
UP1          5
FXP          2
UPSNS        2
Name: Shipping Service, dtype: int64

In [21]:
df_2020_11['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

11/18/20    6525
11/3/20     3004
11/17/20    1525
11/23/20     927
11/27/20     694
11/24/20     692
11/10/20     534
11/29/20     510
11/26/20     507
11/11/20     489
11/6/20      480
11/16/20     471
11/15/20     459
11/9/20      449
11/20/20     446
11/22/20     426
11/8/20      426
11/2/20      414
11/1/20      412
11/25/20     402
11/13/20     393
11/28/20     349
11/12/20     306
11/4/20      301
11/19/20     290
11/5/20      279
11/21/20     256
10/30/20     218
10/31/20     176
11/7/20      169
11/14/20     156
10/26/20     119
11/30/20      92
10/27/20      11
10/29/20       7
9/30/20        5
10/28/20       4
9/2/20         4
10/20/20       2
10/13/20       2
9/15/20        1
10/14/20       1
10/6/20        1
9/21/20        1
10/7/20        1
10/12/20       1
9/10/20        1
10/16/20       1
10/24/20       1
Name: Created Date, dtype: int64

In [22]:
df_2020_11['Weight'].value_counts()

7.00       7787
21.50      4523
14.00      2813
10.50      1466
41.00      1276
39.00      1118
20.20       843
6.50        568
9.90        506
4.00        345
27.00       260
29.00       227
18.50       219
3.35        149
26.00       124
35.00       111
32.00       109
24.00        74
30.00        73
10.00        59
33.00        54
38.00        49
17.20        46
12.50        26
7.50         20
36.00        17
13.50        16
9.00         15
17.00         9
19.20         8
37.00         4
26.50         4
3.00          3
20.50         3
17.50         3
11.50         2
2016.00       2
14.20         1
13.00         1
28.50         1
384.00        1
720.00        1
21.00         1
15.20         1
5.40          1
1.85          1
Name: Weight, dtype: int64

In [23]:
df_2020_11['Item/Bottle Count'].value_counts()

2       7804
6       5372
4       2822
12      2394
3       1981
1       1193
8        474
5        266
7        207
9        184
10       167
11        50
13        14
14         4
2072       1
128        1
2272       1
24         1
18         1
252        1
240        1
15         1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [24]:
#Change ["Item/Bottle Count"] to float64 type in df_2020_11.
df_2020_11["Item/Bottle Count"]=df_2020_11["Item/Bottle Count"].astype(float)
df_2020_11.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [25]:
#Remove "Status" column from df_2020_11.
df_2020_11 = df_2020_11.drop('Status', axis=1)
df_2020_11

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,11/2/20,Topanga,CA,90290,FEH,10/30/20,6.5,1.0
1,Ecom1,11/2/20,Los Angeles,CA,90012,FEH,10/30/20,6.5,1.0
2,Ecom1,11/2/20,La Verne,CA,91750,FEH,10/30/20,6.5,1.0
3,Ecom1,11/2/20,Lancaster,CA,93536,FEH,10/30/20,6.5,1.0
4,Ecom1,11/2/20,Reseda,CA,91335,FEH,10/30/20,6.5,1.0
...,...,...,...,...,...,...,...,...,...
22935,Winery3,11/30/20,Morgantown,WV,26501,UPS,11/30/20,21.5,6.0
22936,Winery3,11/30/20,Keller,TX,76248,UPS,11/30/20,4.0,1.0
22937,Winery3,11/30/20,Quincy,MA,2169,UPS,11/30/20,21.5,6.0
22938,Winery3,11/30/20,Union City,CA,94587,GSC,11/30/20,21.5,6.0
22939,Winery3,11/30/20,Branson,MO,65616,UPS,11/30/20,21.5,6.0

In [26]:
# Drop the NaNs for df_2020_11.
df_2020_11 = df_2020_11.dropna()

## Confirm Changes

In [27]:
#See five random rows of data
df_2020_11.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
16482,Ecom3,11/20/20,Stamford,CT,6905,UPS,11/19/20,27.0,8.0
13729,Ecom2,11/20/20,North Easton,MA,2356,UPS,11/18/20,7.0,2.0
22419,Ecom3,11/30/20,Haverstraw,NY,10927,FEH,11/29/20,32.0,9.0
5754,Ecom1,11/9/20,Yaphank,NY,11980,FEH,11/8/20,10.5,3.0
10792,Ecom2,11/19/20,Trumbull,CT,6611,FEH,11/18/20,7.0,2.0

In [28]:
#Determine total rows for df_2020_11.
df_2020_11_rows = len(df_2020_11.axes[0])
df_2020_11_cols = len(df_2020_11.axes[1])
print("Number of Rows: ", df_2020_11_rows)
print("Number of Columns: ", df_2020_11_cols)

Number of Rows:  22940
Number of Columns:  9

## Export Cleaned df to .CSV

In [29]:
#Export df_2020_11 to .csv
df_2020_11.to_csv('../cleaned_months_2020/Clean_2020_11.csv')