In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [13]:
# Files to load
load_2020_07 = "../2020_Data/2020.07_updated2.csv"

In [14]:
# Read the July CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_07 = pd.read_csv(load_2020_07)
df_2020_07.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom2,NaN,7/1/20,Keysville,VA,23947,FEH,6/30/20,7.0,1
1,Ecom2,NaN,7/1/20,Jacksonville,FL,32259,FEH,6/30/20,7.0,1
2,Ecom2,NaN,7/1/20,Quakertown,PA,18951,UPS,6/30/20,7.0,1
3,Ecom2,NaN,7/1/20,Thousand Oaks,CA,91362,UPS,6/30/20,7.0,1
4,Winery2,NaN,7/2/20,Aiken,SC,29803,UPS,6/30/20,39.0,12

## Inspect the Data

In [15]:
#See five random rows of data
df_2020_07.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
4853,Ecom1,NaN,7/13/20,ORANGE,MA,1364,FEH,7/12/20,10.0,3
4088,Ecom3,NaN,7/7/20,Beverly Hills,MI,48025,UPS,7/5/20,21.5,6
12417,Ecom2,NaN,7/22/20,Foxboro,MA,2035,UPS,7/20/20,7.0,1
8511,Ecom1,NaN,7/21/20,Round Rock,TX,78664,FEH,7/20/20,20.2,6
14568,Ecom3,NaN,7/20/20,Highland Park,IL,60035,UPS,7/17/20,21.5,6

In [16]:
#See the last rows of data
df_2020_07.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
19486,Winery3,NaN,7/29/20,Napa,CA,94558,WCU,7/29/20,21.5,6
19487,Winery3,NaN,7/29/20,Napa,CA,94558,WCU,7/29/20,29.0,8
19488,Winery3,NaN,7/29/20,Napa,CA,94558,WCU,7/29/20,21.5,6
19489,Winery3,NaN,7/29/20,Napa,CA,94558,WCU,7/29/20,35.0,10
19490,Winery3,NaN,7/29/20,Napa,CA,94558,WCU,7/29/20,21.5,6

In [17]:
df_2020_07.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [18]:
#Determine total rows for df_2020_07.
df_2020_07_rows = len(df_2020_07.axes[0])
df_2020_07_cols = len(df_2020_07.axes[1])
print("Number of Rows: ", df_2020_07_rows)
print("Number of Columns: ", df_2020_07_cols)

Number of Rows:  19491
Number of Columns:  10

In [19]:
# Determine if there are any missing values in df_2020_07.
df_2020_07.isnull().sum()

Company Name             0
Status               19491
Ship Date                0
City                     0
State                    0
Zip                      0
Shipping Service         0
Created Date             0
Weight                   0
Item/Bottle Count        0
dtype: int64

In [20]:
# Determine data types for df_2020_07.
df_2020_07.dtypes

Company Name          object
Status               float64
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count      int64
dtype: object

In [21]:
df_2020_07['Company Name'].value_counts()

Ecom3      10176
Ecom2       5395
Ecom1       3483
Winery1      306
Winery3      101
Winery2       30
Name: Company Name, dtype: int64

In [22]:
df_2020_07['Ship Date'].value_counts()

7/22/20    4147
7/23/20    2222
7/6/20     1239
7/28/20    1064
7/20/20    1025
7/7/20      999
7/13/20     960
7/8/20      797
7/21/20     733
7/14/20     715
7/29/20     666
7/27/20     649
7/1/20      554
7/2/20      516
7/16/20     464
7/31/20     454
7/30/20     453
7/17/20     430
7/10/20     392
7/24/20     362
7/15/20     330
7/9/20      316
7/25/20       4
Name: Ship Date, dtype: int64

In [23]:
df_2020_07['Status'].value_counts()

Series([], Name: Status, dtype: int64)

In [24]:
df_2020_07['City'].value_counts()

New York            349
Chicago             303
Brooklyn            179
Los Angeles         123
Philadelphia        122
                   ...
Eastman               1
Leonard               1
Longport              1
huntington beach      1
Golf                  1
Name: City, Length: 5060, dtype: int64

In [25]:
df_2020_07['State'].value_counts()

NY    2219
CA    2170
NJ    1329
FL    1186
PA    1147
IL    1037
MA     874
TX     825
OH     790
MI     734
VA     611
CT     463
GA     458
MD     452
NC     394
CO     388
IN     367
WA     327
WI     321
MN     307
TN     298
MO     281
LA     210
OR     204
AZ     198
SC     184
RI     173
NH     154
HI     136
ME     128
IA     127
OK     115
DC     103
AR      89
KS      87
NE      78
VT      73
NV      72
NM      65
ID      52
DE      51
MT      43
ND      39
WV      37
WY      28
SD      27
AK      24
AL      16
Name: State, dtype: int64

In [26]:
df_2020_07['Zip'].value_counts()

94558    63
10019    34
7030     28
10022    28
60610    27
         ..
20602     1
37013     1
27591     1
59802     1
60029     1
Name: Zip, Length: 7053, dtype: int64

In [27]:
df_2020_07['Shipping Service'].value_counts()

UPS      9904
FEH      8123
FXG      1055
FEX       228
WCU        52
UP3        45
GSC        32
UP2        29
LSO1       13
AZS         4
FXP         2
SELF        2
UP1         1
UPSNS       1
Name: Shipping Service, dtype: int64

In [28]:
df_2020_07['Created Date'].value_counts()

7/20/20     4034
7/21/20     2467
7/5/20       816
7/16/20      652
7/10/20      621
7/22/20      617
7/12/20      556
7/2/20       535
7/27/20      528
7/1/20       523
7/6/20       492
7/28/20      467
7/8/20       453
7/26/20      443
7/3/20       434
7/29/20      432
7/25/20      432
7/30/20      419
7/7/20       398
7/19/20      394
7/24/20      376
7/15/20      375
6/30/20      352
7/17/20      348
7/9/20       340
7/23/20      335
7/14/20      300
7/13/20      299
7/4/20       277
7/11/20      256
7/31/20      225
7/18/20      220
6/28/20       24
6/29/20       17
6/26/20       12
6/23/20        7
4/22/20        4
6/21/20        3
6/22/20        3
4/15/20        2
10/29/19       1
6/25/20        1
6/27/20        1
Name: Created Date, dtype: int64

In [29]:
df_2020_07['Weight'].value_counts()

21.5    6133
7.0     5690
41.0    2016
39.0     961
10.5     939
        ...
21.0       1
16.5       1
26.2       1
15.0       1
25.0       1
Name: Weight, Length: 64, dtype: int64

In [30]:
df_2020_07['Item/Bottle Count'].value_counts()

6     6926
1     5600
12    2971
3     1699
4      587
8      469
2      299
7      270
5      218
10     168
9      167
11      48
13      26
14      22
15      10
17       3
16       3
24       3
21       1
18       1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [31]:
#Change ["Item/Bottle Count"] to float64 type in df_2020_07.
df_2020_07["Item/Bottle Count"]=df_2020_07["Item/Bottle Count"].astype(float)
df_2020_07.dtypes

Company Name          object
Status               float64
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [32]:
#Remove "Status" column from df_2020_07.
df_2020_07 = df_2020_07.drop('Status', axis=1)
df_2020_07

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom2,7/1/20,Keysville,VA,23947,FEH,6/30/20,7.0,1.0
1,Ecom2,7/1/20,Jacksonville,FL,32259,FEH,6/30/20,7.0,1.0
2,Ecom2,7/1/20,Quakertown,PA,18951,UPS,6/30/20,7.0,1.0
3,Ecom2,7/1/20,Thousand Oaks,CA,91362,UPS,6/30/20,7.0,1.0
4,Winery2,7/2/20,Aiken,SC,29803,UPS,6/30/20,39.0,12.0
...,...,...,...,...,...,...,...,...,...
19486,Winery3,7/29/20,Napa,CA,94558,WCU,7/29/20,21.5,6.0
19487,Winery3,7/29/20,Napa,CA,94558,WCU,7/29/20,29.0,8.0
19488,Winery3,7/29/20,Napa,CA,94558,WCU,7/29/20,21.5,6.0
19489,Winery3,7/29/20,Napa,CA,94558,WCU,7/29/20,35.0,10.0
19490,Winery3,7/29/20,Napa,CA,94558,WCU,7/29/20,21.5,6.0

In [33]:
# Drop the NaNs for df_2020_07.
df_2020_07 = df_2020_07.dropna()

## Confirm Changes

In [34]:
#See five random rows of data
df_2020_07.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
6765,Ecom3,7/14/20,Henrico,VA,23229-8402,UPS,7/11/20,29.0,8.0
17667,Ecom3,7/29/20,Concord,MA,1742,FEH,7/28/20,21.5,6.0
4041,Ecom3,7/7/20,Church Hill,TN,37642,UPS,7/5/20,21.5,6.0
6345,Ecom3,7/13/20,fort myers,FL,33905,UPS,7/10/20,21.5,6.0
2382,Ecom3,7/6/20,San Mateo,CA,94402,UPS,7/2/20,21.5,6.0

In [35]:
#Determine total rows for df_2020_07.
df_2020_07_rows = len(df_2020_07.axes[0])
df_2020_07_cols = len(df_2020_07.axes[1])
print("Number of Rows: ", df_2020_07_rows)
print("Number of Columns: ", df_2020_07_cols)

Number of Rows:  19491
Number of Columns:  9

## Export Cleaned df to .CSV

In [36]:
#Export df_2020_07 to .csv
df_2020_07.to_csv('../cleaned_months_2020/Clean_2020_07.csv')