In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2020_09 = "../../2020_Data/2020.09.csv"

In [3]:
# Read the September CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_09 = pd.read_csv(load_2020_09)
df_2020_09.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,Delivered,9/1/20,Seattle,WA,98115,FEH,8/25/20,20.2,6
1,Ecom1,Delivered,9/1/20,Rochester,NY,14610,FEH,8/28/20,20.2,6
2,Ecom1,Carrier Exception,9/1/20,Chicago,IL,60625,FEH,8/28/20,20.2,6
3,Ecom1,Delivered,9/1/20,Paradise Valley,AZ,85253,FEH,8/28/20,10.5,3
4,Ecom1,Delivered,9/1/20,Jersey City,NJ,7302,FEH,8/28/20,20.2,6

## Inspect the Data

In [4]:
#See five random rows of data
df_2020_09.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
8326,Ecom3,Delivered,9/17/20,Potomac,MD,20854,FEH,9/17/20,21.5,6
18531,Ecom3,Delivered,9/23/20,Issaquah,WA,98029,UPS,9/22/20,21.5,6
18057,Ecom2,In Transit,9/23/20,Valparaiso,IN,46385,FEH,9/20/20,7.0,1
21278,Ecom3,Delivered,9/30/20,Millbrae,CA,94030,UPS,9/28/20,9.9,3
1573,Ecom3,Delivered,9/1/20,Norfolk,VA,23503-1419,UPS,9/1/20,21.5,6

In [5]:
#See the last rows of data
df_2020_09.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
22272,Ecom3,In Transit,9/28/20,Cumming,GA,30041,UPS,9/26/20,3.35,1
22273,Ecom3,Delivered,9/28/20,Palm City,FL,34990,UPS,9/26/20,21.50,6
22274,Ecom3,In Transit,9/30/20,manhattan beach,CA,90266,UPS,9/28/20,21.50,6
22275,Ecom3,Delivered,9/28/20,Smithtown,NY,11787,FEH,9/25/20,21.50,6
22276,Ecom3,Delivered,9/28/20,Glendale,CA,91210,UPS,9/25/20,21.50,6

In [6]:
df_2020_09.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [7]:
#Determine total rows for df_2020_09.
df_2020_09_rows = len(df_2020_09.axes[0])
df_2020_09_cols = len(df_2020_09.axes[1])
print("Number of Rows: ", df_2020_09_rows)
print("Number of Columns: ", df_2020_09_cols)

Number of Rows:  22277
Number of Columns:  10

In [8]:
# Determine if there are any missing values in df_2020_09.
df_2020_09.isnull().sum()

Company Name         0
Status               0
Ship Date            0
City                 0
State                0
Zip                  0
Shipping Service     0
Created Date         0
Weight               0
Item/Bottle Count    0
dtype: int64

In [9]:
# Determine data types for df_2020_09.
df_2020_09.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count      int64
dtype: object

In [10]:
df_2020_09['Company Name'].value_counts()

Ecom3      8812
Ecom2      7335
Ecom1      3233
Winery1    2845
Winery2      52
Name: Company Name, dtype: int64

In [11]:
df_2020_09['Ship Date'].value_counts()

9/23/20    4939
9/22/20    3538
9/18/20    2466
9/16/20    1170
9/21/20    1059
9/14/20     939
9/8/20      837
9/28/20     823
9/15/20     649
9/7/20      630
9/9/20      613
9/1/20      602
9/29/20     557
9/25/20     531
9/2/20      451
9/3/20      392
9/4/20      390
9/30/20     386
9/11/20     378
9/17/20     344
9/24/20     315
9/10/20     268
Name: Ship Date, dtype: int64

In [12]:
df_2020_09['Status'].value_counts()

Delivered            11729
In Transit            8068
Shipped               2175
Carrier Exception      192
Delivery Attempt       113
Name: Status, dtype: int64

In [13]:
df_2020_09['City'].value_counts()

New York           386
Chicago            263
Atlanta            178
Brooklyn           178
Houston            175
                  ...
South Fork           1
Getzville            1
Broadview            1
Silverton            1
manhattan beach      1
Name: City, Length: 5218, dtype: int64

In [14]:
df_2020_09['State'].value_counts()

CA    2099
NY    1987
FL    1755
TX    1568
PA    1392
NJ    1149
IL     992
MA     817
GA     808
OH     738
VA     718
MI     664
CO     661
NC     595
MD     536
TN     465
CT     425
WA     407
AZ     384
IN     359
SC     344
MN     339
WI     288
MO     248
OR     205
LA     194
OK     190
NV     177
KS     175
DC     167
HI     137
IA     136
NH     128
RI     124
AR     110
ME     104
ID     102
NM      97
NE      94
VT      75
DE      65
WV      59
MT      52
AK      35
AL      33
WY      27
SD      27
ND      26
Name: State, dtype: int64

In [15]:
df_2020_09['Zip'].value_counts()

11201    37
60618    33
10019    31
10011    30
37205    26
         ..
70114     1
23227     1
17740     1
7850      1
91210     1
Name: Zip, Length: 7628, dtype: int64

In [16]:
df_2020_09['Shipping Service'].value_counts()

UPS    11741
FEH     9016
FXG     1188
FEX      183
AZS       82
UP2       42
WCU       11
UP1        5
GSC        5
UP3        4
Name: Shipping Service, dtype: int64

In [17]:
df_2020_09['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

9/20/20    7839
9/15/20    2749
9/7/20      866
9/1/20      656
9/22/20     605
9/28/20     554
9/6/20      518
9/18/20     510
9/14/20     509
9/16/20     492
9/12/20     479
9/17/20     473
9/2/20      431
9/23/20     428
9/13/20     408
9/8/20      384
9/21/20     341
9/4/20      328
9/24/20     324
9/25/20     322
9/11/20     315
9/26/20     315
9/19/20     310
9/27/20     306
9/29/20     289
9/5/20      286
9/3/20      270
9/9/20      263
9/10/20     245
8/31/20     228
9/30/20      68
8/29/20      41
8/30/20      36
8/28/20      28
8/24/20      24
8/25/20      17
8/27/20      11
8/26/20       2
8/22/20       2
8/20/20       2
7/13/20       2
8/13/20       1
Name: Created Date, dtype: int64

In [18]:
df_2020_09['Weight'].value_counts()

7.00     7786
21.50    4833
14.00    2716
41.00    1520
10.50    1507
39.00    1034
20.20     944
9.90      438
18.50     244
29.00     243
27.00     164
32.00     130
38.00     119
26.00     118
35.00     115
3.35      100
24.00      35
17.20      31
4.00       30
30.00      26
33.00      24
19.20      20
20.50      16
7.50       15
37.00      12
9.50       10
13.50       7
36.00       7
5.00        6
18.20       4
17.00       4
3.00        3
14.20       3
25.00       2
23.00       2
16.20       2
8.50        2
44.00       1
31.00       1
15.20       1
22.00       1
13.00       1
Name: Weight, dtype: int64

In [19]:
df_2020_09['Item/Bottle Count'].value_counts()

1     7483
6     5793
4     2742
12    2556
3     1961
2      449
8      399
5      275
7      174
9      158
10     136
13      86
11      40
14      13
18       4
24       4
15       2
20       1
16       1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [20]:
#Change ["Item/Bottle Count"] to float64 type in df_2020_09.
df_2020_09["Item/Bottle Count"]=df_2020_09["Item/Bottle Count"].astype(float)
df_2020_09.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [21]:
#Remove "Status" column from df_2020_09.
df_2020_09 = df_2020_09.drop('Status', axis=1)
df_2020_09

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,9/1/20,Seattle,WA,98115,FEH,8/25/20,20.20,6.0
1,Ecom1,9/1/20,Rochester,NY,14610,FEH,8/28/20,20.20,6.0
2,Ecom1,9/1/20,Chicago,IL,60625,FEH,8/28/20,20.20,6.0
3,Ecom1,9/1/20,Paradise Valley,AZ,85253,FEH,8/28/20,10.50,3.0
4,Ecom1,9/1/20,Jersey City,NJ,7302,FEH,8/28/20,20.20,6.0
...,...,...,...,...,...,...,...,...,...
22272,Ecom3,9/28/20,Cumming,GA,30041,UPS,9/26/20,3.35,1.0
22273,Ecom3,9/28/20,Palm City,FL,34990,UPS,9/26/20,21.50,6.0
22274,Ecom3,9/30/20,manhattan beach,CA,90266,UPS,9/28/20,21.50,6.0
22275,Ecom3,9/28/20,Smithtown,NY,11787,FEH,9/25/20,21.50,6.0
22276,Ecom3,9/28/20,Glendale,CA,91210,UPS,9/25/20,21.50,6.0

In [22]:
# Drop the NaNs for df_2020_09.
df_2020_09 = df_2020_09.dropna()

## Confirm Changes

In [23]:
#See five random rows of data
df_2020_09.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
13819,Ecom2,9/22/20,Las Vegas,NV,89117,FEH,9/20/20,7.0,1.0
16823,Ecom2,9/23/20,Atlanta,GA,30342,FEH,9/20/20,7.0,1.0
2657,Ecom3,9/8/20,La Crescenta,CA,91214,UPS,9/6/20,29.0,8.0
5674,Winery1,9/18/20,Shrewsbury,MA,1545,UPS,9/15/20,14.0,4.0
5893,Winery1,9/18/20,FOND DU LAC,WI,54937,UPS,9/15/20,14.0,4.0

In [24]:
#Determine total rows for df_2020_09.
df_2020_09_rows = len(df_2020_09.axes[0])
df_2020_09_cols = len(df_2020_09.axes[1])
print("Number of Rows: ", df_2020_09_rows)
print("Number of Columns: ", df_2020_09_cols)

Number of Rows:  22277
Number of Columns:  9

## Export Cleaned df to .CSV

In [25]:
#Export df_2020_09 to .csv
df_2020_09.to_csv('../cleaned_months_2020/Clean_2020_09.csv')