In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2020_06 = "../../2020_Data/2020.06.csv"

In [3]:
# Read the June CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_06 = pd.read_csv(load_2020_06)
df_2020_06.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,Delivered,6/2/2020,Denver,CO,80220,FEH,6/1/2020,20.2,6
1,Ecom1,Delivered,6/2/2020,Baltimore,MD,21214,FEH,5/22/2020,39.0,12
2,Ecom1,Delivered,6/2/2020,Baltimore,MD,21214,FEH,5/22/2020,20.2,6
3,Ecom1,Delivered,6/3/2020,Temecula,CA,92591,FEH,5/27/2020,10.5,3
4,Ecom1,Delivered,6/3/2020,Highlands Ranch,CO,80130,FEH,5/27/2020,10.5,3

## Inspect the Data

In [4]:
#See five random rows of data
df_2020_06.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
15916,Ecom1,Shipped,6/23/2020,Gainesville,GA,30506,FEH,6/22/2020,39.0,12
15827,Ecom1,Shipped,6/23/2020,Sherman oaks,CA,91403,FXG,6/21/2020,10.5,3
4674,Ecom3,Delivered,6/8/2020,San Antonio,TX,78232,UPS,6/4/2020,21.5,6
8378,Ecom2,Shipped,6/19/2020,Apollo Beach,FL,33572,FEH,6/19/2020,7.0,1
15531,Ecom3,Delivered,6/15/2020,Pullman,WA,99163,UPS,6/14/2020,9.9,3

In [5]:
#See the last rows of data
df_2020_06.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
19451,Winery3,Delivered,6/26/2020,Sparks Glencoe,MD,21152,UPS,6/26/2020,10.0,3
19452,Winery3,Delivered,6/26/2020,New York,NY,10023,UPS,6/26/2020,19.5,6
19453,Winery3,Delivered,6/26/2020,Fairfax,VA,22030,UPS,6/26/2020,20.2,6
19454,Winery3,Delivered,7/2/2020,China Grove,NC,28023,UPS,7/2/2020,10.5,3
19455,Winery3,Delivered,7/2/2020,San Clemente,CA,92672,GSC,7/2/2020,10.5,3

In [6]:
df_2020_06.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [7]:
#Determine total rows for df_2020_06.
df_2020_06_rows = len(df_2020_06.axes[0])
df_2020_06_cols = len(df_2020_06.axes[1])
print("Number of Rows: ", df_2020_06_rows)
print("Number of Columns: ", df_2020_06_cols)

Number of Rows:  19456
Number of Columns:  10

In [8]:
# Determine if there are any missing values in df_2020_06.
df_2020_06.isnull().sum()

Company Name         0
Status               0
Ship Date            0
City                 0
State                0
Zip                  0
Shipping Service     0
Created Date         0
Weight               0
Item/Bottle Count    0
dtype: int64

In [9]:
# Determine data types for df_2020_06.
df_2020_06.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count      int64
dtype: object

In [10]:
df_2020_06['Company Name'].value_counts()

Ecom3      8090
Ecom2      7106
Ecom1      3772
Winery1     386
Winery3      67
Winery2      35
Name: Company Name, dtype: int64

In [11]:
df_2020_06['Ship Date'].value_counts()

6/19/2020    7164
6/15/2020    1468
6/1/2020     1245
6/22/2020    1156
6/10/2020    1141
6/8/2020     1082
6/23/2020     714
6/17/2020     676
6/3/2020      578
6/2/2020      562
7/1/2020      554
7/2/2020      516
6/24/2020     459
6/18/2020     365
6/16/2020     341
6/4/2020      251
6/5/2020      209
6/26/2020     207
6/11/2020     201
6/9/2020      154
6/12/2020     151
6/13/2020     131
6/25/2020     131
Name: Ship Date, dtype: int64

In [12]:
df_2020_06['Status'].value_counts()

Shipped              10017
Delivered             7777
In Transit            1548
Carrier Exception       94
Delivery Attempt        20
Name: Status, dtype: int64

In [13]:
df_2020_06['City'].value_counts()

New York          307
Chicago           253
Brooklyn          171
Philadelphia      160
Washington        142
                 ...
Poquoson            1
Niskayuna           1
Spotswood           1
West Henrietta      1
China Grove         1
Name: City, Length: 5083, dtype: int64

In [14]:
df_2020_06['State'].value_counts()

NY    2051
CA    1819
PA    1472
FL    1453
NJ    1121
TX    1038
IL     903
MA     785
VA     670
OH     664
MI     663
GA     614
MD     542
NC     513
CO     485
CT     383
WA     345
IN     307
TN     305
AZ     271
MN     265
SC     249
MO     249
WI     240
OR     174
LA     173
DC     141
NH     141
RI     134
NV     120
IA     113
NE     110
KS     109
HI     105
ME      91
OK      90
NM      74
AR      69
VT      57
ID      57
WV      56
DE      54
MT      42
AK      40
WY      29
ND      26
AL      22
SD      22
Name: State, dtype: int64

In [15]:
df_2020_06['Zip'].value_counts()

33149    34
10019    31
60618    29
60657    28
19103    24
         ..
32310     1
53916     1
33776     1
31326     1
28023     1
Name: Zip, Length: 7233, dtype: int64

In [16]:
df_2020_06['Shipping Service'].value_counts()

FEH     9136
UPS     8893
FXG     1048
FEX      267
UP2       28
LSO1      23
FXO       22
GSC       14
AZS       10
UP3        7
WCU        4
UP1        3
UPS7       1
Name: Shipping Service, dtype: int64

In [17]:
df_2020_06['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

6/18/2020    4606
6/19/2020    3016
6/4/2020      668
6/3/2020      657
6/5/2020      575
6/1/2020      564
6/17/2020     559
6/7/2020      538
6/12/2020     525
6/16/2020     513
6/2/2020      510
6/21/2020     474
6/22/2020     458
7/1/2020      458
6/24/2020     384
6/14/2020     382
5/31/2020     373
6/11/2020     372
6/9/2020      344
6/15/2020     341
5/30/2020     329
6/10/2020     323
6/23/2020     322
6/30/2020     317
5/29/2020     296
6/20/2020     241
7/2/2020      223
6/13/2020     218
6/6/2020      217
6/8/2020      207
6/25/2020     103
6/26/2020     101
5/28/2020      41
5/26/2020      40
5/27/2020      35
6/28/2020      23
5/22/2020      23
6/29/2020      17
5/25/2020      14
5/12/2020       9
5/23/2020       6
5/16/2020       5
4/22/2020       4
5/20/2020       4
5/17/2020       3
5/13/2020       3
5/24/2020       3
5/9/2020        2
5/21/2020       2
4/15/2020       2
5/7/2020        1
3/31/2020       1
12/3/2019       1
5/18/2020       1
5/19/2020       1
5/15/2020       1
Name: Created Date, dtype: int64

In [18]:
df_2020_06['Weight'].value_counts()

7.00     7427
21.50    3856
41.00    1356
10.50    1278
20.20    1215
14.00    1036
39.00     937
9.90      480
18.50     338
29.00     268
26.00     162
10.00     146
35.00     115
27.00     111
32.00     106
3.35       93
19.20      85
4.00       47
30.00      43
24.00      42
13.50      37
19.00      37
38.00      36
20.50      28
9.50       25
37.00      22
17.20      16
11.50      15
19.50      14
20.00      14
33.00      10
36.00       8
18.20       6
13.00       6
23.00       4
13.20       4
28.00       3
2.00        3
31.20       3
6.00        2
34.00       2
22.20       2
40.00       2
14.20       1
22.00       1
42.00       1
17.00       1
5.00        1
7.50        1
29.20       1
2.35        1
12.20       1
31.00       1
16.20       1
1.85        1
3.00        1
17.50       1
8.20        1
21.00       1
Name: Weight, dtype: int64

In [19]:
df_2020_06['Item/Bottle Count'].value_counts()

1     7285
6     5058
12    2299
3     1885
4     1202
5      358
8      344
2      339
7      326
9      150
10     126
11      33
14      23
13      17
24       3
16       3
15       3
17       2
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [20]:
#Change ["Item/Bottle Count"] to float64 type in df_2020_06.
df_2020_06["Item/Bottle Count"]=df_2020_06["Item/Bottle Count"].astype(float)
df_2020_06.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [21]:
#Remove "Status" column from df_2020_06.
df_2020_06 = df_2020_06.drop('Status', axis=1)
df_2020_06

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,6/2/2020,Denver,CO,80220,FEH,6/1/2020,20.2,6.0
1,Ecom1,6/2/2020,Baltimore,MD,21214,FEH,5/22/2020,39.0,12.0
2,Ecom1,6/2/2020,Baltimore,MD,21214,FEH,5/22/2020,20.2,6.0
3,Ecom1,6/3/2020,Temecula,CA,92591,FEH,5/27/2020,10.5,3.0
4,Ecom1,6/3/2020,Highlands Ranch,CO,80130,FEH,5/27/2020,10.5,3.0
...,...,...,...,...,...,...,...,...,...
19451,Winery3,6/26/2020,Sparks Glencoe,MD,21152,UPS,6/26/2020,10.0,3.0
19452,Winery3,6/26/2020,New York,NY,10023,UPS,6/26/2020,19.5,6.0
19453,Winery3,6/26/2020,Fairfax,VA,22030,UPS,6/26/2020,20.2,6.0
19454,Winery3,7/2/2020,China Grove,NC,28023,UPS,7/2/2020,10.5,3.0
19455,Winery3,7/2/2020,San Clemente,CA,92672,GSC,7/2/2020,10.5,3.0

In [22]:
# Drop the NaNs for df_2020_06.
df_2020_06 = df_2020_06.dropna()

In [ ]:
df_2020_06=df_2020_06.reset_index()
df_2020_06

## Confirm Changes

In [23]:
#See five random rows of data
df_2020_06.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
15365,Ecom3,6/17/2020,Glen Mills,PA,19342,UPS,6/16/2020,21.5,6.0
7766,Ecom2,6/19/2020,Montgomery,TX,77316,FEH,6/19/2020,7.0,1.0
18180,Ecom3,6/22/2020,Midlothian,VA,23113,UPS,6/18/2020,21.5,6.0
1935,Ecom3,6/1/2020,Richmond,VA,23221,UPS,5/30/2020,14.0,4.0
16016,Ecom1,6/24/2020,Marietta,GA,30062,FEH,6/24/2020,20.2,6.0

In [24]:
#Determine total rows for df_2020_06.
df_2020_06_rows = len(df_2020_06.axes[0])
df_2020_06_cols = len(df_2020_06.axes[1])
print("Number of Rows: ", df_2020_06_rows)
print("Number of Columns: ", df_2020_06_cols)

Number of Rows:  19456
Number of Columns:  9

## Export Cleaned df to .CSV

In [25]:
#Export df_2020_06 to .csv
df_2020_06.to_csv('../cleaned_months_2020/Clean_2020_06.csv')