In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2020_09 = "../../2020_Data/2020.09.csv"

In [3]:
# Read the September CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_09 = pd.read_csv(load_2020_09)
df_2020_09.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,Delivered,9/1/2020,Seattle,WA,98115,FEH,8/25/2020,20.2,6
1,Ecom1,Delivered,9/1/2020,Rochester,NY,14610,FEH,8/28/2020,20.2,6
2,Ecom1,Carrier Exception,9/1/2020,Chicago,IL,60625,FEH,8/28/2020,20.2,6
3,Ecom1,Delivered,9/1/2020,Paradise Valley,AZ,85253,FEH,8/28/2020,10.5,3
4,Ecom1,Delivered,9/1/2020,Jersey City,NJ,7302,FEH,8/28/2020,20.2,6

## Inspect the Data

In [4]:
#See five random rows of data
df_2020_09.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
11379,Ecom2,In Transit,9/23/2020,Bristow,VA,20136,FEH,9/20/2020,7.0,1
6188,Winery1,Delivered,9/16/2020,Sherman Oaks,CA,91403,UPS,9/15/2020,14.0,4
7017,Winery1,In Transit,9/18/2020,Kansas City,MO,64106,UPS,9/15/2020,14.0,4
12789,Ecom2,In Transit,9/23/2020,Pensacola,FL,32505,FEH,9/20/2020,7.0,1
5013,Winery1,Shipped,9/18/2020,Greenwood Village,CO,80111,UPS,9/14/2020,39.0,12

In [5]:
#See the last rows of data
df_2020_09.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
22439,Winery3,Delivered,9/28/2020,LOS ANGELES,CA,90064,GSC,9/28/2020,10.5,3
22440,Winery3,Delivered,9/28/2020,SEATTLE,WA,98199,UPS,9/28/2020,20.2,6
22441,Winery3,Delivered,9/28/2020,Boise,ID,83712,UPS,9/28/2020,10.5,3
22442,Winery3,Delivered,9/28/2020,Los Angeles,CA,90039,GSC,9/28/2020,10.5,3
22443,Winery3,Delivered,9/28/2020,Bakersfield,CA,93311,GSC,9/28/2020,10.5,3

In [6]:
df_2020_09.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [7]:
#Determine total rows for df_2020_09.
df_2020_09_rows = len(df_2020_09.axes[0])
df_2020_09_cols = len(df_2020_09.axes[1])
print("Number of Rows: ", df_2020_09_rows)
print("Number of Columns: ", df_2020_09_cols)

Number of Rows:  22444
Number of Columns:  10

In [8]:
# Determine if there are any missing values in df_2020_09.
df_2020_09.isnull().sum()

Company Name         0
Status               0
Ship Date            0
City                 0
State                0
Zip                  0
Shipping Service     0
Created Date         0
Weight               0
Item/Bottle Count    0
dtype: int64

In [9]:
# Determine data types for df_2020_09.
df_2020_09.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count      int64
dtype: object

In [10]:
df_2020_09['Company Name'].value_counts()

Ecom3      8812
Ecom2      7335
Ecom1      3233
Winery1    2845
Winery3     167
Winery2      52
Name: Company Name, dtype: int64

In [11]:
df_2020_09['Ship Date'].value_counts()

9/23/2020    4939
9/22/2020    3539
9/18/2020    2469
9/16/2020    1171
9/21/2020    1060
9/14/2020     945
9/8/2020      847
9/28/2020     832
9/15/2020     650
9/7/2020      630
9/9/2020      617
9/1/2020      603
9/29/2020     557
9/25/2020     554
9/2/2020      451
9/11/2020     422
9/3/2020      394
9/4/2020      390
9/30/2020     386
9/17/2020     344
9/10/2020     329
9/24/2020     315
Name: Ship Date, dtype: int64

In [12]:
df_2020_09['Status'].value_counts()

Delivered            11871
In Transit            8090
Shipped               2175
Carrier Exception      193
Delivery Attempt       115
Name: Status, dtype: int64

In [13]:
df_2020_09['City'].value_counts()

New York         387
Chicago          265
Brooklyn         179
Atlanta          179
Houston          175
                ...
BREAUX BRIDGE      1
Killingworth       1
PLEASANTVILLE      1
eagan              1
Franconia          1
Name: City, Length: 5239, dtype: int64

In [14]:
df_2020_09['State'].value_counts()

CA    2178
NY    1993
FL    1761
TX    1572
PA    1394
NJ    1154
IL     996
MA     825
GA     811
OH     740
VA     721
MI     665
CO     664
NC     600
MD     538
TN     465
CT     426
WA     409
AZ     403
IN     360
SC     344
MN     341
WI     289
MO     251
OR     205
LA     194
OK     190
NV     178
KS     175
DC     167
HI     137
IA     136
NH     129
RI     124
AR     110
ME     105
ID     103
NM      97
NE      94
VT      75
DE      65
WV      59
MT      52
AK      35
AL      34
WY      27
SD      27
ND      26
Name: State, dtype: int64

In [15]:
df_2020_09['Zip'].value_counts()

11201    37
60618    33
10019    31
10011    30
37205    26
         ..
23503     1
45238     1
32958     1
85929     1
3580      1
Name: Zip, Length: 7643, dtype: int64

In [16]:
df_2020_09['Shipping Service'].value_counts()

UPS     11804
FEH      9016
FXG      1190
FEX       183
GSC        84
AZS        82
UP2        45
SELF       19
WCU        11
UP1         5
UP3         5
Name: Shipping Service, dtype: int64

In [17]:
df_2020_09['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

9/20/2020    7839
9/15/2020    2750
9/7/2020      866
9/1/2020      657
9/22/2020     606
9/28/2020     563
9/6/2020      518
9/14/2020     515
9/18/2020     513
9/16/2020     493
9/12/2020     479
9/17/2020     473
9/2/2020      431
9/23/2020     428
9/13/2020     408
9/8/2020      394
9/11/2020     359
9/25/2020     345
9/21/2020     342
9/4/2020      328
9/24/2020     324
9/26/2020     315
9/19/2020     310
9/10/2020     306
9/27/2020     306
9/29/2020     289
9/5/2020      286
9/3/2020      272
9/9/2020      267
8/31/2020     228
9/30/2020      68
8/29/2020      41
8/30/2020      36
8/28/2020      28
8/24/2020      24
8/25/2020      17
8/27/2020      11
8/26/2020       2
8/22/2020       2
8/20/2020       2
7/13/2020       2
8/13/2020       1
Name: Created Date, dtype: int64

In [18]:
df_2020_09['Weight'].value_counts()

7.00     7786
21.50    4833
14.00    2718
10.50    1603
41.00    1520
39.00    1042
20.20     999
9.90      438
18.50     244
29.00     243
27.00     164
32.00     130
38.00     119
26.00     118
35.00     115
3.35      100
24.00      38
17.20      31
4.00       30
30.00      26
33.00      24
19.20      21
20.50      16
7.50       15
37.00      12
9.50       11
36.00       8
13.50       7
5.00        6
18.20       4
17.00       4
3.00        3
14.20       3
25.00       2
23.00       2
16.20       2
8.50        2
44.00       1
31.00       1
15.20       1
22.00       1
13.00       1
Name: Weight, dtype: int64

In [19]:
df_2020_09['Item/Bottle Count'].value_counts()

1     7483
6     5848
4     2745
12    2564
3     2057
2      449
8      399
5      275
7      178
9      158
10     136
13      86
11      41
14      13
18       4
24       4
15       2
20       1
16       1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [20]:
#Change ["Item/Bottle Count"] to float64 type in df_2020_09.
df_2020_09["Item/Bottle Count"]=df_2020_09["Item/Bottle Count"].astype(float)
df_2020_09.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [21]:
#Remove "Status" column from df_2020_09.
df_2020_09 = df_2020_09.drop('Status', axis=1)
df_2020_09

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,9/1/2020,Seattle,WA,98115,FEH,8/25/2020,20.2,6.0
1,Ecom1,9/1/2020,Rochester,NY,14610,FEH,8/28/2020,20.2,6.0
2,Ecom1,9/1/2020,Chicago,IL,60625,FEH,8/28/2020,20.2,6.0
3,Ecom1,9/1/2020,Paradise Valley,AZ,85253,FEH,8/28/2020,10.5,3.0
4,Ecom1,9/1/2020,Jersey City,NJ,7302,FEH,8/28/2020,20.2,6.0
...,...,...,...,...,...,...,...,...,...
22439,Winery3,9/28/2020,LOS ANGELES,CA,90064,GSC,9/28/2020,10.5,3.0
22440,Winery3,9/28/2020,SEATTLE,WA,98199,UPS,9/28/2020,20.2,6.0
22441,Winery3,9/28/2020,Boise,ID,83712,UPS,9/28/2020,10.5,3.0
22442,Winery3,9/28/2020,Los Angeles,CA,90039,GSC,9/28/2020,10.5,3.0
22443,Winery3,9/28/2020,Bakersfield,CA,93311,GSC,9/28/2020,10.5,3.0

In [22]:
# Drop the NaNs for df_2020_09.
df_2020_09 = df_2020_09.dropna()

In [ ]:
df_2020_09=df_2020_09.reset_index()
df_2020_09

## Confirm Changes

In [23]:
#See five random rows of data
df_2020_09.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
5951,Winery1,9/18/2020,Corcoran,MN,55340,UPS,9/15/2020,14.0,4.0
7451,Ecom1,9/14/2020,Cedar Rapids,IA,52403,FEH,9/13/2020,20.2,6.0
22058,Ecom3,9/28/2020,Kenner,LA,70065,UPS,9/27/2020,21.5,6.0
4831,Ecom1,9/16/2020,Rocky Mount,NC,27803,FEH,9/16/2020,20.2,6.0
19200,Ecom3,9/22/2020,Greenwood Village,CO,80111,UPS,9/22/2020,41.0,12.0

In [24]:
#Determine total rows for df_2020_09.
df_2020_09_rows = len(df_2020_09.axes[0])
df_2020_09_cols = len(df_2020_09.axes[1])
print("Number of Rows: ", df_2020_09_rows)
print("Number of Columns: ", df_2020_09_cols)

Number of Rows:  22444
Number of Columns:  9

## Export Cleaned df to .CSV

In [25]:
#Export df_2020_09 to .csv
df_2020_09.to_csv('../cleaned_months_2020/Clean_2020_09.csv')