In [2]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [5]:
# Files to load
load_2020_02 = "../../2020_Data/2020.02copy.csv"

In [6]:
# Read the February CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_02 = pd.read_csv(load_2020_02)
df_2020_02.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,In Transit,2/5/20,Iowa City,IA,52242,FXG,2/5/20,21.5,6.0
1,Ecom3,Delivered,2/6/20,MARLBORO,NJ,7746,UPS,2/6/20,41.0,12.0
2,Ecom3,Delivered,2/6/20,MARLBORO,NJ,7746,UPS,2/6/20,21.5,6.0
3,Ecom3,Delivered,2/4/20,Sacramento,CA,95818,UPS,2/4/20,14.0,4.0
4,Ecom3,Delivered,2/5/20,Williamsburg,VA,23185,UPS,2/5/20,21.5,6.0

## Inspect the Data

In [7]:
#See five random rows of data
df_2020_02.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
182,Ecom3,Delivered,2/3/20,Winston-Salem,NC,27106,UPS,2/3/20,21.5,6.0
4605,Winery1,Shipped,2/14/20,Cape Elizabeth,ME,4107,UPS,2/11/20,14.0,4.0
2125,Ecom3,In Transit,2/14/20,Chicago,IL,60611,UPS,2/14/20,21.5,6.0
4529,Winery1,In Transit,2/14/20,Chico,CA,95973,UPS,2/11/20,14.0,4.0
3390,Ecom1,Delivered,2/13/20,Clifton,NJ,7013,FEH,2/12/20,10.5,3.0

In [8]:
#See the last rows of data
df_2020_02.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
8901,Winery3,NaN,2/28/20,Novelty,OH,44072,UPS,NaN,NaN,NaN
8902,Winery3,NaN,2/28/20,Niles,OH,44446,UPS,NaN,NaN,NaN
8903,Winery3,NaN,2/28/20,Cornelius,NC,28031,UPS,NaN,NaN,NaN
8904,Winery3,NaN,2/28/20,Napa,CA,94558,WCU,NaN,NaN,NaN
8905,Winery3,NaN,2/28/20,Napa,CA,94558,WCU,NaN,NaN,NaN

In [9]:
df_2020_02.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [10]:
#Determine total rows for df_2020_02.
df_2020_02_rows = len(df_2020_02.axes[0])
df_2020_02_cols = len(df_2020_02.axes[1])
print("Number of Rows: ", df_2020_02_rows)
print("Number of Columns: ", df_2020_02_cols)

Number of Rows:  8906
Number of Columns:  10

In [11]:
# Determine if there are any missing values in df_2020_02.
df_2020_02.isnull().sum()

Company Name           0
Status               439
Ship Date              0
City                   0
State                  0
Zip                    0
Shipping Service       0
Created Date         439
Weight               439
Item/Bottle Count    439
dtype: int64

In [12]:
# Determine data types for df_2020_02.
df_2020_02.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [13]:
df_2020_02['Company Name'].value_counts()
#ECOM2 did not ship, instead they held orders in 2020.02.
#Waiting for information on Winery3.

Ecom3      3725
Winery1    2585
Ecom1      2116
Winery3     439
Winery2      41
Name: Company Name, dtype: int64

In [14]:
df_2020_02['Ship Date'].value_counts()

2/14/20    2004
2/3/20      732
2/24/20     713
2/12/20     673
2/17/20     585
2/21/20     542
2/5/20      404
2/28/20     358
2/26/20     348
2/10/20     348
2/25/20     250
2/7/20      236
2/11/20     230
2/6/20      223
2/27/20     216
2/20/20     203
2/19/20     201
2/18/20     162
2/29/20     144
2/4/20      124
2/13/20     105
2/2/20      105
Name: Ship Date, dtype: int64

In [15]:
df_2020_02['Status'].value_counts()

Delivered            4527
Shipped              2092
In Transit           1674
Carrier Exception     142
Delivery Attempt       32
Name: Status, dtype: int64

In [16]:
df_2020_02['City'].value_counts()

New York          252
Chicago           136
San Francisco     107
Houston           104
Dallas             98
                 ...
Glencoe             1
Hockessin           1
Peekskill           1
Port Charlotte      1
Novelty             1
Name: City, Length: 2898, dtype: int64

In [17]:
df_2020_02['State'].value_counts()

CA    1311
NY     812
TX     683
FL     654
PA     449
IL     403
NJ     393
VA     316
GA     281
OH     274
CO     257
MA     250
MI     239
NC     227
AZ     202
WA     184
MD     174
TN     172
IN     131
CT     131
MO     107
OR     105
WI     104
LA     102
MN      92
SC      86
DC      81
NV      80
KS      67
OK      53
HI      53
NE      49
IA      47
AR      40
AL      39
ID      34
RI      33
NM      32
NH      28
MT      22
ME      21
ND      21
SD      15
DE      12
VT      11
WY      10
WV      10
AK       9
Name: State, dtype: int64

In [18]:
df_2020_02['Zip'].value_counts()

94103    20
10022    19
10016    19
20001    17
10019    16
         ..
97267     1
17821     1
55912     1
5251      1
44072     1
Name: Zip, Length: 4447, dtype: int64

In [19]:
df_2020_02['Shipping Service'].value_counts()

UPS     5778
FEH     2084
FXG      768
GSC       87
AZS       81
LSO1      34
FEX       28
WCU       19
UP2       17
SELF       7
UP1        2
FXP        1
Name: Shipping Service, dtype: int64

In [20]:
df_2020_02['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

2/11/20     2526
2/17/20      378
2/3/20       358
2/24/20      334
2/10/20      314
2/21/20      304
2/2/20       299
2/20/20      293
2/6/20       271
2/19/20      267
2/14/20      233
2/26/20      229
2/27/20      206
2/4/20       200
2/18/20      195
2/5/20       193
2/25/20      184
2/7/20       179
2/1/20       165
2/13/20      146
2/22/20      145
2/28/20      139
2/12/20      124
2/29/20      121
2/23/20      112
1/31/20      106
2/16/20       97
2/8/20        78
2/15/20       73
2/9/20        60
1/27/20       39
1/28/20       35
1/29/20       30
1/30/20       25
1/20/20        4
1/22/20        2
1/5/20         1
1/24/20        1
10/11/19       1
Name: Created Date, dtype: int64

In [21]:
df_2020_02['Weight'].value_counts()

14.00    2558
21.50    2057
10.50    1372
20.20     508
41.00     457
39.00     330
7.00      287
9.90      234
27.00     122
18.50      96
29.00      91
3.35       72
35.00      50
26.00      42
32.00      41
17.20      27
30.00      23
4.00       23
39.50      18
24.00      16
38.00      14
33.00      12
11.00       5
20.00       4
36.00       2
13.50       2
44.00       1
33.50       1
27.50       1
20.50       1
Name: Weight, dtype: int64

In [22]:
df_2020_02['Item/Bottle Count'].value_counts()

6.0     2570
4.0     2558
3.0     1607
12.0     804
2.0      264
8.0      213
1.0      127
5.0      123
9.0       64
10.0      63
7.0       58
11.0      16
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [23]:
#Change ["Item/Bottle Count"] to float64 type in df_2020_02.
df_2020_02["Item/Bottle Count"]=df_2020_02["Item/Bottle Count"].astype(float)
df_2020_02.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [24]:
#Remove "Status" column from df_2020_02.
df_2020_02 = df_2020_02.drop('Status', axis=1)
df_2020_02

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,2/5/20,Iowa City,IA,52242,FXG,2/5/20,21.5,6.0
1,Ecom3,2/6/20,MARLBORO,NJ,7746,UPS,2/6/20,41.0,12.0
2,Ecom3,2/6/20,MARLBORO,NJ,7746,UPS,2/6/20,21.5,6.0
3,Ecom3,2/4/20,Sacramento,CA,95818,UPS,2/4/20,14.0,4.0
4,Ecom3,2/5/20,Williamsburg,VA,23185,UPS,2/5/20,21.5,6.0
...,...,...,...,...,...,...,...,...,...
8901,Winery3,2/28/20,Novelty,OH,44072,UPS,NaN,NaN,NaN
8902,Winery3,2/28/20,Niles,OH,44446,UPS,NaN,NaN,NaN
8903,Winery3,2/28/20,Cornelius,NC,28031,UPS,NaN,NaN,NaN
8904,Winery3,2/28/20,Napa,CA,94558,WCU,NaN,NaN,NaN
8905,Winery3,2/28/20,Napa,CA,94558,WCU,NaN,NaN,NaN

In [25]:
# Drop the NaNs for df_2020_02.
df_2020_02 = df_2020_02.dropna()

In [27]:
df_2020_02=df_2020_02.reset_index()
df_2020_02

,index,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count,Index
0,0,Ecom3,2/5/20,Iowa City,IA,52242,FXG,2/5/20,21.5,6.0,0
1,1,Ecom3,2/6/20,MARLBORO,NJ,7746,UPS,2/6/20,41.0,12.0,1
2,2,Ecom3,2/6/20,MARLBORO,NJ,7746,UPS,2/6/20,21.5,6.0,2
3,3,Ecom3,2/4/20,Sacramento,CA,95818,UPS,2/4/20,14.0,4.0,3
4,4,Ecom3,2/5/20,Williamsburg,VA,23185,UPS,2/5/20,21.5,6.0,4
...,...,...,...,...,...,...,...,...,...,...,...
8462,8462,Ecom1,2/24/20,Bossier City,LA,71111,FEH,2/24/20,30.0,9.0,8462
8463,8463,Ecom1,2/25/20,Atlanta,GA,30340,FEH,2/19/20,20.2,6.0,8463
8464,8464,Ecom1,2/27/20,St. Louis,MO,63110,FXG,2/27/20,10.5,3.0,8464
8465,8465,Ecom1,2/27/20,Gresham,OR,97030,FEH,2/25/20,10.5,3.0,8465
8466,8466,Ecom1,2/27/20,Meeker,CO,81641,FXG,2/26/20,10.5,3.0,8466

In [29]:
#Remove "Index" column from df_2020_02.
df_2020_02 = df_2020_02.drop('Index', axis=1)
df_2020_02

KeyError: "['Index'] not found in axis"

## Confirm Changes

In [30]:
#See five random rows of data
df_2020_02.sample(n=5)

,index,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
8129,8129,Ecom1,2/25/20,Edwardsville,KS,66111,FEH,2/24/20,10.5,3.0
1761,1761,Ecom1,2/3/20,Rockville Centre,NY,11570,FXG,2/3/20,10.5,3.0
2238,2238,Ecom3,2/12/20,Warren,VT,5674,UPS,2/11/20,21.5,6.0
7023,7023,Ecom3,2/24/20,Montclair,NJ,7043,UPS,2/16/20,21.5,6.0
823,823,Ecom3,2/6/20,Macon,GA,31210,UPS,2/6/20,21.5,6.0

In [31]:
#Determine total rows for df_2020_02.
df_2020_02_rows = len(df_2020_02.axes[0])
df_2020_02_cols = len(df_2020_02.axes[1])
print("Number of Rows: ", df_2020_02_rows)
print("Number of Columns: ", df_2020_02_cols)

Number of Rows:  8467
Number of Columns:  10

## Export Cleaned DF to .CSV

In [26]:
#Export df_2020_02 to .csv
df_2020_02.to_csv('../cleaned_months_2020/Clean_2020_02.csv')