In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2020_08 = "../../2020_Data/2020.08.csv"

In [3]:
# Read the August CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_08 = pd.read_csv(load_2020_08)
df_2020_08.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,Delivered,8/3/20,Phoenix,AZ,85016,UPS,7/21/20,41.0,12
1,Ecom3,Shipped,8/3/20,San Francisco,CA,94118,UPS,7/29/20,21.5,6
2,Ecom3,Delivered,8/3/20,La Porte,TX,77571,FEX,7/29/20,29.0,8
3,Ecom3,Delivered,8/3/20,Ketchum,ID,83340,UPS,7/29/20,21.5,6
4,Ecom3,Delivered,8/3/20,Houston,TX,77057,FEX,7/29/20,21.5,6

## Inspect the Data

In [4]:
#See five random rows of data
df_2020_08.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
10298,Ecom2,In Transit,8/20/20,Scottsville,NY,14546,FEH,8/19/20,7.0,1
8242,Ecom3,Delivered,8/18/20,Honeoye Falls,NY,14472,FEH,8/17/20,21.5,6
7475,Ecom3,Delivered,8/17/20,Byron,MN,55920,UPS,8/17/20,41.0,12
11482,Ecom2,In Transit,8/20/20,Green Brook,NJ,8812,FEH,8/19/20,7.0,1
11468,Ecom2,In Transit,8/20/20,Toms River,NJ,8757,FEH,8/19/20,7.0,1

In [5]:
#See the last rows of data
df_2020_08.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
20124,Ecom3,In Transit,8/31/20,PITTSBURGH,PA,15238,UPS,8/31/20,9.9,3
20125,Ecom3,In Transit,8/31/20,Honolulu,HI,96821,UPS,8/31/20,41.0,12
20126,Ecom3,In Transit,8/31/20,San Francisco,CA,94109,UPS,8/30/20,21.5,6
20127,Ecom3,In Transit,8/31/20,Seattle,WA,98112,UPS,8/31/20,41.0,12
20128,Ecom3,In Transit,8/31/20,Los Gatos,CA,95032,UPS,8/31/20,41.0,12

In [6]:
df_2020_08.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [7]:
#Determine total rows for df_2020_08.
df_2020_08_rows = len(df_2020_08.axes[0])
df_2020_08_cols = len(df_2020_08.axes[1])
print("Number of Rows: ", df_2020_08_rows)
print("Number of Columns: ", df_2020_08_cols)

Number of Rows:  20129
Number of Columns:  10

In [8]:
# Determine if there are any missing values in df_2020_08.
df_2020_08.isnull().sum()

Company Name         0
Status               0
Ship Date            0
City                 0
State                0
Zip                  0
Shipping Service     0
Created Date         0
Weight               0
Item/Bottle Count    0
dtype: int64

In [9]:
# Determine data types for df_2020_08.
df_2020_08.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count      int64
dtype: object

In [10]:
df_2020_08['Company Name'].value_counts()

Ecom3      10036
Ecom2       6362
Ecom1       3509
Winery1      208
Winery2       14
Name: Company Name, dtype: int64

In [11]:
df_2020_08['Ship Date'].value_counts()

8/21/20    3855
8/20/20    3017
8/3/20     1196
8/10/20    1136
8/31/20    1055
8/17/20    1021
8/12/20    1015
8/24/20     918
8/11/20     840
8/4/20      784
8/25/20     698
8/18/20     689
8/19/20     576
8/5/20      483
8/26/20     454
8/30/20     387
8/13/20     363
8/7/20      311
8/6/20      286
8/14/20     285
8/27/20     271
8/28/20     251
8/23/20     238
Name: Ship Date, dtype: int64

In [12]:
df_2020_08['Status'].value_counts()

Delivered            10682
In Transit            8466
Shipped                789
Carrier Exception      141
Delivery Attempt        51
Name: Status, dtype: int64

In [13]:
df_2020_08['City'].value_counts()

New York              334
Chicago               286
Philadelphia          169
Los Angeles           148
Brooklyn              144
                     ...
Monroe, LA              1
Oak Harbor              1
Dunkirk                 1
Upper saddle river      1
Los Angeles, CA         1
Name: City, Length: 5066, dtype: int64

In [14]:
df_2020_08['State'].value_counts()

CA    2108
NY    2021
PA    1584
NJ    1219
FL    1189
IL     969
TX     852
MA     848
VA     831
MI     743
OH     726
NC     681
MD     631
GA     531
CT     420
WA     395
CO     381
IN     337
WI     309
MN     305
MO     270
TN     263
SC     214
OR     179
AZ     178
HI     169
RI     152
NH     149
LA     144
NE     142
DC     138
IA     117
OK     102
KS     101
ME      97
AR      84
NV      83
WV      70
NM      56
DE      56
ID      48
VT      48
MT      43
WY      39
AK      36
ND      34
SD      24
AL      13
Name: State, dtype: int64

In [15]:
df_2020_08['Zip'].value_counts()

7030     28
10019    27
11201    26
19103    26
60618    26
         ..
54201     1
85374     1
4915      1
14006     1
75072     1
Name: Zip, Length: 7259, dtype: int64

In [16]:
df_2020_08['Shipping Service'].value_counts()

UPS    9866
FEH    8444
FXG    1009
FEX     768
UP2      16
UP3       9
GSC       5
AZS       5
UP1       5
FXP       1
azs       1
Name: Shipping Service, dtype: int64

In [17]:
df_2020_08['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

8/19/20    6938
8/11/20     798
8/8/20      789
8/9/20      648
8/16/20     625
8/21/20     562
8/2/20      560
8/12/20     544
7/31/20     528
8/18/20     495
8/29/20     478
8/17/20     449
8/20/20     441
8/4/20      429
8/23/20     429
8/3/20      423
8/26/20     416
8/10/20     408
8/25/20     401
8/5/20      384
8/24/20     347
8/27/20     346
8/30/20     314
8/7/20      303
8/6/20      300
8/13/20     287
8/14/20     281
8/1/20      267
8/28/20     249
8/31/20     224
8/22/20     210
8/15/20     145
7/30/20      77
7/29/20      18
7/28/20       8
7/24/20       2
7/27/20       2
2/24/20       1
7/26/20       1
7/17/20       1
7/21/20       1
Name: Created Date, dtype: int64

In [18]:
df_2020_08['Weight'].value_counts()

7.00     6781
21.50    5623
10.50    1791
41.00    1736
20.20     850
14.00     824
39.00     630
9.90      436
29.00     320
18.50     250
35.00     134
26.00     128
32.00     123
3.35      109
38.00      61
27.00      40
7.50       40
19.20      30
4.00       28
20.00      26
30.00      22
10.00      21
24.00      21
37.00      16
13.50      15
33.00      14
17.20      11
14.20       8
36.00       8
18.20       5
23.00       4
9.50        4
20.50       3
3.00        3
16.20       2
11.50       2
21.00       2
40.00       1
11.00       1
6.90        1
22.00       1
5.00        1
8.00        1
13.00       1
36.50       1
Name: Weight, dtype: int64

In [19]:
df_2020_08['Item/Bottle Count'].value_counts()

1     6544
6     6517
12    2381
3     2248
4      843
2      418
8      351
5      261
7      179
10     147
9      146
11      38
13      25
14      17
15       7
16       3
24       2
18       1
22       1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [20]:
#Change dtypes if necessary

In [21]:
#Remove "Status" column from df_2020_08.
df_2020_08 = df_2020_08.drop('Status', axis=1)
df_2020_08

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,8/3/20,Phoenix,AZ,85016,UPS,7/21/20,41.0,12
1,Ecom3,8/3/20,San Francisco,CA,94118,UPS,7/29/20,21.5,6
2,Ecom3,8/3/20,La Porte,TX,77571,FEX,7/29/20,29.0,8
3,Ecom3,8/3/20,Ketchum,ID,83340,UPS,7/29/20,21.5,6
4,Ecom3,8/3/20,Houston,TX,77057,FEX,7/29/20,21.5,6
...,...,...,...,...,...,...,...,...,...
20124,Ecom3,8/31/20,PITTSBURGH,PA,15238,UPS,8/31/20,9.9,3
20125,Ecom3,8/31/20,Honolulu,HI,96821,UPS,8/31/20,41.0,12
20126,Ecom3,8/31/20,San Francisco,CA,94109,UPS,8/30/20,21.5,6
20127,Ecom3,8/31/20,Seattle,WA,98112,UPS,8/31/20,41.0,12
20128,Ecom3,8/31/20,Los Gatos,CA,95032,UPS,8/31/20,41.0,12

In [22]:
# Drop the NaNs for df_2020_08.
df_2020_08 = df_2020_08.dropna()

## Confirm Changes

In [23]:
#See five random rows of data
df_2020_08.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
7412,Ecom3,8/17/20,Ringoes,NJ,8551,UPS,8/16/20,21.5,6
7715,Ecom3,8/17/20,Prosper,TX,75078,FEX,8/17/20,9.9,3
583,Ecom1,8/3/20,sherrills ford,NC,28673,FEH,8/2/20,39.0,12
2174,Ecom1,8/5/20,New York,NY,10011,FEH,8/4/20,10.5,3
3478,Ecom1,8/10/20,Doylestown,PA,18901,FEH,8/9/20,39.0,12

In [24]:
#Determine total rows for df_2020_08.
df_2020_08_rows = len(df_2020_08.axes[0])
df_2020_08_cols = len(df_2020_08.axes[1])
print("Number of Rows: ", df_2020_08_rows)
print("Number of Columns: ", df_2020_08_cols)

Number of Rows:  20129
Number of Columns:  9

## Export Cleaned df to .CSV

In [25]:
#Export df_2020_08 to .csv
df_2020_08.to_csv('../cleaned_months_2020/Clean_2020_08.csv')