In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2019 = "../2019_Data/2019_data.csv"

In [3]:
# Read the January CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2019 = pd.read_csv(load_2019, encoding ="utf8")
df_2019.head()

,Company Name,Ship Date,State,City,Created Date,Item/Bottle Count,Weight
0,Ecom3,11/19/19,PA,STEELTON,11/18/19,6,18.0
1,Ecom3,11/15/19,FL,CORAL GABLES,11/14/19,12,36.0
2,Ecom3,11/14/19,IL,CHICAGO,11/13/19,6,18.0
3,Ecom3,11/15/19,NJ,Rumson,11/14/19,12,36.0
4,Ecom3,11/14/19,MD,PASADENA,11/13/19,6,18.0

## Inspect the Data

In [4]:
#See five random rows of data
df_2019.sample(n=5)

,Company Name,Ship Date,State,City,Created Date,Item/Bottle Count,Weight
63165,Ecom3,12/12/19,NJ,Blairstown,12/11/19,2,6.0
60352,Ecom3,1/14/19,FL,DORAL,1/13/19,6,18.0
57169,Ecom3,1/7/19,KS,OVERLAND PARK,1/6/19,12,36.0
107434,Ecom1,2/6/19,CA,Los Angeles,2/5/19,3,9.0
65881,Ecom3,10/2/19,NY,Cornwall-on-Hudson,10/1/19,6,18.0

In [5]:
#See the last rows of data
df_2019.tail(5)

,Company Name,Ship Date,State,City,Created Date,Item/Bottle Count,Weight
155162,Ecom2,12/30/19,FL,Miami Beach,12/29/19,2,6.0
155163,Ecom2,12/30/19,NC,Mooresville,12/29/19,2,6.0
155164,Ecom2,12/30/19,FL,Jupiter,12/29/19,2,6.0
155165,Ecom2,12/30/19,TX,Houston,12/29/19,2,6.0
155166,Ecom2,12/30/19,TX,Fort Worth,12/29/19,2,6.0

In [6]:
df_2019.columns

Index(['Company Name', 'Ship Date', 'State', 'City', 'Created Date',
       'Item/Bottle Count', 'Weight'],
      dtype='object')

In [7]:
#Determine total rows for df_2019_01.
df_2019_rows = len(df_2019.axes[0])
df_2019_cols = len(df_2019.axes[1])
print("Number of Rows: ", df_2019_rows)
print("Number of Columns: ", df_2019_cols)

Number of Rows:  155167
Number of Columns:  7

In [8]:
# Determine if there are any missing values in df_2019_01.
df_2019.isnull().sum()

Company Name         0
Ship Date            0
State                0
City                 0
Created Date         0
Item/Bottle Count    0
Weight               0
dtype: int64

In [9]:
# Determine data types for df_2019_01.
df_2019.dtypes

Company Name          object
Ship Date             object
State                 object
City                  object
Created Date          object
Item/Bottle Count      int64
Weight               float64
dtype: object

In [11]:
df_2019['Company Name'].value_counts()

Ecom3      88255
Ecom1      28727
Ecom2      21222
Winery1    14172
Winery2     2410
Winery3      381
Name: Company Name, dtype: int64

In [12]:
df_2019['Ship Date'].value_counts()

4/12/19     2579
11/8/19     2560
2/18/19     2551
9/14/19     2171
12/16/19    1971
            ...
4/20/19        4
8/11/19        2
6/2/19         2
4/14/19        2
4/21/19        1
Name: Ship Date, Length: 342, dtype: int64

In [13]:
df_2019['City'].value_counts()

New York          3356
NEW YORK          2217
Chicago           2056
Brooklyn          1125
Houston           1038
                  ...
El Dorado            1
Redwood Shores       1
New Buffalo          1
Green Village        1
Ewa beach            1
Name: City, Length: 11817, dtype: int64

In [14]:
df_2019['Created Date'].value_counts()

4/11/19     2579
11/7/19     2560
2/17/19     2551
9/13/19     2171
12/15/19    1971
            ...
4/19/19        4
8/10/19        2
6/1/19         2
4/13/19        2
4/20/19        1
Name: Created Date, Length: 342, dtype: int64

In [15]:
df_2019['State'].value_counts()

CA    18901
NY    18573
PA    10875
TX    10817
FL    10045
IL     8987
NJ     8265
MA     6544
MI     4669
VA     4263
OH     4192
GA     4151
CO     3758
NC     3655
MD     3040
CT     2775
WA     2618
AZ     2388
TN     2144
MN     1985
IN     1966
WI     1960
MO     1911
SC     1698
LA     1564
OR     1273
DC     1182
NV     1102
KS     1090
HI      868
NH      854
RI      808
AR      758
IA      683
NE      548
NM      517
ME      434
ID      431
OK      427
SD      407
MT      339
AL      314
VT      304
WV      298
AK      239
WY      214
ND      179
DE      128
KY       26
Name: State, dtype: int64

In [16]:
df_2019['Weight'].value_counts()

18.0       59575
6.0        26616
9.0        21095
12.0       18953
36.0       16859
           ...
16992.0        1
40248.0        1
31608.0        1
5112.0         1
584.0          1
Name: Weight, Length: 67, dtype: int64

In [17]:
df_2019['Item/Bottle Count'].value_counts()

6        59674
2        26238
3        21905
4        18785
12       17073
8         3023
1         2390
5         2226
10        1284
9         1132
7         1118
11         238
672         53
14           2
16           1
5772         1
13           1
4896         1
6276         1
6084         1
1704         1
10476        1
13416        1
5664         1
12924        1
13596        1
216          1
6111         1
6684         1
1572         1
240          1
288          1
180          1
192          1
624          1
252          1
162          1
283          1
516          1
181          1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [18]:
#Change ["Item/Bottle Count"] to float64 type in df_2019.
df_2019["Item/Bottle Count"]=df_2019["Item/Bottle Count"].astype(float)
df_2019.dtypes

Company Name          object
Ship Date             object
State                 object
City                  object
Created Date          object
Item/Bottle Count    float64
Weight               float64
dtype: object

In [19]:
# Drop the NaNs for df_2019.
df_2019 = df_2019.dropna()

## Confirm Changes

In [20]:
#See five random rows of data
df_2019.sample(n=5)

,Company Name,Ship Date,State,City,Created Date,Item/Bottle Count,Weight
39355,Ecom3,6/10/19,OH,CLEVELAND,6/9/19,6.0,18.0
145521,Ecom2,10/1/19,NY,Lancaster,9/30/19,2.0,6.0
45999,Ecom3,7/19/19,MO,BRANSON,7/18/19,12.0,36.0
138449,Ecom2,7/28/19,NY,Rockaway Park,7/27/19,2.0,6.0
142654,Ecom2,8/10/19,NY,MERRICK,8/9/19,2.0,6.0

In [21]:
#Determine total rows for df_2019.
df_2019_rows = len(df_2019.axes[0])
df_2019_cols = len(df_2019.axes[1])
print("Number of Rows: ", df_2019_rows)
print("Number of Columns: ", df_2019_cols)

Number of Rows:  155167
Number of Columns:  7

## Export Cleaned df to .CSV

In [22]:
#Export df_2019 to .csv
df_2019.to_csv('../cleaned_months_2019/Clean_2019.csv')