In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_states_Amanda = "State_Research_Amanda.csv"
load_states_Ashley = "State_Research_Ashley.csv"
load_states_Erica = "State_Research_Erica.csv"
load_states_Steve = "State_Research_Steve.csv"
load_states_Zack = "State_Research_Zack.csv"

## Amanda States: Idaho, Kansas, Massachusetts, New Mexico, New York, Pennsylvania, Rhode Island, South Dakota, Vermont, Washington

In [3]:
# Read the State_Research_Amanda CSV into a DataFrame
working_state_Amanda = pd.read_csv(load_states_Amanda)
working_state_Amanda.head()

,State,State Full Name,Population,Population Density,Household Size,% Uninsured,% Living in Poverty,% Population 65+,Lockdown Start,Inital Expected\nLockdown End,Phase 1\nRe-Opening Start,Notes,Shipping Laws/Restrictions,Max Shipping Amount,Politcal Alignment Red vs. Blue 2020,Unnamed: 15,Unnamed: 16
0,ID,Idaho,"1,787,065",21.62,2.68,11.0,13.8,16.27,3/25/2020,4/30/2020,5/1/2020,NaN,Wine; requires direct shipper permit,Cannot exceed 24 nine-liter cases of wine annu...,Red,NaN,NaN
1,KS,Kansas,"2,913,314",35.63,2.52,9.0,12.4,16.32,3/30/2020,4/19/2020,5/4/2020,"On 05/26/2020 Kansas Govenor ""announced \nthat...",Wine; requires special order shipping license,Cannot exceed 12 standard cases of wine of one...,Red,NaN,https://en.wikipedia.org/wiki/COVID-19_pandemi...
2,MA,Massachusetts,"6,892,503",883.65,2.53,2.8,10.8,16.97,3/23/2020,3/31/2020,5/18/2020,", 04/28/2020 and 05/15/2020",Wine; requires direct wine shipper license,A direct wine shipper licensee may ship up to ...,Blue,NaN,NaN
3,NM,New Mexico,"2,096,829",17.29,2.64,10.7,20.0,18.01,3/13/2020,4/30/2020,5/15/2020,NaN,Wine; requires direct wine shipment permit.\nN...,Not more than two 9-liter cases of wine monthly,Blue,NaN,NaN
4,NY,New York,"19,453,561",412.8,2.60,6.5,14.6,16.94,3/22/2020,4/6/2020,6/8/2020,", extended to 04/29/2020, then 05/15/2020, the...",Wine; requires out-of-state direct shipper’s l...,No more than 36 cases (no more than nine liter...,Blue,NaN,NaN

In [4]:
working_state_Amanda['State'].value_counts()

ID    1
KS    1
MA    1
NM    1
NY    1
PA    1
RI    1
SD    1
VT    1
WA    1
DC    1
Name: State, dtype: int64

In [5]:
working_state_Amanda.dtypes

State                                    object
State Full Name                          object
Population                               object
Population Density                       object
Household Size                          float64
% Uninsured                             float64
% Living in Poverty                     float64
% Population 65+                        float64
Lockdown Start                           object
Inital Expected\nLockdown End            object
Phase 1\nRe-Opening Start                object
Notes                                    object
Shipping Laws/Restrictions               object
Max Shipping Amount                      object
Politcal Alignment Red vs. Blue 2020     object
Unnamed: 15                             float64
Unnamed: 16                              object
dtype: object

## Amanda Cleaning

In [6]:
#Remove "Unnamed:15" and "Unnamed: 16" column from working_state_Amanda.
working_state_Amanda = working_state_Amanda.drop('Unnamed: 15', axis=1)

In [7]:
working_state_Amanda = working_state_Amanda.drop('Unnamed: 16', axis=1)
working_state_Amanda

,State,State Full Name,Population,Population Density,Household Size,% Uninsured,% Living in Poverty,% Population 65+,Lockdown Start,Inital Expected\nLockdown End,Phase 1\nRe-Opening Start,Notes,Shipping Laws/Restrictions,Max Shipping Amount,Politcal Alignment Red vs. Blue 2020
0,ID,Idaho,"1,787,065",21.62,2.68,11.0,13.8,16.27,3/25/2020,4/30/2020,5/1/2020,NaN,Wine; requires direct shipper permit,Cannot exceed 24 nine-liter cases of wine annu...,Red
1,KS,Kansas,"2,913,314",35.63,2.52,9.0,12.4,16.32,3/30/2020,4/19/2020,5/4/2020,"On 05/26/2020 Kansas Govenor ""announced \nthat...",Wine; requires special order shipping license,Cannot exceed 12 standard cases of wine of one...,Red
2,MA,Massachusetts,"6,892,503",883.65,2.53,2.8,10.8,16.97,3/23/2020,3/31/2020,5/18/2020,", 04/28/2020 and 05/15/2020",Wine; requires direct wine shipper license,A direct wine shipper licensee may ship up to ...,Blue
3,NM,New Mexico,"2,096,829",17.29,2.64,10.7,20.0,18.01,3/13/2020,4/30/2020,5/15/2020,NaN,Wine; requires direct wine shipment permit.\nN...,Not more than two 9-liter cases of wine monthly,Blue
4,NY,New York,"19,453,561",412.8,2.60,6.5,14.6,16.94,3/22/2020,4/6/2020,6/8/2020,", extended to 04/29/2020, then 05/15/2020, the...",Wine; requires out-of-state direct shipper’s l...,No more than 36 cases (no more than nine liter...,Blue
5,PA,Pennsylvania,"12,801,989",286.12,2.46,6.2,12.8,18.70,3/23/2020,4/30/2020,5/15/2020,"03/19/20 inital non-essential buisness close, ...",Wine; requires direct wine shipper license,Up to 36 cases of up to nine liters per case i...,Blue
6,RI,Rhode Island,"1,059,361","1,024.53",2.47,5.2,13.1,17.66,3/28/2020,4/13/2020,5/9/2020,NaN,Consumer must be present at purchase. Unlawful...,0- Unlawful to ship from out of state.,Blue
7,SD,South Dakota,"884,659",11.67,2.43,9.4,13.6,17.17,1/1/1111,1/1/1111,1/1/1111,"Never issued a stay-at-home order, no specific...","Wine, requires wine direct shipping license",S.D. Codified Laws Ann. §35-12B-5\nNo direct s...,Red
8,VT,Vermont,"623,989",67.7,2.31,4.1,11.2,20.04,3/25/2020,4/10/2020,5/15/2020,NaN,Malt beverages or wine; requires in-state cons...,A licensee shall not ship more than 12 cases o...,Blue
9,WA,Washington,"7,614,893",114.59,2.55,6.8,11.5,15.89,3/24/2020,4/3/2020,5/29/2020,NaN,Wine; requires wine shipper’s permit,No hard limits on quantity.,Blue
10,DC,District of Columbia,"705,749","11,544",2.29,4.0,16.8,12.38,4/1/2020,4/24/2020,5/29/2020,NaN,"Wine, spirits or beer; requires manufacturer’s...",Cannot exceed one case per location in any one...,Blue

In [8]:
#Create df that has "State", "Population", "Lockdown Start", "Initial Expected Lockdown End", "Phase 1 Re-Opening", "Max Shipping Amount", "Politial Alignment Red vs. Blue 2020"
new_amanda_df = working_state_Amanda.filter(["State", "Population", "Lockdown Start", "Inital Expected\nLockdown End", "Phase 1\nRe-Opening Start", "Politcal Alignment Red vs. Blue 2020"])
new_amanda_df

,State,Population,Lockdown Start,Inital Expected\nLockdown End,Phase 1\nRe-Opening Start,Politcal Alignment Red vs. Blue 2020
0,ID,"1,787,065",3/25/2020,4/30/2020,5/1/2020,Red
1,KS,"2,913,314",3/30/2020,4/19/2020,5/4/2020,Red
2,MA,"6,892,503",3/23/2020,3/31/2020,5/18/2020,Blue
3,NM,"2,096,829",3/13/2020,4/30/2020,5/15/2020,Blue
4,NY,"19,453,561",3/22/2020,4/6/2020,6/8/2020,Blue
5,PA,"12,801,989",3/23/2020,4/30/2020,5/15/2020,Blue
6,RI,"1,059,361",3/28/2020,4/13/2020,5/9/2020,Blue
7,SD,"884,659",1/1/1111,1/1/1111,1/1/1111,Red
8,VT,"623,989",3/25/2020,4/10/2020,5/15/2020,Blue
9,WA,"7,614,893",3/24/2020,4/3/2020,5/29/2020,Blue
10,DC,"705,749",4/1/2020,4/24/2020,5/29/2020,Blue

In [9]:
new_amanda_df.rename(columns={'Inital Expected\nLockdown End': 'Initial Expected Lockdown End', 
                              'Phase 1\nRe-Opening Start': 'Phase 1 Re-Opening Start', 
                             'Politcal Alignment Red vs. Blue 2020': 'Political Alignment'}, inplace=True)
new_amanda_df

,State,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,ID,"1,787,065",3/25/2020,4/30/2020,5/1/2020,Red
1,KS,"2,913,314",3/30/2020,4/19/2020,5/4/2020,Red
2,MA,"6,892,503",3/23/2020,3/31/2020,5/18/2020,Blue
3,NM,"2,096,829",3/13/2020,4/30/2020,5/15/2020,Blue
4,NY,"19,453,561",3/22/2020,4/6/2020,6/8/2020,Blue
5,PA,"12,801,989",3/23/2020,4/30/2020,5/15/2020,Blue
6,RI,"1,059,361",3/28/2020,4/13/2020,5/9/2020,Blue
7,SD,"884,659",1/1/1111,1/1/1111,1/1/1111,Red
8,VT,"623,989",3/25/2020,4/10/2020,5/15/2020,Blue
9,WA,"7,614,893",3/24/2020,4/3/2020,5/29/2020,Blue
10,DC,"705,749",4/1/2020,4/24/2020,5/29/2020,Blue

In [10]:
new_amanda_df.dtypes

State                            object
Population                       object
Lockdown Start                   object
Initial Expected Lockdown End    object
Phase 1 Re-Opening Start         object
Political Alignment              object
dtype: object

## Ashley States: Alaska, California, Florida, Illinois, Indiana, New Jersey, Noth Dakota, Oklahoma, Oregon, Wyoming

In [11]:
# Read the State_Research_Ashley CSV into a DataFrame
working_state_Ashley = pd.read_csv(load_states_Ashley)
working_state_Ashley.head()

,State,State Full Name,Population,Population Density (people per sq. mile),Household Size,% Uninsured,% Living in Poverty,% Population 65+,Lockdown Start Notes,Lockdown Start,Inital Expected Lockdown End Notes,Initial Expected Lockdown End,Phase 1 Re-Opening Start Notes,Phase 1 Re-Opening Start,Re-Opening notes,Shipping Laws/Restrictions,Max Shipping Amount,Politcal Alignment Red vs. Blue 2020
0,AK,Alaska,"731,545",1.28,2.81,14.4,10.8,12.52,3/13/2020 * events 15th* public schools 23rd s...,3/23/2020,3/30/20 *but it was extended,3/30/2020,April 24th 2020,4/24/2020,"Restaurants can open, but owners say doing it ...",Wine shipments prohibited in certain areas,Not more than 5 gallons.,Red
1,CA,California,"39,512,223",253.64,2.96,8.5,14.3,14.78,3/16/20*counties 19th* Statewide,3/19/2020,2 wks but continously extended,4/2/2020,May 13th,5/13/2020,Re-opening based on county level infection rat...,NaN,No Volume Limits,Blue
2,FL,Florida,"21,477,737",400.52,2.65,13.5,14.8,20.94,"4/1/20 *restricts activities to ""essential ser...",4/1/2020,30 days,5/1/2020,9/25/2020 * all restrictions lifted,9/25/2020,NaN,Wine shipments prohibited in certain areas,No Volume Limits – Btl cannot exceed 3L,Red
3,IL,Illinois,"12,671,821",228.24,2.59,7.3,13.1,16.12,"March 17th 2020 *close all schools, 16th close...",3/20/2020,"March 30, April 30th, indefinitely",3/30/2020,"May 5th mulit tier reopening, but many busines...",5/5/2020,NaN,NaN,12 cases / Individual / Year,Blue
4,IN,Indiana,"6,732,219",187.91,2.53,9.1,14.1,16.13,"March 12 large gatherings limited, March 16th ...",3/23/2020,May 1,5/1/2020,May 1 multi-stage reopening plan,5/1/2020,"Nov 11, 2020 some restrictions re-imposed","Effective July 1, 2015, legislation (SB 113) r...",\nIndividual limit 24 cases/ calendar year \nP...,Red

In [12]:
working_state_Ashley['State'].value_counts()

AK    1
CA    1
FL    1
IL    1
IN    1
NJ    1
ND    1
OK    1
OR    1
WY    1
Name: State, dtype: int64

In [13]:
working_state_Ashley.dtypes

State                                        object
State Full Name                              object
Population                                   object
Population Density (people per sq. mile)     object
Household Size                              float64
% Uninsured                                 float64
% Living in Poverty                         float64
% Population 65+                            float64
Lockdown Start Notes                         object
Lockdown Start                               object
Inital Expected Lockdown End Notes           object
Initial Expected Lockdown End                object
Phase 1 Re-Opening Start Notes               object
Phase 1 Re-Opening Start                     object
Re-Opening notes                             object
Shipping Laws/Restrictions                   object
Max Shipping Amount                          object
Politcal Alignment Red vs. Blue 2020         object
dtype: object

In [14]:
#Create df that has "State", "Population", "Lockdown Start", "Initial Expected Lockdown End", "Phase 1 Re-Opening", "Max Shipping Amount", "Politial Alignment Red vs. Blue 2020"
new_ashley_df = working_state_Ashley.filter(["State", "Population", "Lockdown Start", "Initial Expected Lockdown End", "Phase 1 Re-Opening Start", "Politcal Alignment Red vs. Blue 2020"])
new_ashley_df

,State,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Politcal Alignment Red vs. Blue 2020
0,AK,"731,545",3/23/2020,3/30/2020,4/24/2020,Red
1,CA,"39,512,223",3/19/2020,4/2/2020,5/13/2020,Blue
2,FL,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
3,IL,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
4,IN,"6,732,219",3/23/2020,5/1/2020,5/1/2020,Red
5,NJ,"8,882,190",3/21/2020,1/1/1111,5/12/2020,Blue
6,ND,"762,062",3/27/2020,3/30/2020,5/29/2020,Red
7,OK,"3,956,971",3/24/2020,1/1/1111,4/22/2022,Red
8,OR,"4,217,737",3/24/2020,3/31/2020,5/14/2020,Blue
9,WY,"578,759",3/25/2020,4/3/2020,5/1/2020,Red

In [15]:
new_ashley_df.rename(columns={'Politcal Alignment Red vs. Blue 2020': 'Political Alignment'}, inplace=True)
new_ashley_df

,State,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,AK,"731,545",3/23/2020,3/30/2020,4/24/2020,Red
1,CA,"39,512,223",3/19/2020,4/2/2020,5/13/2020,Blue
2,FL,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
3,IL,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
4,IN,"6,732,219",3/23/2020,5/1/2020,5/1/2020,Red
5,NJ,"8,882,190",3/21/2020,1/1/1111,5/12/2020,Blue
6,ND,"762,062",3/27/2020,3/30/2020,5/29/2020,Red
7,OK,"3,956,971",3/24/2020,1/1/1111,4/22/2022,Red
8,OR,"4,217,737",3/24/2020,3/31/2020,5/14/2020,Blue
9,WY,"578,759",3/25/2020,4/3/2020,5/1/2020,Red

In [16]:
new_ashley_df.dtypes

State                            object
Population                       object
Lockdown Start                   object
Initial Expected Lockdown End    object
Phase 1 Re-Opening Start         object
Political Alignment              object
dtype: object

## Erica States: Alabama, Colorado, Delaware, Georgia, Iowa, Minnesota, Missouri, Ohio, South Carolina, Virginia

In [17]:
# Read the State_Research_Erica CSV into a DataFrame
working_state_Erica = pd.read_csv(load_states_Erica)
working_state_Erica.head()

,State,State Full Name,Population,Population Density (people per sq. mile),Household Size,% Uninsured,% Living in Poverty,% Population 65+,Lockdown Start,Inital Expected Lockdown End,Phase 1 Re-Opening Start,Re-Opening notes,Shipping Laws/Restrictions,Max Shipping Amount,Politcal Alignment Red vs. Blue 2020
0,AL,Alabama,"4,903,185",96.81,2.55,10.0,17.5,17.33,4/4/2020,4/30/2020,4/30/2020,NaN,requires direct wine shipper license,Up to 12 cases of unopened containers of wine ...,Red
1,CO,Colorado,"5,758,736",55.56,2.56,8.1,10.9,14.63,3/26/2020,4/26/2020,4/26/2020,NaN,requires winery direct shipper’s permit,Unlimited,Blue
2,DE,Delaware,"973,764",499.62,2.58,6.0,11.9,19.40,3/24/2020,5/8/2020,5/31/2020,NaN,requires a direct shipper license. Direct ship...,The total amount of sparkling wine or still wi...,Blue
3,GA,Georgia,"10,617,423",184.61,2.71,13.7,16.0,14.29,4/3/2020,4/30/2020,4/30/2020,NaN,requires a special order shipping license,Cannot exceed 12 standard cases of wine of one...,Blue
4,IA,Iowa,"3,155,070",56.48,2.41,4.9,11.7,17.53,1/1/1111,1/1/1111,1/1/1111,Iowa never issued stay at home orders,requires wine direct shipper license,Unlimited,Red

In [18]:
working_state_Erica['State'].value_counts()

AL    1
CO    1
DE    1
GA    1
IA    1
MN    1
MO    1
OH    1
SC    1
VA    1
Name: State, dtype: int64

In [19]:
working_state_Erica.dtypes

State                                        object
State Full Name                              object
Population                                   object
Population Density (people per sq. mile)    float64
Household Size                              float64
% Uninsured                                 float64
% Living in Poverty                         float64
% Population 65+                            float64
Lockdown Start                               object
Inital Expected Lockdown End                 object
Phase 1 Re-Opening Start                     object
Re-Opening notes                             object
Shipping Laws/Restrictions                   object
Max Shipping Amount                          object
Politcal Alignment Red vs. Blue 2020         object
dtype: object

In [20]:
#Create df that has "State", "Population", "Lockdown Start", "Initial Expected Lockdown End", "Phase 1 Re-Opening", "Max Shipping Amount", "Politial Alignment Red vs. Blue 2020"
new_erica_df = working_state_Erica.filter(["State", "Population", "Lockdown Start", "Inital Expected Lockdown End", "Phase 1 Re-Opening Start", "Politcal Alignment Red vs. Blue 2020"])
new_erica_df

,State,Population,Lockdown Start,Inital Expected Lockdown End,Phase 1 Re-Opening Start,Politcal Alignment Red vs. Blue 2020
0,AL,"4,903,185",4/4/2020,4/30/2020,4/30/2020,Red
1,CO,"5,758,736",3/26/2020,4/26/2020,4/26/2020,Blue
2,DE,"973,764",3/24/2020,5/8/2020,5/31/2020,Blue
3,GA,"10,617,423",4/3/2020,4/30/2020,4/30/2020,Blue
4,IA,"3,155,070",1/1/1111,1/1/1111,1/1/1111,Red
5,MN,"5,639,632",3/27/2020,5/4/2020,5/17/2020,Blue
6,MO,"6,137,428",4/6/2020,5/3/2020,5/3/2020,Red
7,OH,"11,689,100",3/23/2020,5/19/2020,5/19/2020,Red
8,SC,"5,148,714",4/7/2020,5/4/2020,5/4/2020,Red
9,VA,"8,535,519",3/30/2020,5/15/2020,5/29/2020,Blue

In [21]:
new_erica_df.rename(columns={'Inital Expected Lockdown End': 'Initial Expected Lockdown End',
                             'Politcal Alignment Red vs. Blue 2020': 'Political Alignment'}, inplace=True)
new_erica_df

,State,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,AL,"4,903,185",4/4/2020,4/30/2020,4/30/2020,Red
1,CO,"5,758,736",3/26/2020,4/26/2020,4/26/2020,Blue
2,DE,"973,764",3/24/2020,5/8/2020,5/31/2020,Blue
3,GA,"10,617,423",4/3/2020,4/30/2020,4/30/2020,Blue
4,IA,"3,155,070",1/1/1111,1/1/1111,1/1/1111,Red
5,MN,"5,639,632",3/27/2020,5/4/2020,5/17/2020,Blue
6,MO,"6,137,428",4/6/2020,5/3/2020,5/3/2020,Red
7,OH,"11,689,100",3/23/2020,5/19/2020,5/19/2020,Red
8,SC,"5,148,714",4/7/2020,5/4/2020,5/4/2020,Red
9,VA,"8,535,519",3/30/2020,5/15/2020,5/29/2020,Blue

In [22]:
new_erica_df.dtypes

State                            object
Population                       object
Lockdown Start                   object
Initial Expected Lockdown End    object
Phase 1 Re-Opening Start         object
Political Alignment              object
dtype: object

## Steve States: Arizona, Arkansas, Conneticut, Kentucky, Louisiana, Montana, Nebraska, Nevada, West Virginia, Wisconsin

In [23]:
# Read the State_Research_Steve CSV into a DataFrame
working_state_Steve = pd.read_csv(load_states_Steve)
working_state_Steve.head()

,State,State Full Name,Population,Population Density (people per sq. mile),Household Size,% Uninsured,% Living in Poverty,% Population 65+,Lockdown Start,Inital Expected Lockdown End,Phase 1 Re-Opening Start,Re-Opening notes,Shipping Laws/Restrictions,Max Shipping Amount,Politcal Alignment Red vs. Blue 2020
0,AZ,Arizona,"7,278,717",64.08,2.69,10.9,16.1,17.98,4/30/2020,5/15/2020,5/18/2020,"Slowly started reopening by ""essential"" defini...",DTC permit required.,12 nine-liter cases of wine.,Blue
1,AR,Arkansas,"3,017,804",58.00,2.52,9.0,17.6,17.36,3/15/2020,3/27/2020,6/5/2020,NaN,Consumer must be present at purchase unless sh...,One case of vinous liquor per consumer in any ...,Red
2,CT,Conneticut,"3,565,287",736.33,2.54,5.6,10.0,17.68,3/23/2020,4/22/2020,5/20/2020,NaN,NaN,2 cases per person every 2 months,Blue
3,KY,Kentucky,"4,467,673",113.15,1.49,6.1,17.9,16.80,3/23/2020,4/27/2020,5/22/2020,NaN,"Effective March 12, 2021, brand registration i...",\n10 cases per person per month,Red
4,LA,Louisiana,"4,648,794",107.60,2.61,10.7,19.4,15.94,3/23/2020,4/13/2020,5/15/2020,NaN,Product Restrictions\n1. ONLY wine packaged in...,12 cases per person per year,Red

In [24]:
working_state_Steve['State'].value_counts()

AZ    1
AR    1
CT    1
KY    1
LA    1
MT    1
NE    1
NV    1
WV    1
WI    1
Name: State, dtype: int64

In [25]:
working_state_Steve.dtypes

State                                        object
State Full Name                              object
Population                                   object
Population Density (people per sq. mile)    float64
Household Size                              float64
% Uninsured                                 float64
% Living in Poverty                         float64
% Population 65+                            float64
Lockdown Start                               object
Inital Expected Lockdown End                 object
Phase 1 Re-Opening Start                     object
Re-Opening notes                             object
Shipping Laws/Restrictions                   object
Max Shipping Amount                          object
Politcal Alignment Red vs. Blue 2020         object
dtype: object

In [26]:
#Create df that has "State", "Population", "Lockdown Start", "Initial Expected Lockdown End", "Phase 1 Re-Opening", "Max Shipping Amount", "Politial Alignment Red vs. Blue 2020"
new_steve_df = working_state_Steve.filter(["State", "Population", "Lockdown Start", "Inital Expected Lockdown End", "Phase 1 Re-Opening Start", "Politcal Alignment Red vs. Blue 2020"])
new_steve_df

,State,Population,Lockdown Start,Inital Expected Lockdown End,Phase 1 Re-Opening Start,Politcal Alignment Red vs. Blue 2020
0,AZ,"7,278,717",4/30/2020,5/15/2020,5/18/2020,Blue
1,AR,"3,017,804",3/15/2020,3/27/2020,6/5/2020,Red
2,CT,"3,565,287",3/23/2020,4/22/2020,5/20/2020,Blue
3,KY,"4,467,673",3/23/2020,4/27/2020,5/22/2020,Red
4,LA,"4,648,794",3/23/2020,4/13/2020,5/15/2020,Red
5,MT,"1,068,778",3/26/2020,4/24/2020,4/27/2020,Red
6,NE,"1,934,408",4/3/2020,4/30/2020,5/4/2020,Red
7,NV,"3,080,156",4/1/2020,4/30/2020,5/9/2020,Blue
8,WV,"1,792,147",3/23/2020,4/4/2020,4/30/2020,Red
9,WI,"5,822,434",3/24/2020,4/24/2020,5/26/2020,Blue

In [27]:
new_steve_df.rename(columns={'Inital Expected Lockdown End': 'Initial Expected Lockdown End',
                             'Politcal Alignment Red vs. Blue 2020': 'Political Alignment'}, inplace=True)
new_steve_df

,State,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,AZ,"7,278,717",4/30/2020,5/15/2020,5/18/2020,Blue
1,AR,"3,017,804",3/15/2020,3/27/2020,6/5/2020,Red
2,CT,"3,565,287",3/23/2020,4/22/2020,5/20/2020,Blue
3,KY,"4,467,673",3/23/2020,4/27/2020,5/22/2020,Red
4,LA,"4,648,794",3/23/2020,4/13/2020,5/15/2020,Red
5,MT,"1,068,778",3/26/2020,4/24/2020,4/27/2020,Red
6,NE,"1,934,408",4/3/2020,4/30/2020,5/4/2020,Red
7,NV,"3,080,156",4/1/2020,4/30/2020,5/9/2020,Blue
8,WV,"1,792,147",3/23/2020,4/4/2020,4/30/2020,Red
9,WI,"5,822,434",3/24/2020,4/24/2020,5/26/2020,Blue

In [28]:
new_steve_df.dtypes

State                            object
Population                       object
Lockdown Start                   object
Initial Expected Lockdown End    object
Phase 1 Re-Opening Start         object
Political Alignment              object
dtype: object

## Zack States: Hawaii, Maine, Maryland, Michigan, Mississippi, New Hampshire, North Carolina, Tennessee, Texas, Utah

In [29]:
#Read the State_Research_Zack CSV into a DataFrame
working_state_Zack = pd.read_csv(load_states_Zack)
working_state_Zack.head()

,State,State Full Name,Population,Population Density (people per sq. mile),Household Size,% Uninsured,% Living in Poverty,% Population 65+,Lockdown Start,Inital Expected Lockdown End,Phase 1 Re-Opening Start,Re-Opening notes,Shipping Laws/Restrictions,Max Shipping Amount,Politcal Alignment Red vs. Blue 2020
0,HI,Hawaii,"1,415,872",220.44,3.02,4.1,9.9,18.96,3/23/2020,4/30/2020,5/5/2020,NaN,NaN,6 cases per household address per winery,Blue
1,ME,Maine,"1,344,212",43.58,2.33,8.3,12.5,21.22,4/2/2020,4/30/2020,5/1/2020,NaN,“Wine coolers” may NOT be shipped DTC \...,12 cases per recipient address,Blue
2,MD,Maryland,"6,045,680",622.82,2.67,6.5,9.4,15.87,3/12/2020,3/27/2020,5/13/2020,NaN,NaN,18 cases per address,Blue
3,MI,Michigan,"9,986,857",176.64,2.49,6.1,15.0,17.68,3/24/2020,4/14/2020,6/1/2020,NaN,NaN,"1,500 cases per year",Blue
4,MS,Mississippi,"2,976,149",63.43,2.62,12.7,20.8,16.35,4/3/2020,4/20/2020,4/27/2020,NaN,DTC shipping prohibited,DTC shipping prohibited,Red

In [30]:
working_state_Zack['State'].value_counts()

HI    1
ME    1
MD    1
MI    1
MS    1
NH    1
NC    1
TN    1
TX    1
UT    1
Name: State, dtype: int64

In [31]:
working_state_Zack.dtypes

State                                        object
State Full Name                              object
Population                                   object
Population Density (people per sq. mile)    float64
Household Size                              float64
% Uninsured                                 float64
% Living in Poverty                         float64
% Population 65+                            float64
Lockdown Start                               object
Inital Expected Lockdown End                 object
Phase 1 Re-Opening Start                     object
Re-Opening notes                             object
Shipping Laws/Restrictions                   object
Max Shipping Amount                          object
Politcal Alignment Red vs. Blue 2020         object
dtype: object

In [32]:
#Create df that has "State", "Population", "Lockdown Start", "Initial Expected Lockdown End", "Phase 1 Re-Opening", "Max Shipping Amount", "Politial Alignment Red vs. Blue 2020"
new_zack_df = working_state_Zack.filter(["State", "Population", "Lockdown Start", "Inital Expected Lockdown End", "Phase 1 Re-Opening Start", "Politcal Alignment Red vs. Blue 2020"])
new_zack_df

,State,Population,Lockdown Start,Inital Expected Lockdown End,Phase 1 Re-Opening Start,Politcal Alignment Red vs. Blue 2020
0,HI,"1,415,872",3/23/2020,4/30/2020,5/5/2020,Blue
1,ME,"1,344,212",4/2/2020,4/30/2020,5/1/2020,Blue
2,MD,"6,045,680",3/12/2020,3/27/2020,5/13/2020,Blue
3,MI,"9,986,857",3/24/2020,4/14/2020,6/1/2020,Blue
4,MS,"2,976,149",4/3/2020,4/20/2020,4/27/2020,Red
5,NH,"1,359,711",3/27/2020,5/4/2020,5/18/2020,Blue
6,NC,"10,488,084",3/30/2020,4/29/2020,5/20/2020,Red
7,TN,"6,829,174",4/2/2020,4/14/2020,5/1/2020,Red
8,TX,"28,995,881",3/31/2020,5/4/2020,5/1/2020,Red
9,UT,"3,205,958",3/27/2020,4/13/2020,5/1/2020,Red

In [33]:
new_zack_df.rename(columns={'Inital Expected Lockdown End': 'Initial Expected Lockdown End',
                             'Politcal Alignment Red vs. Blue 2020': 'Political Alignment'}, inplace=True)
new_zack_df

,State,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,HI,"1,415,872",3/23/2020,4/30/2020,5/5/2020,Blue
1,ME,"1,344,212",4/2/2020,4/30/2020,5/1/2020,Blue
2,MD,"6,045,680",3/12/2020,3/27/2020,5/13/2020,Blue
3,MI,"9,986,857",3/24/2020,4/14/2020,6/1/2020,Blue
4,MS,"2,976,149",4/3/2020,4/20/2020,4/27/2020,Red
5,NH,"1,359,711",3/27/2020,5/4/2020,5/18/2020,Blue
6,NC,"10,488,084",3/30/2020,4/29/2020,5/20/2020,Red
7,TN,"6,829,174",4/2/2020,4/14/2020,5/1/2020,Red
8,TX,"28,995,881",3/31/2020,5/4/2020,5/1/2020,Red
9,UT,"3,205,958",3/27/2020,4/13/2020,5/1/2020,Red

In [34]:
new_zack_df.dtypes

State                            object
Population                       object
Lockdown Start                   object
Initial Expected Lockdown End    object
Phase 1 Re-Opening Start         object
Political Alignment              object
dtype: object

# Append all five df into one overall states df:

In [35]:
#Append all five df into one overall states df:
complete_states_df = new_amanda_df.append([new_ashley_df,
                                           new_erica_df,
                                           new_steve_df,
                                           new_zack_df], ignore_index = True)
complete_states_df.head()

,State,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,ID,"1,787,065",3/25/2020,4/30/2020,5/1/2020,Red
1,KS,"2,913,314",3/30/2020,4/19/2020,5/4/2020,Red
2,MA,"6,892,503",3/23/2020,3/31/2020,5/18/2020,Blue
3,NM,"2,096,829",3/13/2020,4/30/2020,5/15/2020,Blue
4,NY,"19,453,561",3/22/2020,4/6/2020,6/8/2020,Blue

In [36]:
#Order states alphabetically
compelte_states_df = complete_states_df.sort_values(by=["State"], inplace=True, ascending=True)
complete_states_df

,State,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
11,AK,"731,545",3/23/2020,3/30/2020,4/24/2020,Red
21,AL,"4,903,185",4/4/2020,4/30/2020,4/30/2020,Red
32,AR,"3,017,804",3/15/2020,3/27/2020,6/5/2020,Red
31,AZ,"7,278,717",4/30/2020,5/15/2020,5/18/2020,Blue
12,CA,"39,512,223",3/19/2020,4/2/2020,5/13/2020,Blue
22,CO,"5,758,736",3/26/2020,4/26/2020,4/26/2020,Blue
33,CT,"3,565,287",3/23/2020,4/22/2020,5/20/2020,Blue
10,DC,"705,749",4/1/2020,4/24/2020,5/29/2020,Blue
23,DE,"973,764",3/24/2020,5/8/2020,5/31/2020,Blue
13,FL,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
24,GA,"10,617,423",4/3/2020,4/30/2020,4/30/2020,Blue
41,HI,"1,415,872",3/23/2020,4/30/2020,5/5/2020,Blue
25,IA,"3,155,070",1/1/1111,1/1/1111,1/1/1111,Red
0,ID,"1,787,065",3/25/2020,4/30/2020,5/1/2020,Red
14,IL,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
15,IN,"6,732,219",3/23/2020,5/1/2020,5/1/2020,Red
1,KS,"2,913,314",3/30/2020,4/19/2020,5/4/2020,Red
34,KY,"4,467,673",3/23/2020,4/27/2020,5/22/2020,Red
35,LA,"4,648,794",3/23/2020,4/13/2020,5/15/2020,Red
2,MA,"6,892,503",3/23/2020,3/31/2020,5/18/2020,Blue
43,MD,"6,045,680",3/12/2020,3/27/2020,5/13/2020,Blue
42,ME,"1,344,212",4/2/2020,4/30/2020,5/1/2020,Blue
44,MI,"9,986,857",3/24/2020,4/14/2020,6/1/2020,Blue
26,MN,"5,639,632",3/27/2020,5/4/2020,5/17/2020,Blue
27,MO,"6,137,428",4/6/2020,5/3/2020,5/3/2020,Red
45,MS,"2,976,149",4/3/2020,4/20/2020,4/27/2020,Red
36,MT,"1,068,778",3/26/2020,4/24/2020,4/27/2020,Red
47,NC,"10,488,084",3/30/2020,4/29/2020,5/20/2020,Red
17,ND,"762,062",3/27/2020,3/30/2020,5/29/2020,Red
37,NE,"1,934,408",4/3/2020,4/30/2020,5/4/2020,Red
46,NH,"1,359,711",3/27/2020,5/4/2020,5/18/2020,Blue
16,NJ,"8,882,190",3/21/2020,1/1/1111,5/12/2020,Blue
3,NM,"2,096,829",3/13/2020,4/30/2020,5/15/2020,Blue
38,NV,"3,080,156",4/1/2020,4/30/2020,5/9/2020,Blue
4,NY,"19,453,561",3/22/2020,4/6/2020,6/8/2020,Blue
28,OH,"11,689,100",3/23/2020,5/19/2020,5/19/2020,Red
18,OK,"3,956,971",3/24/2020,1/1/1111,4/22/2022,Red
19,OR,"4,217,737",3/24/2020,3/31/2020,5/14/2020,Blue
5,PA,"12,801,989",3/23/2020,4/30/2020,5/15/2020,Blue
6,RI,"1,059,361",3/28/2020,4/13/2020,5/9/2020,Blue
29,SC,"5,148,714",4/7/2020,5/4/2020,5/4/2020,Red
7,SD,"884,659",1/1/1111,1/1/1111,1/1/1111,Red
48,TN,"6,829,174",4/2/2020,4/14/2020,5/1/2020,Red
49,TX,"28,995,881",3/31/2020,5/4/2020,5/1/2020,Red
50,UT,"3,205,958",3/27/2020,4/13/2020,5/1/2020,Red
30,VA,"8,535,519",3/30/2020,5/15/2020,5/29/2020,Blue
8,VT,"623,989",3/25/2020,4/10/2020,5/15/2020,Blue
9,WA,"7,614,893",3/24/2020,4/3/2020,5/29/2020,Blue
40,WI,"5,822,434",3/24/2020,4/24/2020,5/26/2020,Blue
39,WV,"1,792,147",3/23/2020,4/4/2020,4/30/2020,Red
20,WY,"578,759",3/25/2020,4/3/2020,5/1/2020,Red

In [37]:
complete_states_df = complete_states_df.set_index("State")
complete_states_df

,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
State,,,,,
AK,"731,545",3/23/2020,3/30/2020,4/24/2020,Red
AL,"4,903,185",4/4/2020,4/30/2020,4/30/2020,Red
AR,"3,017,804",3/15/2020,3/27/2020,6/5/2020,Red
AZ,"7,278,717",4/30/2020,5/15/2020,5/18/2020,Blue
CA,"39,512,223",3/19/2020,4/2/2020,5/13/2020,Blue
CO,"5,758,736",3/26/2020,4/26/2020,4/26/2020,Blue
CT,"3,565,287",3/23/2020,4/22/2020,5/20/2020,Blue
DC,"705,749",4/1/2020,4/24/2020,5/29/2020,Blue
DE,"973,764",3/24/2020,5/8/2020,5/31/2020,Blue
FL,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
GA,"10,617,423",4/3/2020,4/30/2020,4/30/2020,Blue
HI,"1,415,872",3/23/2020,4/30/2020,5/5/2020,Blue
IA,"3,155,070",1/1/1111,1/1/1111,1/1/1111,Red
ID,"1,787,065",3/25/2020,4/30/2020,5/1/2020,Red
IL,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
IN,"6,732,219",3/23/2020,5/1/2020,5/1/2020,Red
KS,"2,913,314",3/30/2020,4/19/2020,5/4/2020,Red
KY,"4,467,673",3/23/2020,4/27/2020,5/22/2020,Red
LA,"4,648,794",3/23/2020,4/13/2020,5/15/2020,Red
MA,"6,892,503",3/23/2020,3/31/2020,5/18/2020,Blue
MD,"6,045,680",3/12/2020,3/27/2020,5/13/2020,Blue
ME,"1,344,212",4/2/2020,4/30/2020,5/1/2020,Blue
MI,"9,986,857",3/24/2020,4/14/2020,6/1/2020,Blue
MN,"5,639,632",3/27/2020,5/4/2020,5/17/2020,Blue
MO,"6,137,428",4/6/2020,5/3/2020,5/3/2020,Red
MS,"2,976,149",4/3/2020,4/20/2020,4/27/2020,Red
MT,"1,068,778",3/26/2020,4/24/2020,4/27/2020,Red
NC,"10,488,084",3/30/2020,4/29/2020,5/20/2020,Red
ND,"762,062",3/27/2020,3/30/2020,5/29/2020,Red
NE,"1,934,408",4/3/2020,4/30/2020,5/4/2020,Red
NH,"1,359,711",3/27/2020,5/4/2020,5/18/2020,Blue
NJ,"8,882,190",3/21/2020,1/1/1111,5/12/2020,Blue
NM,"2,096,829",3/13/2020,4/30/2020,5/15/2020,Blue
NV,"3,080,156",4/1/2020,4/30/2020,5/9/2020,Blue
NY,"19,453,561",3/22/2020,4/6/2020,6/8/2020,Blue
OH,"11,689,100",3/23/2020,5/19/2020,5/19/2020,Red
OK,"3,956,971",3/24/2020,1/1/1111,4/22/2022,Red
OR,"4,217,737",3/24/2020,3/31/2020,5/14/2020,Blue
PA,"12,801,989",3/23/2020,4/30/2020,5/15/2020,Blue
RI,"1,059,361",3/28/2020,4/13/2020,5/9/2020,Blue
SC,"5,148,714",4/7/2020,5/4/2020,5/4/2020,Red
SD,"884,659",1/1/1111,1/1/1111,1/1/1111,Red
TN,"6,829,174",4/2/2020,4/14/2020,5/1/2020,Red
TX,"28,995,881",3/31/2020,5/4/2020,5/1/2020,Red
UT,"3,205,958",3/27/2020,4/13/2020,5/1/2020,Red
VA,"8,535,519",3/30/2020,5/15/2020,5/29/2020,Blue
VT,"623,989",3/25/2020,4/10/2020,5/15/2020,Blue
WA,"7,614,893",3/24/2020,4/3/2020,5/29/2020,Blue
WI,"5,822,434",3/24/2020,4/24/2020,5/26/2020,Blue
WV,"1,792,147",3/23/2020,4/4/2020,4/30/2020,Red
WY,"578,759",3/25/2020,4/3/2020,5/1/2020,Red

In [38]:
complete_states_df.columns

Index(['Population', 'Lockdown Start', 'Initial Expected Lockdown End',
       'Phase 1 Re-Opening Start', 'Political Alignment'],
      dtype='object')

In [39]:
#Had to change the typos in the spreadsheet and want to confirm changes worked. 
for col in complete_states_df:
  print(complete_states_df["Political Alignment"].unique())

['Red' 'Blue']
['Red' 'Blue']
['Red' 'Blue']
['Red' 'Blue']
['Red' 'Blue']

In [40]:
#Export complete_states_df to .csv
complete_states_df.to_csv('Complete_states.csv')