In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2021_03 = "../2021_Data/2021.03.csv"

In [3]:
# Read the March CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2021_03 = pd.read_csv(load_2021_03, low_memory=False)
df_2021_03.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,Delivered,3/2/21,Lansdale,PA,19446,FEH,3/2/21,20.2,6.0
1,Ecom1,Delivered,3/3/21,Prescott,AZ,86301,FEH,2/24/21,20.2,6.0
2,Ecom1,Delivered,3/1/21,Fairhope,AL,36532,UPS,2/24/21,20.2,6.0
3,Ecom1,Delivered,3/3/21,San Diego,CA,92105,FEH,2/25/21,6.5,1.0
4,Ecom1,Delivered,3/3/21,Carlsbad,CA,92011,FEH,2/25/21,6.5,1.0

## Inspect the Data

In [4]:
#See five random rows of data
df_2021_03.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
594925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14372,Ecom2,Shipped,3/19/21,The Villages,FL,32163,FEH,3/17/21,7.0,2.0
57395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
560842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174931,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#See the last rows of data
df_2021_03.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
601529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_2021_03.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [7]:
#Determine total rows for df_2021_03.
df_2021_03_rows = len(df_2021_03.axes[0])
df_2021_03_cols = len(df_2021_03.axes[1])
print("Number of Rows: ", df_2021_03_rows)
print("Number of Columns: ", df_2021_03_cols)

Number of Rows:  601534
Number of Columns:  10

In [8]:
# Determine if there are any missing values in df_2021_03.
df_2021_03.isnull().sum()

Company Name         577122
Status               577206
Ship Date            577122
City                 577122
State                577122
Zip                  577122
Shipping Service     577122
Created Date         577206
Weight               577206
Item/Bottle Count    577206
dtype: int64

In [9]:
#Surplus of null values due to data extraction from company. 24,328 rows of usable data.

In [10]:
# Determine data types for df_2021_03.
df_2021_03.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [11]:
df_2021_03['Company Name'].value_counts()

Ecom2      11332
Ecom3       7725
Ecom1       3923
Winery1     1310
Winery3       84
Winery2       38
Name: Company Name, dtype: int64

In [12]:
df_2021_03['Ship Date'].value_counts()

3/19/21    4224
3/18/21    3580
3/20/21    3113
3/22/21    2183
3/2/21     1242
3/8/21      901
3/29/21     833
3/26/21     793
3/15/21     729
3/12/21     674
3/9/21      629
3/24/21     582
3/23/21     558
3/31/21     548
3/3/21      483
3/10/21     480
3/5/21      447
3/1/21      414
3/16/21     404
3/30/21     355
3/25/21     351
3/11/21     322
3/17/21     310
3/4/21      257
Name: Ship Date, dtype: int64

In [13]:
df_2021_03['Status'].value_counts()

Shipped              11532
Delivered             8871
In Transit            3782
Carrier Exception       80
Delivery Attempt        63
Name: Status, dtype: int64

In [14]:
df_2021_03['City'].value_counts()

New York        415
Chicago         284
San Diego       244
Brooklyn        210
Philadelphia    165
               ...
Fort Loudon       1
Swedesboro        1
Kilgore           1
Buckingham        1
CORAL GABLES      1
Name: City, Length: 5419, dtype: int64

In [15]:
df_2021_03['State'].value_counts()

CA    2804
NY    2470
FL    1840
PA    1629
NJ    1321
TX    1313
MA    1026
IL     983
VA     779
MI     745
OH     735
GA     694
MD     658
CO     627
NC     617
WA     510
CT     498
TN     446
MN     385
AZ     383
SC     359
IN     338
WI     322
MO     289
OR     270
NV     188
NH     164
LA     163
RI     163
KS     162
DC     155
IA     142
HI     134
OK     128
ME     121
NE     121
AR     108
NM      89
ID      79
VT      77
MT      71
DE      67
WV      63
WY      46
ND      42
SD      37
AK      36
AL      15
Name: State, dtype: int64

In [16]:
df_2021_03['Zip'].value_counts()

92130         58
94558         44
7030          32
10023         31
10019         31
              ..
19543          1
50036          1
49404          1
88220          1
96823-2364     1
Name: Zip, Length: 8134, dtype: int64

In [17]:
df_2021_03['Shipping Service'].value_counts()

FEH     12014
UPS     10911
FXG      1261
FEX        79
WCU        72
GSC        23
UP2        17
AZS        15
UPS7       12
UP3         5
UP1         2
SELF        1
Name: Shipping Service, dtype: int64

In [18]:
df_2021_03['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

3/17/21    11432
3/9/21       730
3/21/21      698
3/25/21      668
2/23/21      584
3/1/21       461
3/22/21      457
3/20/21      432
2/28/21      425
3/29/21      403
3/10/21      403
3/11/21      402
3/5/21       400
3/26/21      397
3/7/21       395
3/19/21      393
3/28/21      392
3/14/21      392
3/18/21      392
3/16/21      391
3/30/21      377
3/2/21       376
3/15/21      365
3/12/21      353
3/24/21      344
3/4/21       332
3/8/21       329
3/6/21       303
3/23/21      290
3/3/21       283
3/13/21      192
2/25/21      160
3/27/21      144
3/31/21      130
2/26/21       47
2/27/21       42
2/24/21       11
2/17/21        1
2/22/21        1
1/28/21        1
Name: Created Date, dtype: int64

In [19]:
df_2021_03['Weight'].value_counts()

7.00     11723
21.50     3943
10.50     1793
39.00     1667
14.00     1173
20.20      959
41.00      753
6.50       604
9.90       453
27.00      190
18.50      147
29.00      126
3.35       103
24.00       93
30.00       87
44.00       80
4.00        71
33.00       63
32.00       46
26.00       45
35.00       38
46.00       28
38.00       22
17.20       21
36.00       20
7.50        14
23.00       13
12.50        8
37.00        5
13.50        5
6.00         5
20.50        4
3.00         3
15.00        3
19.20        3
2.35         2
23.20        2
13.00        2
34.00        1
11.50        1
25.00        1
9.50         1
17.00        1
5.00         1
40.00        1
16.20        1
8.00         1
10.00        1
16.00        1
Name: Weight, dtype: int64

In [20]:
df_2021_03['Item/Bottle Count'].value_counts()

2.0     11726
6.0      4909
12.0     2419
3.0      2222
4.0      1229
1.0       924
8.0       304
5.0       169
7.0       143
9.0       132
10.0      100
11.0       33
13.0        8
14.0        5
15.0        2
18.0        2
16.0        1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [21]:
#Change dtypes if necessary

In [22]:
#Remove "Status" column from df_2020_01.
df_2021_03 = df_2021_03.drop('Status', axis=1)
df_2021_03

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,3/2/21,Lansdale,PA,19446,FEH,3/2/21,20.2,6.0
1,Ecom1,3/3/21,Prescott,AZ,86301,FEH,2/24/21,20.2,6.0
2,Ecom1,3/1/21,Fairhope,AL,36532,UPS,2/24/21,20.2,6.0
3,Ecom1,3/3/21,San Diego,CA,92105,FEH,2/25/21,6.5,1.0
4,Ecom1,3/3/21,Carlsbad,CA,92011,FEH,2/25/21,6.5,1.0
...,...,...,...,...,...,...,...,...,...
601529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Drop the NaNs for df_2021_03.
df_2021_03 = df_2021_03.dropna()

## Confirm Changes

In [24]:
#See five random rows of data
df_2021_03.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
17795,Ecom3,3/17/21,Columbia,IL,62236,UPS,3/17/21,21.5,6.0
1132,Winery1,3/2/21,Redwood City,CA,94061,UPS,2/23/21,14.0,4.0
8830,Ecom2,3/18/21,Farmington,CT,6032,FXG,3/17/21,7.0,2.0
23421,Ecom3,3/29/21,Hadley,NY,12835,FEH,3/26/21,21.5,6.0
22901,Ecom2,3/29/21,Rocklin,CA,95765,UPS,3/26/21,7.0,2.0

In [25]:
#Determine total rows for df_2021_03.
df_2021_03_rows = len(df_2021_03.axes[0])
df_2021_03_cols = len(df_2021_03.axes[1])
print("Number of Rows: ", df_2021_03_rows)
print("Number of Columns: ", df_2021_03_cols)

Number of Rows:  24328
Number of Columns:  9

## Export Cleaned df to .CSV

In [26]:
#Export df_2021_03 to .csv
df_2021_03.to_csv('../cleaned_months_2021/Clean_2021_03.csv')