In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2021_08 = "../../2021_Data/2021.08.csv"

In [4]:
# Read the August CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2021_08 = pd.read_csv(load_2021_08, low_memory=False)
df_2021_08.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Winery3,In Transit,8/2/2021,Olympia,WA,98501,UPS,8/2/2021,3.0,1.0
1,Winery3,In Transit,8/2/2021,Houston,TX,77010,UP2,8/2/2021,36.0,12.0
2,Winery3,In Transit,8/2/2021,Denver,CO,802382933,UP2,8/2/2021,36.0,12.0
3,Winery3,In Transit,8/2/2021,Morgan City,LA,70380,UP2,8/2/2021,36.0,12.0
4,Winery3,In Transit,8/2/2021,Erieville,NY,13061,UP2,8/2/2021,36.0,12.0

## Inspect the Data

In [5]:
#See five random rows of data
df_2021_08.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
618239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
657979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
513330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#See the last rows of data
df_2021_08.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
732457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
732458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
732459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
732460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
732461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_2021_08.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [8]:
#Determine total rows for df_2021_08.
df_2021_08_rows = len(df_2021_08.axes[0])
df_2021_08_cols = len(df_2021_08.axes[1])
print("Number of Rows: ", df_2021_08_rows)
print("Number of Columns: ", df_2021_08_cols)

Number of Rows:  732462
Number of Columns:  10

In [9]:
# Determine if there are any missing values in df_2021_08.
df_2021_08.isnull().sum()

Company Name         719371
Status               719398
Ship Date            719371
City                 719371
State                719371
Zip                  719371
Shipping Service     719371
Created Date         719398
Weight               719398
Item/Bottle Count    719371
dtype: int64

In [10]:
#Surplus of null values due to data extraction from company. 13,064 rows of usable data.

In [11]:
# Determine data types for df_2021_08.
df_2021_08.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [12]:
df_2021_08['Company Name'].value_counts()

Ecom3      5595
Ecom2      4246
Ecom1      2997
Winery1     125
Winery2      92
Winery3      36
Name: Company Name, dtype: int64

In [13]:
df_2021_08['Ship Date'].value_counts()

8/18/2021    2870
8/17/2021    1536
8/16/2021     819
8/19/2021     809
8/24/2021     714
8/31/2021     700
8/23/2021     696
8/2/2021      638
8/9/2021      543
8/12/2021     455
8/30/2021     408
8/25/2021     390
8/5/2021      315
8/3/2021      301
8/13/2021     299
8/10/2021     298
8/6/2021      279
8/20/2021     267
8/27/2021     259
8/4/2021      235
8/26/2021     209
8/11/2021      43
8/14/2021       3
8/22/2021       3
8/7/2021        2
Name: Ship Date, dtype: int64

In [14]:
df_2021_08['Status'].value_counts()

In Transit           7582
Shipped              5052
Delivered             346
Carrier Exception      75
Delivery Attempt        9
Name: Status, dtype: int64

In [15]:
df_2021_08['City'].value_counts()

New York        225
Chicago         163
Brooklyn        104
Los Angeles     101
Philadelphia     98
               ...
Wind Lake         1
Mead              1
Red Bluff         1
Steelton          1
PEARLAND          1
Name: City, Length: 3973, dtype: int64

In [16]:
df_2021_08['State'].value_counts()

CA    1457
NY    1344
PA     918
FL     816
NJ     774
TX     622
IL     575
OH     563
MA     547
CO     465
MI     443
MD     401
VA     328
GA     320
NC     292
CT     286
WA     279
TN     203
MN     198
IN     198
WI     194
MO     173
HI     153
OR     142
AZ     139
SC     133
LA      89
NH      84
RI      84
NE      83
ME      81
DC      72
KS      70
IA      56
MT      51
NV      49
ID      49
NM      46
DE      42
AR      40
OK      38
VT      32
SD      30
AK      28
ND      26
WY      24
WV      24
KY      15
AL      15
Name: State, dtype: int64

In [17]:
df_2021_08['Zip'].value_counts()

10019    25
7302     22
20815    19
33156    19
10025    17
         ..
56474     1
7662      1
5489      1
43616     1
27889     1
Name: Zip, Length: 5863, dtype: int64

In [18]:
df_2021_08['Shipping Service'].value_counts()

UPS     6241
FEH     5996
FXG      645
UP1       92
FEX       84
UP2       24
GSC        7
SELF       1
AZS        1
Name: Shipping Service, dtype: int64

In [19]:
df_2021_08['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

8/17/2021    4421
8/16/2021     558
8/23/2021     540
8/24/2021     516
8/22/2021     408
8/29/2021     404
8/28/2021     346
8/13/2021     342
8/10/2021     342
8/20/2021     325
8/15/2021     308
8/1/2021      301
8/6/2021      276
8/26/2021     269
8/2/2021      267
8/5/2021      263
8/11/2021     256
8/18/2021     255
8/9/2021      242
8/12/2021     240
8/4/2021      217
7/30/2021     214
8/14/2021     211
8/8/2021      198
8/27/2021     197
8/19/2021     181
7/31/2021     179
8/30/2021     177
8/25/2021     164
8/3/2021      163
8/21/2021     111
8/7/2021      107
8/31/2021      59
7/26/2021       2
7/24/2021       1
7/28/2021       1
7/29/2021       1
7/22/2021       1
7/23/2021       1
Name: Created Date, dtype: int64

In [20]:
df_2021_08['Weight'].value_counts()

7.00     4547
21.50    2882
39.00    1486
10.50     977
20.20     686
41.00     580
14.00     347
9.90      300
6.50      268
27.00     125
8.00      116
3.35      108
29.00      84
18.50      81
5.50       68
30.00      61
32.00      60
33.00      45
24.00      43
35.00      39
26.00      34
44.00      30
4.00       26
38.00      21
36.00      19
17.20      12
13.50       4
31.00       4
46.00       2
42.00       1
12.00       1
27.50       1
13.00       1
3.00        1
18.20       1
20.50       1
18.00       1
17.00       1
Name: Weight, dtype: int64

In [21]:
df_2021_08['Item/Bottle Count'].value_counts()

2.0     4551
6.0     3578
12.0    2075
3.0     1276
1.0      622
4.0      349
8.0      210
9.0      120
5.0       93
10.0      83
7.0       77
11.0      26
13.0      16
14.0       5
24.0       5
15.0       3
16.0       2
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [22]:
#Change dtypes if necessary

In [23]:
#Remove "Status" column from df_2021_08.
df_2021_08 = df_2021_08.drop('Status', axis=1)
df_2021_08

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Winery3,8/2/2021,Olympia,WA,98501,UPS,8/2/2021,3.0,1.0
1,Winery3,8/2/2021,Houston,TX,77010,UP2,8/2/2021,36.0,12.0
2,Winery3,8/2/2021,Denver,CO,802382933,UP2,8/2/2021,36.0,12.0
3,Winery3,8/2/2021,Morgan City,LA,70380,UP2,8/2/2021,36.0,12.0
4,Winery3,8/2/2021,Erieville,NY,13061,UP2,8/2/2021,36.0,12.0
...,...,...,...,...,...,...,...,...,...
732457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
732458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
732459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
732460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
732461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# Drop the NaNs for df_2021_08.
df_2021_08 = df_2021_08.dropna()

## Confirm Changes

In [25]:
#See five random rows of data
df_2021_08.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
12521,Ecom1,8/31/2021,Watertown,MA,2472,FEH,8/30/2021,39.0,12.0
6788,Ecom2,8/18/2021,Marblehead,MA,1945,UPS,8/17/2021,7.0,2.0
6242,Ecom2,8/18/2021,San Jose,CA,95126,UPS,8/17/2021,7.0,2.0
9966,Ecom3,8/23/2021,Hampden,ME,4444,UPS,8/20/2021,41.0,12.0
8137,Ecom2,8/18/2021,Los Angeles,CA,90034,UPS,8/17/2021,7.0,2.0

In [26]:
#Determine total rows for df_2021_08.
df_2021_08_rows = len(df_2021_08.axes[0])
df_2021_08_cols = len(df_2021_08.axes[1])
print("Number of Rows: ", df_2021_08_rows)
print("Number of Columns: ", df_2021_08_cols)

Number of Rows:  13064
Number of Columns:  9

## Export Cleaned df to .CSV

In [27]:
#Export df_2021_08 to .csv
df_2021_08.to_csv('../cleaned_months_2021/Clean_2021_08.csv')