In [ ]:
import pandas as pd
import os
import numpy as np

# Import CSV files for all 12 months of 2021

In [ ]:
# Files to load
load_2021_01 = "../2021_Data/2021.01.csv"
load_2021_02 = "../2021_Data/2021.02.csv"
load_2021_03 = "../2021_Data/copy2021.03.csv"
load_2021_04 = "../2021_Data/2021.04.csv"
load_2021_05 = "../2021_Data/2021.05.csv"
load_2021_06 = "../2021_Data/2021.06.csv"
load_2021_07 = "../2021_Data/2021.07.csv"
load_2021_08 = "../2021_Data/2021.08.csv"
load_2021_09 = "../2021_Data/2021.09.csv"
load_2021_10 = "../2021_Data/2021.10.csv"
load_2021_11 = "../2021_Data/2021.11.csv"
load_2021_12 = "../2021_Data/2021.12.csv"

## Read each CSV file into individual DataFrames

In [ ]:
# Read the January CSV into a DataFrame
#DtypeWarning: Columns (0,1,2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2021_01 = pd.read_csv(load_2021_01, low_memory=False)
#df_2021_01.head()

In [ ]:
# Read the February CSV into a DataFrame
df_2021_02 = pd.read_csv(load_2021_02)
#df_2021_02.head()

In [ ]:
# Read the March CSV into a DataFrame
#DtypeWarning: Columns (0,1,2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
df_2021_03 = pd.read_csv(load_2021_03, low_memory=False)
#df_2021_03.head()

In [ ]:
# Read the April CSV into a DataFrame
#DtypeWarning: Columns (0,1,2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
df_2021_04 = pd.read_csv(load_2021_04, low_memory=False)
#df_2021_04.head()

In [ ]:
# Read the May CSV into a DataFrame
#DtypeWarning: Columns (0,1,2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
df_2021_05 = pd.read_csv(load_2021_05, low_memory=False)
#df_2021_05.head()

In [ ]:
# Read the June CSV into a DataFrame
#DtypeWarning: Columns (0,1,2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
df_2021_06 = pd.read_csv(load_2021_06, low_memory=False)
#df_2021_06.head()

In [ ]:
# Read the July CSV into a DataFrame
df_2021_07 = pd.read_csv(load_2021_07)
#df_2021_07.head()

In [ ]:
# Read the August CSV into a DataFrame
df_2021_08 = pd.read_csv(load_2021_08)
#df_2021_08.head()

In [ ]:
# Read the September CSV into a DataFrame
df_2021_09 = pd.read_csv(load_2021_09, low_memory=False)
#df_2021_09.head()

In [ ]:
# Read the October CSV into a DataFrame
df_2021_10 = pd.read_csv(load_2021_10, low_memory=False)
#df_2021_10.head()

In [ ]:
# Read the November CSV into a DataFrame
df_2021_11 = pd.read_csv(load_2021_11, low_memory=False)
#df_2021_11.head()

In [ ]:
# Read the December CSV into a DataFrame
df_2021_12 = pd.read_csv(load_2021_12, low_memory=False)
#df_2021_12.head()

## Set Index to Company Name

In [ ]:
#Set index to "Company Name" for all df.
df_2020_01.set_index("Company Name")
df_2020_02.set_index("Company Name")
df_2020_03.set_index("Company Name")
df_2020_04.set_index("Company Name")
df_2020_05.set_index("Company Name")
df_2020_06.set_index("Company Name")
df_2020_07.set_index("Company Name")
df_2020_08.set_index("Company Name")
df_2020_09.set_index("Company Name")
df_2020_10.set_index("Company Name")
df_2020_11.set_index("Company Name")
df_2020_12.set_index("Company Name")

## Determine length of dataframes (Something isn't right here.)

In [ ]:
#Determine total rows for df_2021_01.
df_2021_01_rows = len(df_2021_01.axes[0])
df_2021_01_cols = len(df_2021_01.axes[1])
print("Number of Rows: ", df_2021_01_rows)
print("Number of Columns: ", df_2021_01_cols)

In [ ]:
#Determine total rows for df_2021_02.
df_2021_02_rows = len(df_2021_02.axes[0])
df_2021_02_cols = len(df_2021_02.axes[1])
print("Number of Rows: ", df_2021_02_rows)
print("Number of Columns: ", df_2021_02_cols)

In [ ]:
#Determine total rows for df_2021_03.
df_2021_03_rows = len(df_2021_03.axes[0])
df_2021_03_cols = len(df_2021_03.axes[1])
print("Number of Rows: ", df_2021_03_rows)
print("Number of Columns: ", df_2021_03_cols)

In [ ]:
#Determine total rows for df_2021_04.
df_2021_04_rows = len(df_2021_04.axes[0])
df_2021_04_cols = len(df_2021_04.axes[1])
print("Number of Rows: ", df_2021_04_rows)
print("Number of Columns: ", df_2021_04_cols)

In [ ]:
#Determine total rows for df_2021_05.
df_2021_05_rows = len(df_2021_05.axes[0])
df_2021_05_cols = len(df_2021_05.axes[1])
print("Number of Rows: ", df_2021_05_rows)
print("Number of Columns: ", df_2021_05_cols)

In [ ]:
#Determine total rows for df_2021_06.
df_2021_06_rows = len(df_2021_06.axes[0])
df_2021_06_cols = len(df_2021_06.axes[1])
print("Number of Rows: ", df_2021_06_rows)
print("Number of Columns: ", df_2021_06_cols)

In [ ]:
#Determine total rows for df_2021_07.
df_2021_07_rows = len(df_2021_07.axes[0])
df_2021_07_cols = len(df_2021_07.axes[1])
print("Number of Rows: ", df_2021_07_rows)
print("Number of Columns: ", df_2021_07_cols)

In [ ]:
#Determine total rows for df_2020_08.
df_2021_08_rows = len(df_2021_08.axes[0])
df_2021_08_cols = len(df_2021_08.axes[1])
print("Number of Rows: ", df_2021_08_rows)
print("Number of Columns: ", df_2021_08_cols)

In [ ]:
#Determine total rows for df_2021_09.
df_2021_09_rows = len(df_2021_09.axes[0])
df_2021_09_cols = len(df_2021_09.axes[1])
print("Number of Rows: ", df_2021_09_rows)
print("Number of Columns: ", df_2021_09_cols)

In [ ]:
#Determine total rows for df_2021_10.
df_2021_10_rows = len(df_2021_10.axes[0])
df_2021_10_cols = len(df_2021_10.axes[1])
print("Number of Rows: ", df_2021_10_rows)
print("Number of Columns: ", df_2021_10_cols)

In [ ]:
#Determine total rows for df_2021_11.
df_2021_11_rows = len(df_2021_11.axes[0])
df_2021_11_cols = len(df_2021_11.axes[1])
print("Number of Rows: ", df_2021_11_rows)
print("Number of Columns: ", df_2021_11_cols)

In [ ]:
#Determine total rows for df_2021_12.
df_2021_12_rows = len(df_2021_12.axes[0])
df_2021_12_cols = len(df_2021_12.axes[1])
print("Number of Rows: ", df_2021_12_rows)
print("Number of Columns: ", df_2021_12_cols)

In [ ]:
#Row/Column Summary
#1 Number of Rows:  668252, Number of Columns:  10
#2 Number of Rows:  26845, Number of Columns:  11
#3 Number of Rows:  601534, Number of Columns:  10
#4 Number of Rows:  601137, Number of Columns:  10
#5 Number of Rows:  675963, Number of Columns:  10
#6 Number of Rows:  706897, Number of Columns:  10
#7 Number of Rows:  12778, Number of Columns:  10
#8 Number of Rows:  13091, Number of Columns:  10
#9 Number of Rows:  741722, Number of Columns:  11
#10 Number of Rows:  716040, Number of Columns:  10
#11 Number of Rows:  647989, Number of Columns:  10
#12 Number of Rows:  617209, Number of Columns:  10

## Inspect DataFrames for Null Values (Missing a lot of data- something about how the data was extracted.)

In [ ]:
# Determine if there are any missing values in df_2021_01.
#Missing 96% of values.
df_2021_01.isnull().sum()

In [ ]:
# Determine if there are any missing values in df_2021_02.
#Missing 2% of values from Status, Created Date, Weight and Item/Bottle Count.
df_2021_02.isnull().sum()

In [ ]:
df_2021_02.isnull().sum()

In [ ]:
# Determine if there are any missing values in df_2021_03.
#Missing 96% of values.
df_2021_03.isnull().sum()

In [ ]:
# Determine if there are any missing values in df_2021_04.
#Missing 96% of values.
df_2021_04.isnull().sum()

In [ ]:
# Determine if there are any missing values in df_2021_05.
#Missing 97%
df_2021_05.isnull().sum()

In [ ]:
# Determine if there are any missing values in df_2021_06.
#Missing 97%
df_2021_06.isnull().sum()

In [ ]:
# Determine if there are any missing values in df_2021_07.
#Missing 100% of values from Status column.
df_2021_07.isnull().sum()

In [ ]:
# Determine if there are any missing values in df_2021_08.
df_2021_08.isnull().sum()

In [ ]:
# Determine if there are any missing values in df_2021_09.
df_2021_09.isnull().sum()

In [ ]:
# Determine if there are any missing values in df_2021_10.
df_2021_10.isnull().sum()

In [ ]:
# Determine if there are any missing values in df_2021_11.
df_2021_11.isnull().sum()

In [ ]:
# Determine if there are any missing values in df_2021_12.
df_2021_12.isnull().sum()

## Drop NaN Values (This may have already been done when Steve cleaned the data)

In [ ]:
# Drop the NaNs for all df.
df_2021_01.dropna()
df_2021_02.dropna()
df_2021_03.dropna()
df_2021_04.dropna()
df_2021_05.dropna()
df_2021_06.dropna()
df_2021_07.dropna()
df_2021_08.dropna()
df_2021_09.dropna()
df_2021_10.dropna()
df_2021_11.dropna()
df_2021_12.dropna()

## Remove Unnecessary Columns

In [ ]:
#Remove "Status" column from all 12 df.
df_2021_01 = df_2021_01.drop('Status', axis=1)
df_2021_02 = df_2021_02.drop('Status', axis=1)
df_2021_03 = df_2021_03.drop('Status', axis=1)
df_2021_04 = df_2021_04.drop('Status', axis=1)
df_2021_05 = df_2021_05.drop('Status', axis=1)
df_2021_06 = df_2021_06.drop('Status', axis=1)
df_2021_07 = df_2021_07.drop('Status', axis=1)
df_2021_08 = df_2021_08.drop('Status', axis=1)
df_2021_09 = df_2021_09.drop('Status', axis=1)
df_2021_10 = df_2021_10.drop('Status', axis=1)
df_2021_11 = df_2021_11.drop('Status', axis=1)
df_2021_12 = df_2021_12.drop('Status', axis=1)

In [ ]:
#Remove Zone column from df_2021_02 and df_2021_09
df_2021_02 = df_2021_02.drop('Zone', axis=1)
df_2021_09 = df_2021_09.drop('Zone', axis=1)

## Determine Data Types and Clean

In [ ]:
# Determine data types for df_2021_01.
df_2021_01.dtypes

In [ ]:
# Determine data types for df_2021_02.
df_2021_02.dtypes

In [ ]:
# Determine data types for df_2021_03.
df_2021_03.dtypes

In [ ]:
# Determine data types for df_2021_04.
df_2021_04.dtypes

In [ ]:
# Determine data types for df_2021_05.
df_2021_05.dtypes

In [ ]:
# Determine data types for df_2021_06.
df_2021_06.dtypes

In [ ]:
# Determine data types for df_2021_07.
df_2021_07.dtypes

In [ ]:
#Change ["Item/Bottle Count"] to float64 type in df_2021_07.
df_2021_07["Item/Bottle Count"]=df_2021_07["Item/Bottle Count"].astype(float)
df_2021_07.dtypes

In [ ]:
# Determine data types for df_2021_08.
df_2021_08.dtypes

In [ ]:
#Change ["Item/Bottle Count"] to float64 type in df_2021_08.
df_2021_08["Item/Bottle Count"]=df_2021_08["Item/Bottle Count"].astype(float)
df_2021_08.dtypes

In [ ]:
# Determine data types for df_2021_09.
df_2021_09.dtypes

In [ ]:
# Determine data types for df_2021_10.
df_2021_10.dtypes

In [ ]:
# Determine data types for df_2021_11.
df_2021_11.dtypes

In [ ]:
# Determine data types for df_2021_12.
df_2021_12.dtypes

## Inspect DataFrames to Determine Where to Join

In [ ]:
df_2021_01.columns

In [ ]:
df_2021_02.columns

In [ ]:
df_2021_03.columns

In [ ]:
df_2021_04.columns

In [ ]:
df_2021_05.columns

In [ ]:
df_2021_06.columns

In [ ]:
df_2021_07.columns

In [ ]:
df_2021_08.columns

In [ ]:
df_2021_09.columns

In [ ]:
df_2021_10.columns

In [ ]:
df_2021_11.columns

In [ ]:
df_2021_12.columns

## Join Individual DataFrames to Create One 2021 Year DataFrame

In [ ]:
# Combine the data into a single dataset.
complete_2021_df = pd.merge(df_2021_01,
                            df_2021_02,
                            df_2021_03,
                            df_2021_04,
                            df_2021_05,
                            df_2021_06,
                            df_2021_07,
                            df_2021_08,
                            df_2021_09,
                            df_2021_10,
                            df_2021_11,
                            df_2021_12 on= ["Company Name",
                                            "Company Name",
                                            "Company Name",
                                            "Company Name",
                                            "Company Name",
                                            "Company Name",
                                            "Company Name",
                                            "Company Name",
                                            "Company Name",
                                            "Company Name",
                                            "Company Name",
                                            "Company Name"])
complete_2021_df.head()

## Export the 2021 year DataFrame to a .csv

In [ ]:
#Export complete_2021_df to .csv
complete_2021_df.to_csv('Final_Project/Complete_2021.csv')

In [ ]:
#Export to SQL