In [1]:
#Import dependencies
import pandas as pd

In [2]:
# Files to load
load_2020_01 = "cleaned_months_2020/Clean_2020_01.csv"
load_2020_02 = "cleaned_months_2020/Clean_2020_02.csv"
load_2020_03 = "cleaned_months_2020/Clean_2020_03.csv"
load_2020_04 = "cleaned_months_2020/Clean_2020_04.csv"
load_2020_05 = "cleaned_months_2020/Clean_2020_05.csv"
load_2020_06 = "cleaned_months_2020/Clean_2020_06.csv"
load_2020_07 = "cleaned_months_2020/Clean_2020_07.csv"
load_2020_08 = "cleaned_months_2020/Clean_2020_08.csv"
load_2020_09 = "cleaned_months_2020/Clean_2020_09.csv"
load_2020_10 = "cleaned_months_2020/Clean_2020_10.csv"
load_2020_11 = "cleaned_months_2020/Clean_2020_11.csv"
load_2020_12 = "cleaned_months_2020/Clean_2020_12.csv"

In [30]:
# Read Clean_2020_01.csv into a DataFrame
clean_df_2020_01 = pd.read_csv(load_2020_01, index_col=[0])
clean_df_2020_01.head()

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,1/2/20,Plantation,FL,33325,UPS,1/1/20,9.9,3.0
1,Ecom3,1/2/20,Lafayette,CA,94549,UPS,12/31/19,35.0,10.0
2,Ecom3,1/2/20,New York,NY,10022,FEH,1/1/20,29.0,8.0
3,Ecom3,1/3/20,New York,NY,10006,FEH,1/2/20,21.5,6.0
4,Ecom3,1/2/20,Walkersville,MD,21793,FXG,12/31/19,41.0,12.0

In [29]:
# Read Clean_2020_02.csv into a DataFrame
clean_df_2020_02 = pd.read_csv(load_2020_02, index_col=[0])
#clean_df_2020_02.head()

In [31]:
# Read Clean_2020_03.csv into a DataFrame
clean_df_2020_03 = pd.read_csv(load_2020_03, index_col=[0])
#clean_df_2020_03.head()

In [32]:
# Read Clean_2020_04.csv into a DataFrame
clean_df_2020_04 = pd.read_csv(load_2020_04, index_col=[0])
#clean_df_2020_04.head()

In [33]:
# Read Clean_2020_05.csv into a DataFrame
clean_df_2020_05 = pd.read_csv(load_2020_05, index_col=[0])
#clean_df_2020_05.head()

In [34]:
# Read Clean_2020_06.csv into a DataFrame
clean_df_2020_06 = pd.read_csv(load_2020_06, index_col=[0])
#clean_df_2020_06.head()

In [35]:
# Read Clean_2020_07.csv into a DataFrame
clean_df_2020_07 = pd.read_csv(load_2020_07, index_col=[0])
#clean_df_2020_07.head()

In [36]:
# Read Clean_2020_08.csv into a DataFrame
clean_df_2020_08 = pd.read_csv(load_2020_08, index_col=[0])
#clean_df_2020_08.head()

In [37]:
# Read Clean_2020_09.csv into a DataFrame
clean_df_2020_09 = pd.read_csv(load_2020_09, index_col=[0])
#clean_df_2020_09.head()

In [38]:
# Read Clean_2020_10.csv into a DataFrame
clean_df_2020_10 = pd.read_csv(load_2020_10, index_col=[0])
#clean_df_2020_10.head()

In [39]:
# Read Clean_2020_11.csv into a DataFrame
clean_df_2020_11 = pd.read_csv(load_2020_11, index_col=[0])
#clean_df_2020_11.head()

In [40]:
# Read Clean_2020_12.csv into a DataFrame
clean_df_2020_12 = pd.read_csv(load_2020_12, index_col=[0])
#clean_df_2020_12.head()

In [41]:
#Test appending two df before doing all 12.
test_df = clean_df_2020_01.append(clean_df_2020_02, ignore_index = True)
test_df.head()

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,1/2/20,Plantation,FL,33325,UPS,1/1/20,9.9,3.0
1,Ecom3,1/2/20,Lafayette,CA,94549,UPS,12/31/19,35.0,10.0
2,Ecom3,1/2/20,New York,NY,10022,FEH,1/1/20,29.0,8.0
3,Ecom3,1/3/20,New York,NY,10006,FEH,1/2/20,21.5,6.0
4,Ecom3,1/2/20,Walkersville,MD,21793,FXG,12/31/19,41.0,12.0

In [42]:
#Count the number of rows in appended df.
#clean_df_2020_01: 7,680 rows
#clean_df_2020_02: 8,467 rows (total row should be 16,147)
test_df.shape[0]
#The append worked!

16147

In [43]:
#Row counts for all 12 df:
#clean_df_2020_01: 7,680 rows
#clean_df_2020_02: 8,467 rows
#clean_df_2020_03: 12,283 rows
#clean_df_2020_04: 14,365 rows
#clean_df_2020_05: 32,231 rows
#clean_df_2020_06: 19,389 rows
#clean_df_2020_07: 19,390 rows
#clean_df_2020_08: 20,129 rows
#clean_df_2020_09: 22,277 rows
#clean_df_2020_10: 19,934 rows
#clean_df_2020_11: 22,811 rows
#clean_df_2020_12: 33,846 rows
#Total row count for complete_2020_df should be: 232,802.

In [44]:
#append all 12 months to one df:
complete_2020_df = clean_df_2020_01.append([clean_df_2020_02,
                                           clean_df_2020_03,
                                           clean_df_2020_04,
                                           clean_df_2020_05,
                                           clean_df_2020_06,
                                           clean_df_2020_07, 
                                           clean_df_2020_08,
                                           clean_df_2020_09,
                                           clean_df_2020_10, 
                                           clean_df_2020_11, 
                                           clean_df_2020_12], ignore_index = True)
complete_2020_df.head()

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,1/2/20,Plantation,FL,33325,UPS,1/1/20,9.9,3.0
1,Ecom3,1/2/20,Lafayette,CA,94549,UPS,12/31/19,35.0,10.0
2,Ecom3,1/2/20,New York,NY,10022,FEH,1/1/20,29.0,8.0
3,Ecom3,1/3/20,New York,NY,10006,FEH,1/2/20,21.5,6.0
4,Ecom3,1/2/20,Walkersville,MD,21793,FXG,12/31/19,41.0,12.0

In [45]:
#Verify the total row count is accurate. 
complete_2020_df.shape[0]

232802

In [47]:
#Export complete_2020_df to .csv
complete_2020_df.to_csv('complete_annual_df/Complete_2020.csv') 
#write the merged data to the csv file.
#pd.DataFrame.to_csv(df_merged, 'merged.txt', sep=',', na_rep='.', index=False)