In [1]:
#Import dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
import time

In [2]:
# Files to load
load_2020_01 = "cleaned_months_2020/Clean_2020_01.csv"
load_2020_02 = "cleaned_months_2020/Clean_2020_02.csv"
load_2020_03 = "cleaned_months_2020/Clean_2020_03.csv"
load_2020_04 = "cleaned_months_2020/Clean_2020_04.csv"
load_2020_05 = "cleaned_months_2020/Clean_2020_05.csv"
load_2020_06 = "cleaned_months_2020/Clean_2020_06.csv"
load_2020_07 = "cleaned_months_2020/Clean_2020_07.csv"
load_2020_08 = "cleaned_months_2020/Clean_2020_08.csv"
load_2020_09 = "cleaned_months_2020/Clean_2020_09.csv"
load_2020_10 = "cleaned_months_2020/Clean_2020_10.csv"
load_2020_11 = "cleaned_months_2020/Clean_2020_11.csv"
load_2020_12 = "cleaned_months_2020/Clean_2020_12.csv"

In [3]:
# Read Clean_2020_01.csv into a DataFrame
clean_df_2020_01 = pd.read_csv(load_2020_01, index_col=[0])
clean_df_2020_01.head()

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,1/2/20,Plantation,FL,33325,UPS,1/1/20,9.9,3.0
1,Ecom3,1/2/20,Lafayette,CA,94549,UPS,12/31/19,35.0,10.0
2,Ecom3,1/2/20,New York,NY,10022,FEH,1/1/20,29.0,8.0
3,Ecom3,1/3/20,New York,NY,10006,FEH,1/2/20,21.5,6.0
4,Ecom3,1/2/20,Walkersville,MD,21793,FXG,12/31/19,41.0,12.0

In [4]:
# Read Clean_2020_02.csv into a DataFrame
clean_df_2020_02 = pd.read_csv(load_2020_02, index_col=[0])
#clean_df_2020_02.head()

In [5]:
# Read Clean_2020_03.csv into a DataFrame
clean_df_2020_03 = pd.read_csv(load_2020_03, index_col=[0])
#clean_df_2020_03.head()

In [6]:
# Read Clean_2020_04.csv into a DataFrame
clean_df_2020_04 = pd.read_csv(load_2020_04, index_col=[0])
#clean_df_2020_04.head()

In [7]:
# Read Clean_2020_05.csv into a DataFrame
clean_df_2020_05 = pd.read_csv(load_2020_05, index_col=[0])
#clean_df_2020_05.head()

In [8]:
# Read Clean_2020_06.csv into a DataFrame
clean_df_2020_06 = pd.read_csv(load_2020_06, index_col=[0])
#clean_df_2020_06.head()

In [9]:
# Read Clean_2020_07.csv into a DataFrame
clean_df_2020_07 = pd.read_csv(load_2020_07, index_col=[0])
#clean_df_2020_07.head()

In [10]:
# Read Clean_2020_08.csv into a DataFrame
clean_df_2020_08 = pd.read_csv(load_2020_08, index_col=[0])
#clean_df_2020_08.head()

In [11]:
# Read Clean_2020_09.csv into a DataFrame
clean_df_2020_09 = pd.read_csv(load_2020_09, index_col=[0])
#clean_df_2020_09.head()

In [12]:
# Read Clean_2020_10.csv into a DataFrame
clean_df_2020_10 = pd.read_csv(load_2020_10, index_col=[0])
#clean_df_2020_10.head()

In [13]:
# Read Clean_2020_11.csv into a DataFrame
clean_df_2020_11 = pd.read_csv(load_2020_11, index_col=[0])
#clean_df_2020_11.head()

In [14]:
# Read Clean_2020_12.csv into a DataFrame
clean_df_2020_12 = pd.read_csv(load_2020_12, index_col=[0])
#clean_df_2020_12.head()

In [15]:
#Test appending two df before doing all 12.
test_df = clean_df_2020_01.append(clean_df_2020_02, ignore_index = True)
test_df.head()

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,1/2/20,Plantation,FL,33325,UPS,1/1/20,9.9,3.0
1,Ecom3,1/2/20,Lafayette,CA,94549,UPS,12/31/19,35.0,10.0
2,Ecom3,1/2/20,New York,NY,10022,FEH,1/1/20,29.0,8.0
3,Ecom3,1/3/20,New York,NY,10006,FEH,1/2/20,21.5,6.0
4,Ecom3,1/2/20,Walkersville,MD,21793,FXG,12/31/19,41.0,12.0

In [16]:
#Count the number of rows in appended df.
#clean_df_2020_01: 7,680 rows
#clean_df_2020_02: 8,467 rows (total row should be 16,147)
test_df.shape[0]
#The append worked!

16147

In [17]:
#Row counts for all 12 df:
#clean_df_2020_01: 7,680 rows
#clean_df_2020_02: 8,467 rows
#clean_df_2020_03: 12,283 rows
#clean_df_2020_04: 14,365 rows
#clean_df_2020_05: 32,231 rows
#clean_df_2020_06: 19,389 rows
#clean_df_2020_07: 19,390 rows
#clean_df_2020_08: 20,129 rows
#clean_df_2020_09: 22,277 rows
#clean_df_2020_10: 19,934 rows
#clean_df_2020_11: 22,811 rows
#clean_df_2020_12: 33,846 rows
#Total row count for complete_2020_df should be: 232,802.

In [18]:
#append all 12 months to one df:
complete_2020_df = clean_df_2020_01.append([clean_df_2020_02,
                                           clean_df_2020_03,
                                           clean_df_2020_04,
                                           clean_df_2020_05,
                                           clean_df_2020_06,
                                           clean_df_2020_07, 
                                           clean_df_2020_08,
                                           clean_df_2020_09,
                                           clean_df_2020_10, 
                                           clean_df_2020_11, 
                                           clean_df_2020_12], ignore_index = True)
complete_2020_df.head()

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,1/2/20,Plantation,FL,33325,UPS,1/1/20,9.9,3.0
1,Ecom3,1/2/20,Lafayette,CA,94549,UPS,12/31/19,35.0,10.0
2,Ecom3,1/2/20,New York,NY,10022,FEH,1/1/20,29.0,8.0
3,Ecom3,1/3/20,New York,NY,10006,FEH,1/2/20,21.5,6.0
4,Ecom3,1/2/20,Walkersville,MD,21793,FXG,12/31/19,41.0,12.0

In [19]:
#Verify the total row count is accurate. 
complete_2020_df.shape[0]

235393

In [20]:
#Export complete_2020_df to .csv
complete_2020_df.to_csv('complete_annual_df/Complete_2020.csv')

## Connect Pandas to SQL

In [21]:
#Create a database and create tables in pgAdmin (PostgreSQL).

In [24]:
#Create the database engine that will allow Pandas to communicate with our SQL server.
#"postgresql://[user]:[password]@[location]:[port]/[database]"
#For our local server, the connection string will be as follows:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/complete_2020_df"

In [25]:
#Create the database engine
engine = create_engine(db_string)

In [ ]:
#Save the df to a SQL table.
#complete_2020_df.to_sql(name='complete_2020', con=engine)
#This is for a smaller data set. Probably need to use the code below to connect the large .csv
#Probably can use this code for the states df

In [ ]:
#To import large data:
# Do not run this yet! This can take upwwards of an hour.
# create a variable for the number of rows imported
rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in pd.read_csv(f'{file_dir}Complete_2020.csv', chunksize=1000000):

    # print out the range of rows that are being imported
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')

    data.to_sql(name='complete_2020', con=engine, if_exists='append')

    # increment the number of rows imported by the size of 'data'
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

In [ ]:
#In pgAdmin, confirm that the table imported correctly. Follow these steps:
#Right-click the "complete_2020" table name and select Properties.
#Click the Columns tab to make sure all columns have an appropriate data type.
#Close the Properties window, and then right-click "complete_2020" again.
#Select "View/Edit Data" followed by "First 100 Rows."
#Right-click "complete_2020" and select Query Tool.
#Inside the Query Editor, run the query select count(*) from complete_2020 to make sure all the rows were imported.