In [1]:
#Import dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
import time

In [2]:
# Files to load
load_2021_01 = "cleaned_months_2021/Clean_2021_01.csv"
load_2021_02 = "cleaned_months_2021/Clean_2021_02.csv"
load_2021_03 = "cleaned_months_2021/Clean_2021_03.csv"
load_2021_04 = "cleaned_months_2021/Clean_2021_04.csv"
load_2021_05 = "cleaned_months_2021/Clean_2021_05.csv"
load_2021_06 = "cleaned_months_2021/Clean_2021_06.csv"
load_2021_07 = "cleaned_months_2021/Clean_2021_07.csv"
load_2021_08 = "cleaned_months_2021/Clean_2021_08.csv"
load_2021_09 = "cleaned_months_2021/Clean_2021_09.csv"
load_2021_10 = "cleaned_months_2021/Clean_2021_10.csv"
load_2021_11 = "cleaned_months_2021/Clean_2021_11.csv"
load_2021_12 = "cleaned_months_2021/Clean_2021_12.csv"

In [3]:
# Read Clean_2021_01.csv into a DataFrame
clean_df_2021_01 = pd.read_csv(load_2021_01, index_col=[0])
clean_df_2021_01.head()

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,1/4/2021,Pleasant Prairie,WI,53158,FEH,12/7/2020,10.5,3.0
1,Ecom1,1/5/2021,Beaverton,OR,97005,FEH,12/23/2020,10.5,3.0
2,Ecom1,1/5/2021,Edison,NJ,8820,FEH,12/24/2020,6.5,1.0
3,Ecom1,1/5/2021,Jersey city,NJ,7302,FEH,12/24/2020,6.5,1.0
4,Ecom1,1/5/2021,Stoughton,MA,2072,FEH,12/24/2020,6.5,1.0

In [4]:
# Read Clean_2021_02.csv into a DataFrame
clean_df_2021_02 = pd.read_csv(load_2021_02, index_col=[0])
#clean_df_2021_02.head()

In [5]:
# Read Clean_2021_03.csv into a DataFrame
clean_df_2021_03 = pd.read_csv(load_2021_03, index_col=[0])
#clean_df_2021_03.head()

In [6]:
# Read Clean_2021_04.csv into a DataFrame
clean_df_2021_04 = pd.read_csv(load_2021_04, index_col=[0])
#clean_df_2021_04.head()

In [7]:
# Read Clean_2021_05.csv into a DataFrame
clean_df_2021_05 = pd.read_csv(load_2021_05, index_col=[0])
#clean_df_2021_05.head()

In [8]:
# Read Clean_2021_06.csv into a DataFrame
clean_df_2021_06 = pd.read_csv(load_2021_06, index_col=[0])
#clean_df_2021_06.head()

In [9]:
# Read Clean_2021_07.csv into a DataFrame
clean_df_2021_07 = pd.read_csv(load_2021_07, index_col=[0])
#clean_df_2021_07.head()

In [10]:
# Read Clean_2021_08.csv into a DataFrame
clean_df_2021_08 = pd.read_csv(load_2021_08, index_col=[0])
#clean_df_2021_08.head()

In [11]:
# Read Clean_2021_09.csv into a DataFrame
clean_df_2021_09 = pd.read_csv(load_2021_09, index_col=[0])
#clean_df_2021_09.head()

In [12]:
# Read Clean_2021_10.csv into a DataFrame
clean_df_2021_10 = pd.read_csv(load_2021_10, index_col=[0])
#clean_df_2021_10.head()

In [13]:
# Read Clean_2021_11.csv into a DataFrame
clean_df_2021_11 = pd.read_csv(load_2021_11, index_col=[0])
#clean_df_2021_11.head()

In [14]:
# Read Clean_2021_12.csv into a DataFrame
clean_df_2021_12 = pd.read_csv(load_2021_12, index_col=[0])
#clean_df_2021_12.head()

In [15]:
#Test appending two df before doing all 12.
test_df = clean_df_2021_01.append(clean_df_2021_02, ignore_index = True)
test_df.head()

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,1/4/2021,Pleasant Prairie,WI,53158,FEH,12/7/2020,10.5,3.0
1,Ecom1,1/5/2021,Beaverton,OR,97005,FEH,12/23/2020,10.5,3.0
2,Ecom1,1/5/2021,Edison,NJ,8820,FEH,12/24/2020,6.5,1.0
3,Ecom1,1/5/2021,Jersey city,NJ,7302,FEH,12/24/2020,6.5,1.0
4,Ecom1,1/5/2021,Stoughton,MA,2072,FEH,12/24/2020,6.5,1.0

In [16]:
#Count the number of rows in appended df.
#clean_df_2021_01: 28,626 rows
#clean_df_2021_02: 26,401 rows (total row should be 55,027)
test_df.shape[0]
#The append worked!

55027

In [17]:
#Row counts for all 12 df:
#clean_df_2021_01: 28,626 rows
#clean_df_2021_02: 26,401 rows
#clean_df_2021_03: 24,328 rows
#clean_df_2021_04: 23,196 rows
#clean_df_2021_05: 18,906 rows
#clean_df_2021_06: 17,761 rows
#clean_df_2021_07: 12,662 rows
#clean_df_2021_08: 13,064 rows
#clean_df_2021_09: 18,859 rows
#clean_df_2021_10: 15,258 rows
#clean_df_2021_11: 20,146 rows
#clean_df_2021_12: 23,444 rows
#Total row count for complete_2021_df should be: 242,651.

In [18]:
#append all 12 months to one df:
complete_2021_df = clean_df_2021_01.append([clean_df_2021_02,
                                           clean_df_2021_03,
                                           clean_df_2021_04,
                                           clean_df_2021_05,
                                           clean_df_2021_06,
                                           clean_df_2021_07, 
                                           clean_df_2021_08,
                                           clean_df_2021_09,
                                           clean_df_2021_10, 
                                           clean_df_2021_11, 
                                           clean_df_2021_12], ignore_index = True)
complete_2021_df.head()

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,1/4/2021,Pleasant Prairie,WI,53158,FEH,12/7/2020,10.5,3.0
1,Ecom1,1/5/2021,Beaverton,OR,97005,FEH,12/23/2020,10.5,3.0
2,Ecom1,1/5/2021,Edison,NJ,8820,FEH,12/24/2020,6.5,1.0
3,Ecom1,1/5/2021,Jersey city,NJ,7302,FEH,12/24/2020,6.5,1.0
4,Ecom1,1/5/2021,Stoughton,MA,2072,FEH,12/24/2020,6.5,1.0

In [19]:
#Verify the total row count is accurate. 
complete_2021_df.shape[0]

242651

In [20]:
#Export complete_2021_df to .csv
complete_2021_df.to_csv('complete_annual_df/Complete_2021.csv')

## Connect Pandas to SQL

In [ ]:
#Create a database and create tables in pgAdmin (PostgreSQL).

In [ ]:
#Create the database engine that will allow Pandas to communicate with our SQL server.
#"postgresql://[user]:[password]@[location]:[port]/[database]"
#For our local server, the connection string will be as follows:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/complete_2021_df"

In [ ]:
#Create the database engine
engine = create_engine(db_string)

In [ ]:
#Save the df to a SQL table.
#complete_2020_df.to_sql(name='complete_2020', con=engine)
#This is for a smaller data set. Probably need to use the code below to connect the large .csv
#Probably can use this code for the states df

In [ ]:
#To import large data:
# Do not run this yet! This can take upwwards of an hour.
# create a variable for the number of rows imported
rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in pd.read_csv(f'{file_dir}Complete_2021.csv', chunksize=1000000):

    # print out the range of rows that are being imported
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')

    data.to_sql(name='complete_2021', con=engine, if_exists='append')

    # increment the number of rows imported by the size of 'data'
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

In [ ]:
#In pgAdmin, confirm that the table imported correctly. Follow these steps:
#Right-click the "complete_2021" table name and select Properties.
#Click the Columns tab to make sure all columns have an appropriate data type.
#Close the Properties window, and then right-click "complete_2021" again.
#Select "View/Edit Data" followed by "First 100 Rows."
#Right-click "complete_2021" and select Query Tool.
#Inside the Query Editor, run the query select count(*) from complete_2021 to make sure all the rows were imported.