In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2021_11 = "../2021_Data/2021.11.csv"

In [3]:
# Read the November CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2021_11 = pd.read_csv(load_2021_11, low_memory=False)
df_2021_11.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,In Transit,11/1/2021,Portage,MI,49024,FEH,10/29/2021,39.0,12.0
1,Ecom1,In Transit,11/1/2021,Langhorne,PA,19047,FEH,10/29/2021,10.5,3.0
2,Ecom1,In Transit,11/1/2021,CAMDEN,NY,13316,FXG,10/29/2021,20.2,6.0
3,Ecom1,In Transit,11/1/2021,Peabody,MA,1960,FEH,10/29/2021,10.5,3.0
4,Ecom1,In Transit,11/1/2021,Hamden,CT,6518,FEH,10/29/2021,10.5,3.0

## Inspect the Data

In [4]:
#See five random rows of data
df_2021_11.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
531073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
490785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#See the last rows of data
df_2021_11.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
647984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_2021_11.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [7]:
#Determine total rows for df_2021_11.
df_2021_11_rows = len(df_2021_11.axes[0])
df_2021_11_cols = len(df_2021_11.axes[1])
print("Number of Rows: ", df_2021_11_rows)
print("Number of Columns: ", df_2021_11_cols)

Number of Rows:  647989
Number of Columns:  10

In [8]:
# Determine if there are any missing values in df_2021_11.
df_2021_11.isnull().sum()

Company Name         627843
Status               627843
Ship Date            627843
City                 627843
State                627843
Zip                  627843
Shipping Service     627843
Created Date         627843
Weight               627843
Item/Bottle Count    627843
dtype: int64

In [9]:
#Surplus of null values due to data extraction from company. 20,146 rows of usable data.

In [10]:
# Determine data types for df_2021_11.
df_2021_11.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [11]:
df_2021_11['Company Name'].value_counts()
#Winery3 held orders for 2021 in October, November, December.

Ecom3      7686
Ecom2      5311
Ecom1      3991
Winery1    3088
Winery2      70
Name: Company Name, dtype: int64

In [12]:
df_2021_11['Ship Date'].value_counts()

11/23/2021    5448
11/12/2021    2641
11/29/2021    1285
11/30/2021    1241
11/1/2021      882
11/26/2021     799
11/22/2021     780
11/8/2021      768
11/17/2021     690
11/15/2021     675
11/13/2021     653
11/9/2021      615
11/16/2021     513
11/5/2021      420
11/11/2021     382
11/19/2021     360
11/2/2021      356
11/27/2021     330
11/18/2021     313
11/10/2021     288
11/4/2021      263
11/3/2021      259
11/24/2021     185
Name: Ship Date, dtype: int64

In [13]:
df_2021_11['Status'].value_counts()

Shipped              11063
In Transit            8257
Delivered              719
Carrier Exception       78
Delivery Attempt        29
Name: Status, dtype: int64

In [14]:
df_2021_11['City'].value_counts()

New York       386
Chicago        268
Seattle        197
Brooklyn       194
Washington     169
              ...
Moose            1
Calistoga        1
Gold canyon      1
Stone Park       1
Winters          1
Name: City, Length: 4657, dtype: int64

In [15]:
df_2021_11['State'].value_counts()

CA    2041
NY    1808
FL    1517
TX    1312
PA    1159
NJ    1093
IL     771
NC     769
MA     717
OH     713
VA     706
GA     625
WA     575
CO     565
MI     506
MD     492
TN     403
AZ     387
CT     367
SC     306
IN     304
MN     303
OR     258
WI     244
MO     216
DC     179
LA     178
NV     155
KS     146
HI     139
OK     120
IA     119
NH     103
NE      95
RI      82
ME      80
NM      79
AR      68
ID      68
DE      59
MT      57
WV      51
VT      41
WY      34
AL      31
SD      29
ND      29
KY      25
AK      22
Name: State, dtype: int64

In [16]:
df_2021_11['Zip'].value_counts()

92019         126
10019          40
10022          29
98109          29
10583          28
             ...
12540           1
11701           1
07506-3118      1
40207-4462      1
92879           1
Name: Zip, Length: 7131, dtype: int64

In [17]:
df_2021_11['Shipping Service'].value_counts()

UPS    10762
FEH     8210
FXG      985
AZS       94
FEX       69
UP2       21
FXE        3
UP1        1
UP3        1
Name: Shipping Service, dtype: int64

In [18]:
df_2021_11['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

11/17/2021    5445
11/9/2021     2873
11/26/2021    1076
11/11/2021     835
11/29/2021     760
11/16/2021     695
11/27/2021     596
11/4/2021      545
11/22/2021     514
11/28/2021     447
11/25/2021     433
11/7/2021      381
11/15/2021     366
11/2/2021      361
11/1/2021      359
11/14/2021     359
10/31/2021     335
11/21/2021     316
11/18/2021     300
11/10/2021     299
10/30/2021     283
11/8/2021      279
11/12/2021     254
11/3/2021      247
11/13/2021     223
11/5/2021      216
11/24/2021     212
11/19/2021     207
11/30/2021     192
11/6/2021      192
11/23/2021     177
11/20/2021     141
10/29/2021     123
10/26/2021      36
10/27/2021      32
10/28/2021      20
10/25/2021       8
10/12/2021       2
9/28/2021        2
9/13/2021        1
10/18/2021       1
7/16/2021        1
10/22/2021       1
10/17/2021       1
Name: Created Date, dtype: int64

In [19]:
df_2021_11['Weight'].value_counts()

7.00     6051
21.50    3663
14.00    2772
39.00    1886
10.50    1216
6.50     1189
41.00     860
20.20     676
9.90      414
27.00     301
3.35      176
18.50     143
4.00       99
29.00      92
33.00      82
30.00      79
24.00      75
26.00      68
35.00      56
32.00      52
38.00      31
44.00      24
13.50      21
8.00       20
20.00      17
36.00      16
17.20      15
39.50      11
15.00       6
6.20        4
6.00        4
20.50       3
46.00       3
47.00       3
30.50       2
75.00       2
48.00       2
10.00       2
53.00       1
37.00       1
31.00       1
74.00       1
45.00       1
12.20       1
26.20       1
27.50       1
59.00       1
28.00       1
Name: Weight, dtype: int64

In [20]:
df_2021_11['Item/Bottle Count'].value_counts()

2.0     5740
6.0     4350
4.0     2785
12.0    2769
1.0     1836
3.0     1623
8.0      388
7.0      159
5.0      158
10.0     138
9.0      129
11.0      41
13.0      13
15.0       9
14.0       6
22.0       1
24.0       1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [21]:
#Change dtypes if necessary

In [22]:
#Remove "Status" column from df_2021_11.
df_2021_11 = df_2021_11.drop('Status', axis=1)
df_2021_11

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,11/1/2021,Portage,MI,49024,FEH,10/29/2021,39.0,12.0
1,Ecom1,11/1/2021,Langhorne,PA,19047,FEH,10/29/2021,10.5,3.0
2,Ecom1,11/1/2021,CAMDEN,NY,13316,FXG,10/29/2021,20.2,6.0
3,Ecom1,11/1/2021,Peabody,MA,1960,FEH,10/29/2021,10.5,3.0
4,Ecom1,11/1/2021,Hamden,CT,6518,FEH,10/29/2021,10.5,3.0
...,...,...,...,...,...,...,...,...,...
647984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Drop the NaNs for df_2021_11.
df_2021_11 = df_2021_11.dropna()

## Confirm Changes

In [24]:
#See five random rows of data
df_2021_11.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
13192,Ecom2,11/23/2021,Camdenton,MO,65020,FEH,11/17/2021,7.0,2.0
2471,Ecom3,11/8/2021,Chatham,NJ,7928,UPS,11/5/2021,21.5,6.0
764,Ecom3,11/1/2021,MOUNT JOY,PA,17552,UPS,10/31/2021,21.5,6.0
10455,Ecom1,11/22/2021,El Cajon,CA,92019,FEH,11/22/2021,6.5,1.0
13645,Ecom2,11/23/2021,Chicago,IL,60614,FXG,11/17/2021,7.0,2.0

In [25]:
#Determine total rows for df_2021_11.
df_2021_11_rows = len(df_2021_11.axes[0])
df_2021_11_cols = len(df_2021_11.axes[1])
print("Number of Rows: ", df_2021_11_rows)
print("Number of Columns: ", df_2021_11_cols)

Number of Rows:  20146
Number of Columns:  9

## Export Cleaned df to .CSV

In [26]:
#Export df_2021_11 to .csv
df_2021_11.to_csv('../cleaned_months_2021/Clean_2021_11.csv')