In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2021_12 = "../../2021_Data/2021.12.csv"

In [3]:
# Read the December CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2021_12 = pd.read_csv(load_2021_12, low_memory=False)
df_2021_12.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,Shipped,12/1/2021,Excelsior,MN,55331,FEH,11/29/2021,10.5,3.0
1,Ecom1,In Transit,12/1/2021,Joppa,MD,21085,FEH,11/29/2021,20.2,6.0
2,Ecom1,In Transit,12/1/2021,HAMPTON,VA,23666,FEH,11/29/2021,39.0,12.0
3,Ecom1,In Transit,12/1/2021,HAMPTON,VA,23666,FEH,11/29/2021,10.5,3.0
4,Ecom1,In Transit,12/1/2021,Franklin,MA,2038,FEH,11/30/2021,20.2,6.0

## Inspect the Data

In [4]:
#See five random rows of data
df_2021_12.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
298755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
557371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
582712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
474115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#See the last rows of data
df_2021_12.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
617204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
617205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
617206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
617207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
617208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_2021_12.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [7]:
#Determine total rows for df_2021_12.
df_2021_12_rows = len(df_2021_12.axes[0])
df_2021_12_cols = len(df_2021_12.axes[1])
print("Number of Rows: ", df_2021_12_rows)
print("Number of Columns: ", df_2021_12_cols)

Number of Rows:  617209
Number of Columns:  10

In [8]:
# Determine if there are any missing values in df_2021_12.
df_2021_12.isnull().sum()

Company Name         593765
Status               593765
Ship Date            593765
City                 593765
State                593765
Zip                  593765
Shipping Service     593765
Created Date         593765
Weight               593765
Item/Bottle Count    593765
dtype: int64

In [ ]:
#Surplus of null values due to data extraction from company. 23,444 rows of usable data.

In [9]:
# Determine data types for df_2021_12.
df_2021_12.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [10]:
df_2021_12['Company Name'].value_counts()

Ecom2      10465
Ecom3       6244
Ecom1       5999
Winery1      713
Winery2       23
Name: Company Name, dtype: int64

In [11]:
df_2021_12['Ship Date'].value_counts()

12/22/2021    4626
12/23/2021    3420
12/28/2021    2445
12/27/2021    2407
12/20/2021    1115
12/10/2021     891
12/6/2021      836
12/21/2021     798
12/13/2021     771
12/7/2021      700
12/14/2021     688
12/30/2021     669
12/15/2021     627
12/16/2021     593
12/3/2021      516
12/2/2021      465
12/17/2021     448
12/1/2021      424
12/9/2021      336
12/29/2021     307
12/8/2021      265
12/4/2021       46
12/11/2021      30
12/18/2021      20
12/19/2021       1
Name: Ship Date, dtype: int64

In [12]:
df_2021_12['Status'].value_counts()

In Transit           13821
Shipped               8733
Delivered              802
Carrier Exception       52
Delivery Attempt        36
Name: Status, dtype: int64

In [13]:
df_2021_12['City'].value_counts()

New York          347
Chicago           248
Brooklyn          211
Denver            180
Austin            179
                 ...
BAKERSFIELD         1
Universal City      1
Leadville           1
Sisters             1
alamo               1
Name: City, Length: 5288, dtype: int64

In [14]:
df_2021_12['State'].value_counts()

CA    2345
NY    2212
FL    1811
TX    1503
PA    1394
NJ    1274
MA     966
IL     915
OH     817
VA     786
CO     766
NC     688
GA     654
MI     648
WA     595
MD     588
TN     470
AZ     464
CT     413
MN     350
WI     349
SC     344
OR     332
IN     302
MO     238
LA     170
KS     153
NH     153
RI     149
NV     149
DC     145
IA     138
ME     127
HI     126
OK     116
NE     107
ID      87
DE      78
AR      75
MT      70
NM      70
WV      66
VT      62
WY      39
ND      38
SD      35
AK      28
KY      22
AL      17
Name: State, dtype: int64

In [15]:
df_2021_12['Zip'].value_counts()

94558    35
60614    31
10019    31
10011    26
33133    24
         ..
75414     1
85940     1
11763     1
85016     1
77080     1
Name: Zip, Length: 8044, dtype: int64

In [16]:
df_2021_12['Shipping Service'].value_counts()

FEH     12945
UPS      8825
FXG      1337
FEX       232
UP2        77
AZS        12
UP3         8
UP1         5
FXE         2
UPS7        1
Name: Shipping Service, dtype: int64

In [17]:
df_2021_12['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

12/18/2021    8079
12/25/2021    2180
12/27/2021    1148
12/17/2021     912
12/10/2021     878
12/6/2021      850
12/13/2021     649
12/23/2021     569
12/9/2021      567
12/14/2021     553
12/28/2021     482
12/19/2021     444
12/15/2021     441
12/3/2021      436
12/2/2021      428
12/20/2021     388
12/16/2021     355
12/1/2021      355
12/11/2021     346
12/8/2021      323
12/29/2021     317
11/29/2021     307
12/22/2021     294
12/12/2021     283
12/7/2021      269
12/26/2021     261
12/21/2021     260
12/5/2021      258
12/30/2021     223
12/4/2021      190
12/24/2021     150
11/30/2021     135
11/22/2021      52
11/26/2021      21
11/27/2021      16
11/23/2021       6
11/28/2021       5
10/6/2021        5
11/25/2021       4
11/16/2021       2
11/8/2021        1
11/19/2021       1
11/24/2021       1
Name: Created Date, dtype: int64

In [18]:
df_2021_12['Weight'].value_counts()

7.00     11578
21.50     3092
6.50      2254
10.50     1441
39.00     1219
14.00      766
20.20      703
41.00      566
9.90       440
3.35       213
18.50      171
8.00       158
27.00      123
6.00       118
4.00       112
29.00       94
26.00       59
30.00       56
24.00       52
32.00       42
33.00       36
35.00       36
36.00       15
38.00       13
13.50       12
17.20       10
38.20        4
20.00        4
39.50        4
20.50        4
9.50         3
46.00        3
75.00        3
13.00        3
17.00        3
44.00        3
37.00        2
19.20        2
14.20        2
12.00        2
42.00        2
19.50        2
26.20        2
23.20        2
45.00        1
15.50        1
19.00        1
18.20        1
16.50        1
27.50        1
31.00        1
18.00        1
1.00         1
9.00         1
12.20        1
23.00        1
51.00        1
8.50         1
3.00         1
Name: Weight, dtype: int64

In [19]:
df_2021_12['Item/Bottle Count'].value_counts()

2.0     10989
6.0      3751
3.0      3489
12.0     1753
4.0      1456
1.0      1165
8.0       215
5.0       210
7.0       167
9.0        99
10.0       73
13.0       47
11.0       21
15.0        4
14.0        3
16.0        2
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [20]:
#Change dtypes if necessary

In [21]:
#Remove "Status" column from df_2021_12.
df_2021_12 = df_2021_12.drop('Status', axis=1)
df_2021_12

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,12/1/2021,Excelsior,MN,55331,FEH,11/29/2021,10.5,3.0
1,Ecom1,12/1/2021,Joppa,MD,21085,FEH,11/29/2021,20.2,6.0
2,Ecom1,12/1/2021,HAMPTON,VA,23666,FEH,11/29/2021,39.0,12.0
3,Ecom1,12/1/2021,HAMPTON,VA,23666,FEH,11/29/2021,10.5,3.0
4,Ecom1,12/1/2021,Franklin,MA,2038,FEH,11/30/2021,20.2,6.0
...,...,...,...,...,...,...,...,...,...
617204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
617205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
617206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
617207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
617208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Drop the NaNs for df_2021_12.
df_2021_12 = df_2021_12.dropna()

## Confirm Changes

In [23]:
#See five random rows of data
df_2021_12.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
19684,Ecom2,12/27/2021,South Pasadena,CA,91030,UPS,12/25/2021,7.0,2.0
16929,Ecom2,12/23/2021,Chesterfield,VA,23838,FEH,12/18/2021,7.0,2.0
22589,Ecom1,12/29/2021,Stevensville,MI,49127,FEH,12/29/2021,10.5,4.0
7511,Ecom3,12/17/2021,Roanoke,VA,24018,UPS,12/16/2021,9.9,3.0
6349,Ecom3,12/15/2021,Andover,MA,1810,FXG,12/14/2021,41.0,12.0

In [24]:
#Determine total rows for df_2021_12.
df_2021_12_rows = len(df_2021_12.axes[0])
df_2021_12_cols = len(df_2021_12.axes[1])
print("Number of Rows: ", df_2021_12_rows)
print("Number of Columns: ", df_2021_12_cols)

Number of Rows:  23444
Number of Columns:  9

## Export Cleaned df to .CSV

In [25]:
#Export df_2021_12 to .csv
df_2021_12.to_csv('../cleaned_months_2021/Clean_2021_12.csv')