In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2021_04 = "../../2021_Data/2021.04.csv"

In [4]:
# Read the April CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2021_04 = pd.read_csv(load_2021_04, low_memory=False)
df_2021_04.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,In Transit,4/1/2021,Atlanta,GA,30316,FEH,3/30/2021,27.0,8.0
1,Ecom1,Delivered,4/1/2021,Greenlawn,NY,11740,FEH,3/31/2021,6.5,1.0
2,Ecom1,Delivered,4/1/2021,Brooklyn,NY,11215,FEH,3/31/2021,6.5,1.0
3,Ecom1,Delivered,4/1/2021,NEW YORK,NY,10032,FEH,3/31/2021,6.5,1.0
4,Ecom1,Delivered,4/1/2021,Syosset,NY,11791,FEH,3/31/2021,6.5,1.0

## Inspect the Data

In [5]:
#See five random rows of data
df_2021_04.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
483051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
457455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
529687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#See the last rows of data
df_2021_04.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
601132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_2021_04.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [8]:
#Determine total rows for df_2021_04.
df_2021_04_rows = len(df_2021_04.axes[0])
df_2021_04_cols = len(df_2021_04.axes[1])
print("Number of Rows: ", df_2021_04_rows)
print("Number of Columns: ", df_2021_04_cols)

Number of Rows:  601137
Number of Columns:  10

In [9]:
# Determine if there are any missing values in df_2021_04.
df_2021_04.isnull().sum()

Company Name         577521
Status               577941
Ship Date            577521
City                 577534
State                577521
Zip                  577521
Shipping Service     577521
Created Date         577924
Weight               577941
Item/Bottle Count    577540
dtype: int64

In [ ]:
#Surplus of null values due to data extraction from company. 23,597 rows of usable data.

In [10]:
# Determine data types for df_2021_04.
df_2021_04.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [12]:
df_2021_04['Company Name'].value_counts()

Ecom2      9209
Ecom3      6627
Ecom1      3735
Winery1    2855
Winery2     770
Winery3     420
Name: Company Name, dtype: int64

In [13]:
df_2021_04['Ship Date'].value_counts()

4/20/2021    5570
4/21/2021    4231
4/23/2021    2326
4/26/2021    1389
4/5/2021      967
4/30/2021     931
4/27/2021     886
4/16/2021     864
4/12/2021     805
4/19/2021     727
4/6/2021      635
4/7/2021      601
4/28/2021     600
4/1/2021      566
4/22/2021     537
4/29/2021     482
4/15/2021     448
4/13/2021     301
4/9/2021      258
4/8/2021      220
4/14/2021     183
4/25/2021      36
4/24/2021      23
4/18/2021      13
4/11/2021      12
4/10/2021       4
4/2/2021        1
Name: Ship Date, dtype: int64

In [14]:
df_2021_04['Status'].value_counts()

Shipped              13447
In Transit            7800
Delivered             1833
Carrier Exception       85
Delivery Attempt        31
Name: Status, dtype: int64

In [15]:
df_2021_04['City'].value_counts()

New York      433
Chicago       357
Houston       217
Brooklyn      200
Atlanta       174
             ...
Whitehall       1
Lost River      1
SHELTON         1
Hurricane       1
Brookyln        1
Name: City, Length: 5228, dtype: int64

In [16]:
df_2021_04['State'].value_counts()

NY    2347
CA    2219
FL    1714
PA    1500
TX    1478
NJ    1372
IL    1138
MA     963
OH     814
VA     802
GA     780
MI     681
CO     653
NC     653
MD     568
CT     438
AZ     437
WA     400
TN     396
IN     370
MN     356
WI     328
SC     327
MO     292
OR     249
LA     213
KS     196
DC     165
RI     154
NV     148
NH     146
IA     145
OK     139
NE     120
HI     118
ME      96
NM      86
AR      81
ID      74
DE      72
WV      69
VT      65
MT      58
ND      45
SD      43
AL      40
AK      33
WY      24
KY      11
Name: State, dtype: int64

In [17]:
df_2021_04['Zip'].value_counts()

12043    39
94558    38
10022    37
7030     36
10023    35
         ..
32301     1
64040     1
3262      1
19144     1
44446     1
Name: Zip, Length: 7905, dtype: int64

In [18]:
df_2021_04['Shipping Service'].value_counts()

UPS     11861
FEH     10381
FXG      1062
WCU        97
AZS        96
FEX        51
GSC        23
FXE        16
UP2        13
SELF       10
UP1         3
WCP         3
Name: Shipping Service, dtype: int64

In [19]:
df_2021_04['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

4/19/2021    9443
4/20/2021    2758
4/14/2021     963
4/6/2021      600
4/26/2021     587
4/27/2021     586
4/25/2021     578
4/21/2021     572
4/29/2021     543
4/1/2021      478
4/2/2021      421
4/28/2021     419
4/11/2021     393
4/22/2021     382
4/5/2021      381
4/24/2021     347
4/23/2021     336
3/31/2021     326
4/4/2021      302
4/15/2021     289
4/13/2021     278
4/16/2021     273
4/7/2021      270
4/18/2021     261
4/12/2021     251
4/9/2021      247
4/8/2021      210
4/3/2021      196
4/10/2021     163
4/30/2021     125
4/17/2021     111
3/29/2021     101
3/30/2021      12
3/25/2021       6
3/21/2021       2
3/26/2021       2
3/27/2021       1
Name: Created Date, dtype: int64

In [20]:
df_2021_04['Weight'].value_counts()

7.00     9606
21.50    2852
14.00    2628
39.00    1833
10.50    1675
20.20    1202
41.00     770
6.50      710
9.90      417
27.00     284
18.50     169
3.35      162
4.00      133
29.00     126
30.00     103
24.00      87
33.00      85
32.00      67
26.00      65
35.00      44
44.00      36
38.00      33
36.00      25
17.20      24
23.00      11
46.00      10
13.50       9
20.50       6
19.20       5
7.50        3
15.00       2
8.50        2
17.00       2
37.00       1
14.20       1
21.00       1
38.20       1
9.00        1
24.20       1
10.00       1
25.00       1
5.00        1
31.00       1
Name: Weight, dtype: int64

In [21]:
df_2021_04['Item/Bottle Count'].value_counts()

2.0     9642
6.0     4198
4.0     2725
12.0    2724
3.0     2101
1.0     1068
8.0      414
5.0      196
9.0      172
7.0      155
10.0     135
11.0      45
13.0      14
15.0       3
14.0       1
16.0       1
19.0       1
24.0       1
0.0        1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [22]:
#Change dtypes if necessary

In [23]:
#Remove "Status" column from df_2021_04.
df_2021_04 = df_2021_04.drop('Status', axis=1)
df_2021_04

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,4/1/2021,Atlanta,GA,30316,FEH,3/30/2021,27.0,8.0
1,Ecom1,4/1/2021,Greenlawn,NY,11740,FEH,3/31/2021,6.5,1.0
2,Ecom1,4/1/2021,Brooklyn,NY,11215,FEH,3/31/2021,6.5,1.0
3,Ecom1,4/1/2021,NEW YORK,NY,10032,FEH,3/31/2021,6.5,1.0
4,Ecom1,4/1/2021,Syosset,NY,11791,FEH,3/31/2021,6.5,1.0
...,...,...,...,...,...,...,...,...,...
601132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# Drop the NaNs for df_2021_04.
df_2021_04 = df_2021_04.dropna()

## Confirm Changes

In [25]:
#See five random rows of data
df_2021_04.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
17895,Winery1,4/23/2021,Denver,PA,17517,UPS,4/20/2021,14.0,4.0
20287,Ecom3,4/26/2021,Long Grove,IL,60047,UPS,4/23/2021,21.5,6.0
7967,Ecom2,4/20/2021,Denver,CO,80210,UPS,4/19/2021,7.0,2.0
1628,Ecom1,4/6/2021,Washington,DC,20003,FEH,4/4/2021,10.5,3.0
6994,Ecom2,4/20/2021,Twin Rocks,PA,15960,UPS,4/19/2021,7.0,2.0

In [26]:
#Determine total rows for df_2021_04.
df_2021_04_rows = len(df_2021_04.axes[0])
df_2021_04_cols = len(df_2021_04.axes[1])
print("Number of Rows: ", df_2021_04_rows)
print("Number of Columns: ", df_2021_04_cols)

Number of Rows:  23196
Number of Columns:  9

## Export Cleaned df to .CSV

In [27]:
#Export df_2021_04 to .csv
df_2021_04.to_csv('../cleaned_months_2021/Clean_2021_04.csv')