In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2021_01 = "../2021_Data/2021.01.csv"

In [3]:
# Read the January CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2021_01 = pd.read_csv(load_2021_01, low_memory=False)
df_2021_01.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,Delivered,1/4/2021,Pleasant Prairie,WI,53158,FEH,12/7/2020,10.5,3.0
1,Ecom1,Delivered,1/5/2021,Beaverton,OR,97005,FEH,12/23/2020,10.5,3.0
2,Ecom1,Delivered,1/5/2021,Edison,NJ,8820,FEH,12/24/2020,6.5,1.0
3,Ecom1,Delivered,1/5/2021,Jersey city,NJ,7302,FEH,12/24/2020,6.5,1.0
4,Ecom1,Delivered,1/5/2021,Stoughton,MA,2072,FEH,12/24/2020,6.5,1.0

## Inspect the Data

In [4]:
#See five random rows of data
df_2021_01.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
390063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
281898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
520096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#See the last rows of data
df_2021_01.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
668247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_2021_01.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [7]:
#Determine total rows for df_2021_01.
df_2021_01_rows = len(df_2021_01.axes[0])
df_2021_01_cols = len(df_2021_01.axes[1])
print("Number of Rows: ", df_2021_01_rows)
print("Number of Columns: ", df_2021_01_cols)

Number of Rows:  668252
Number of Columns:  10

In [8]:
# Determine if there are any missing values in df_2021_01.
df_2021_01.isnull().sum()

Company Name         639610
Status               639626
Ship Date            639610
City                 639610
State                639610
Zip                  639610
Shipping Service     639610
Created Date         639626
Weight               639626
Item/Bottle Count    639626
dtype: int64

In [9]:
#Surplus of null values due to data extraction from company. 28,626 rows of usable data.

In [10]:
# Determine data types for df_2021_01.
df_2021_01.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [11]:
df_2021_01['Company Name'].value_counts()

Ecom2      14736
Ecom3       9197
Ecom1       4427
Winery1      249
Winery2       17
Winery3       16
Name: Company Name, dtype: int64

In [12]:
df_2021_01['Ship Date'].value_counts()

1/22/2021    8047
1/21/2021    4932
1/20/2021    3975
1/8/2021     1542
1/4/2021     1108
1/11/2021    1069
1/27/2021     977
1/26/2021     953
1/19/2021     847
1/25/2021     826
1/5/2021      759
1/28/2021     626
1/7/2021      591
1/12/2021     555
1/29/2021     464
1/6/2021      347
1/15/2021     341
1/13/2021     305
1/14/2021     203
1/30/2021     175
Name: Ship Date, dtype: int64

In [13]:
df_2021_01['Status'].value_counts()

In Transit           12793
Delivered            10705
Shipped               4937
Carrier Exception      110
Delivery Attempt        81
Name: Status, dtype: int64

In [14]:
df_2021_01['City'].value_counts()

New York            496
Chicago             344
Brooklyn            234
San Jose            218
Washington          204
                   ...
Nebo                  1
Belle Vernon          1
Woonsocket            1
East Bridgewater      1
palo alto             1
Name: City, Length: 5785, dtype: int64

In [15]:
df_2021_01['State'].value_counts()

CA    3222
NY    2752
FL    2236
PA    1764
TX    1696
NJ    1587
MA    1158
IL    1107
VA     949
OH     933
GA     901
MI     847
CO     772
MD     765
NC     727
CT     592
WA     556
TN     546
AZ     525
IN     462
SC     425
MN     410
WI     371
MO     280
OR     275
RI     222
DC     205
LA     205
KS     198
NV     197
NH     182
IA     174
HI     173
ME     148
OK     143
AR     120
NE     117
NM      99
ID      93
MT      88
WV      85
DE      80
VT      76
SD      54
WY      53
ND      35
AK      33
AL       4
Name: State, dtype: int64

In [16]:
df_2021_01['Zip'].value_counts()

95054    61
7030     47
60614    42
60657    37
10023    33
         ..
38141     1
78418     1
60110     1
80904     1
68110     1
Name: Zip, Length: 8654, dtype: int64

In [17]:
df_2021_01['Shipping Service'].value_counts()

FEH    14820
UPS    12099
FXG     1451
FXE      175
FEX       45
WCU       28
UP3        8
AZS        7
UP2        5
GSC        2
UP1        1
WCP        1
Name: Shipping Service, dtype: int64

In [18]:
df_2021_01['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

1/19/2021     9907
1/20/2021     5910
1/4/2021      1153
1/8/2021       723
1/25/2021      702
1/18/2021      695
1/26/2021      548
1/24/2021      516
1/28/2021      515
1/27/2021      513
1/23/2021      498
1/11/2021      481
1/3/2021       480
1/10/2021      453
1/17/2021      441
1/21/2021      438
1/22/2021      428
1/7/2021       399
1/2/2021       396
1/5/2021       379
1/15/2021      374
1/12/2021      369
1/6/2021       343
1/1/2021       338
1/9/2021       274
12/31/2020     269
1/13/2021      254
1/16/2021      228
1/14/2021      227
12/30/2020     178
1/29/2021      129
12/28/2020      31
12/29/2020      24
12/24/2020       6
12/23/2020       2
12/27/2020       2
12/25/2020       1
12/20/2020       1
12/7/2020        1
Name: Created Date, dtype: int64

In [19]:
df_2021_01['Weight'].value_counts()

7.00       15364
21.50       5023
10.50       1493
39.00       1414
6.50        1351
20.20        869
41.00        799
14.00        634
9.90         507
18.50        151
27.00        150
3.35         135
29.00        103
26.00         83
24.00         78
30.00         75
4.00          69
32.00         58
33.00         56
35.00         53
23.00         42
20.50         24
38.00         21
36.00         21
13.50         19
17.20         13
19.20          3
9.00           3
37.00          2
10.00          2
25.00          2
9.50           1
16.50          1
12.50          1
2016.00        1
4.50           1
14.20          1
17.00          1
1506.00        1
22.20          1
Name: Weight, dtype: int64

In [20]:
df_2021_01['Item/Bottle Count'].value_counts()

2.0       15265
6.0        5893
12.0       2213
3.0        2015
1.0        1679
4.0         696
8.0         244
5.0         166
7.0         163
9.0         133
10.0        109
11.0         32
13.0         10
14.0          3
15.0          1
412.0         1
2301.0        1
502.0         1
212.0         1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [21]:
#Change dtypes if necessary

In [22]:
#Remove "Status" column from df_2021_01.
df_2021_01 = df_2021_01.drop('Status', axis=1)
df_2021_01

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,1/4/2021,Pleasant Prairie,WI,53158,FEH,12/7/2020,10.5,3.0
1,Ecom1,1/5/2021,Beaverton,OR,97005,FEH,12/23/2020,10.5,3.0
2,Ecom1,1/5/2021,Edison,NJ,8820,FEH,12/24/2020,6.5,1.0
3,Ecom1,1/5/2021,Jersey city,NJ,7302,FEH,12/24/2020,6.5,1.0
4,Ecom1,1/5/2021,Stoughton,MA,2072,FEH,12/24/2020,6.5,1.0
...,...,...,...,...,...,...,...,...,...
668247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Drop the NaNs for df_2021_01.
df_2021_01 = df_2021_01.dropna()

## Confirm Changes

In [24]:
#See five random rows of data
df_2021_01.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
15454,Ecom2,1/22/2021,Fallston,MD,21047,FEH,1/20/2021,7.0,2.0
1671,Ecom1,1/4/2021,Maple Lake,MN,55358,FEH,12/30/2020,10.5,3.0
3083,Ecom3,1/8/2021,Cartersville,GA,30121,UPS,1/8/2021,30.0,9.0
6488,Ecom3,1/11/2021,Huntersville,NC,28078,UPS,1/8/2021,21.5,6.0
21740,Ecom2,1/21/2021,Decatur,IN,46733,FEH,1/20/2021,7.0,2.0

In [25]:
#Determine total rows for df_2021_01.
df_2021_01_rows = len(df_2021_01.axes[0])
df_2021_01_cols = len(df_2021_01.axes[1])
print("Number of Rows: ", df_2021_01_rows)
print("Number of Columns: ", df_2021_01_cols)

Number of Rows:  28626
Number of Columns:  9

## Export Cleaned df to .CSV

In [26]:
#Export df_2021_01 to .csv
df_2021_01.to_csv('../cleaned_months_2021/Clean_2021_01.csv')