In [1]:
#Import dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
import time

## Connect Pandas to SQL

In [2]:
#Create a database and create tables in pgAdmin (PostgreSQL).

In [3]:
#read in the states csv
load_winedemic_complete = "../winedemic_complete.csv.zip"

In [4]:
# Read Complete_states.csv into a DataFrame
Winedemic_complete = pd.read_csv(load_winedemic_complete)
Winedemic_complete.head()

,Unnamed: 0,Company Name,Ship Date,State,City,Created Date,Item/Bottle Count,Weight,Year,Month,Day,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,0,Ecom3,11/19/19,PA,STEELTON,2019-11-18,6.0,18.0,2019,11,18,"12,801,989",3/23/2020,4/30/2020,5/15/2020,Blue
1,1,Ecom3,11/15/19,FL,CORAL GABLES,2019-11-14,12.0,36.0,2019,11,14,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
2,2,Ecom3,11/14/19,IL,CHICAGO,2019-11-13,6.0,18.0,2019,11,13,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
3,3,Ecom3,11/15/19,NJ,Rumson,2019-11-14,12.0,36.0,2019,11,14,"8,882,190",3/21/2020,1/1/1111,5/12/2020,Blue
4,4,Ecom3,11/14/19,MD,PASADENA,2019-11-13,6.0,18.0,2019,11,13,"6,045,680",3/12/2020,3/27/2020,5/13/2020,Blue

In [5]:
#Create the database engine that will allow Pandas to communicate with our SQL server.
#"postgresql://[user]:[password]@[location]:[port]/[database]"
#For our local server, the connection string will be as follows:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Winedemic"

In [6]:
#Create the database engine
engine = create_engine(db_string)

In [7]:
Winedemic_complete.dtypes

Unnamed: 0                         int64
Company Name                      object
Ship Date                         object
State                             object
City                              object
Created Date                      object
Item/Bottle Count                float64
Weight                           float64
Year                               int64
Month                              int64
Day                                int64
Population                        object
Lockdown Start                    object
Initial Expected Lockdown End     object
Phase 1 Re-Opening Start          object
Political Alignment               object
dtype: object

In [8]:
#Save the df to a SQL table.
Winedemic_complete.to_sql(name='Winedemic Complete', con=engine, if_exists='replace', index=False)

In [ ]:
#In pgAdmin, confirm that the table imported correctly. Follow these steps:
#Right-click the "Winedemic Complete" table name and select Properties.
#Click the Columns tab to make sure all columns have an appropriate data type.
#Close the Properties window, and then right-click "Winedemic Complete" again.
#Select "View/Edit Data" followed by "First 100 Rows."
#Right-click "Winedemic Complete" and select Query Tool.
#Inside the Query Editor, run the query select count(*) from Winedemic Complete to make sure all the rows were imported.