## Import Dependencies, Read CSV and Create Dataframes.

In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np
import matplotlib
matplotlib.__version__
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
load_states = "../state_covid_info/Complete_states.csv"
load_2020 = "../data_frame/Complete_annual_dataframes/Complete_2020.csv"

In [3]:
states_df = pd.read_csv(load_states)
states_df.head()

,State,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,AK,"731,545",3/23/2020,3/30/2020,4/24/2020,Red
1,AL,"4,903,185",4/4/2020,4/30/2020,4/30/2020,Red
2,AR,"3,017,804",3/15/2020,3/27/2020,6/5/2020,Red
3,AZ,"7,278,717",4/30/2020,5/15/2020,5/18/2020,Blue
4,CA,"39,512,223",3/19/2020,4/2/2020,5/13/2020,Blue

In [4]:
#If I set the Index as "State" here, an extra column named "Unammed:0" populates. 
df_2020 = pd.read_csv(load_2020, index_col=[0])
df_2020.head()

,Order Number,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,0,Ecom3,1/2/20,Plantation,FL,33325,UPS,1/1/20,9.9,3.0
1,1,Ecom3,1/2/20,Lafayette,CA,94549,UPS,12/31/19,35.0,10.0
2,2,Ecom3,1/2/20,New York,NY,10022,FEH,1/1/20,29.0,8.0
3,3,Ecom3,1/3/20,New York,NY,10006,FEH,1/2/20,21.5,6.0
4,4,Ecom3,1/2/20,Walkersville,MD,21793,FXG,12/31/19,41.0,12.0

In [5]:
df_2020.State.unique()

array(['FL', 'CA', 'NY', 'MD', 'TX', 'OH', 'NM', 'CT', 'MI', 'WA', 'PA',
       'CO', 'LA', 'HI', 'MA', 'NH', 'NJ', 'TN', 'IN', 'KS', 'NE', 'NC',
       'VA', 'IA', 'MN', 'WI', 'SC', 'SD', 'OR', 'ND', 'WY', 'IL', 'VT',
       'GA', 'AZ', 'DC', 'NV', 'MO', 'ME', 'RI', 'AR', 'AK', 'WV', 'MT',
       'ID', 'OK', 'AL', 'DE', 'MS', 'KY'], dtype=object)

In [6]:
df_2020 = df_2020.set_index("State")
df_2020

,Order Number,Company Name,Ship Date,City,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
State,,,,,,,,,
FL,0,Ecom3,1/2/20,Plantation,33325,UPS,1/1/20,9.9,3.0
CA,1,Ecom3,1/2/20,Lafayette,94549,UPS,12/31/19,35.0,10.0
NY,2,Ecom3,1/2/20,New York,10022,FEH,1/1/20,29.0,8.0
NY,3,Ecom3,1/3/20,New York,10006,FEH,1/2/20,21.5,6.0
MD,4,Ecom3,1/2/20,Walkersville,21793,FXG,12/31/19,41.0,12.0
...,...,...,...,...,...,...,...,...,...
CO,235998,Winery3,12/29/2020,Aurora,80013,UPS,12/29/2020,21.5,6.0
CA,235999,Winery3,12/29/2020,Napa,94558,GSC,12/29/2020,9.9,3.0
CO,236000,Winery3,12/29/2020,Aurora,80014,UPS,12/29/2020,39.0,12.0
VA,236001,Winery3,12/28/2020,Charlottesville,22901,UPS,12/28/2020,21.5,6.0
CA,236002,Winery3,12/29/2020,Napa,94558,WCU,12/29/2020,21.5,6.0

In [7]:
#Join states and 2020 df on "State"
states_2020 = df_2020.join(states_df.set_index ("State"), on = "State")
states_2020.head()

,Order Number,Company Name,Ship Date,City,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
State,,,,,,,,,,,,,,
FL,0,Ecom3,1/2/20,Plantation,33325,UPS,1/1/20,9.9,3.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
CA,1,Ecom3,1/2/20,Lafayette,94549,UPS,12/31/19,35.0,10.0,"39,512,223",3/19/2020,4/2/2020,5/13/2020,Blue
NY,2,Ecom3,1/2/20,New York,10022,FEH,1/1/20,29.0,8.0,"19,453,561",3/22/2020,4/6/2020,6/8/2020,Blue
NY,3,Ecom3,1/3/20,New York,10006,FEH,1/2/20,21.5,6.0,"19,453,561",3/22/2020,4/6/2020,6/8/2020,Blue
MD,4,Ecom3,1/2/20,Walkersville,21793,FXG,12/31/19,41.0,12.0,"6,045,680",3/12/2020,3/27/2020,5/13/2020,Blue

In [8]:
#236,003 orders placed in 2020.
states_2020.count()

Order Number                     236003
Company Name                     236003
Ship Date                        236003
City                             236003
Zip                              236003
Shipping Service                 236003
Created Date                     236003
Weight                           236003
Item/Bottle Count                236003
Population                       236003
Lockdown Start                   236003
Initial Expected Lockdown End    236003
Phase 1 Re-Opening Start         236003
Political Alignment              236003
dtype: int64

In [9]:
states_2020.tail(10)

,Order Number,Company Name,Ship Date,City,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
State,,,,,,,,,,,,,,
CA,235993,Winery3,12/21/2020,San Francisco,94109,GSC,12/21/2020,9.9,3.0,"39,512,223",3/19/2020,4/2/2020,5/13/2020,Blue
NC,235994,Winery3,12/23/2020,Charlotte,28211,UP3,12/23/2020,41.0,12.0,"10,488,084",3/30/2020,4/29/2020,5/20/2020,Red
HI,235995,Winery3,12/28/2020,kamuela,96743,UPS,12/28/2020,21.5,6.0,"1,415,872",3/23/2020,4/30/2020,5/5/2020,Blue
TX,235996,Winery3,12/28/2020,Carrollton,75010,UP2,12/28/2020,21.5,6.0,"28,995,881",3/31/2020,5/4/2020,5/1/2020,Red
FL,235997,Winery3,12/28/2020,Delray Beach,33446,UPS,12/28/2020,21.5,6.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
CO,235998,Winery3,12/29/2020,Aurora,80013,UPS,12/29/2020,21.5,6.0,"5,758,736",3/26/2020,4/26/2020,4/26/2020,Blue
CA,235999,Winery3,12/29/2020,Napa,94558,GSC,12/29/2020,9.9,3.0,"39,512,223",3/19/2020,4/2/2020,5/13/2020,Blue
CO,236000,Winery3,12/29/2020,Aurora,80014,UPS,12/29/2020,39.0,12.0,"5,758,736",3/26/2020,4/26/2020,4/26/2020,Blue
VA,236001,Winery3,12/28/2020,Charlottesville,22901,UPS,12/28/2020,21.5,6.0,"8,535,519",3/30/2020,5/15/2020,5/29/2020,Blue
CA,236002,Winery3,12/29/2020,Napa,94558,WCU,12/29/2020,21.5,6.0,"39,512,223",3/19/2020,4/2/2020,5/13/2020,Blue

In [10]:
# Calculate the total 2020 Item/Bottle Count.
total_count_2020 = states_2020["Item/Bottle Count"].sum()
total_count_2020

1148819.0

## Slice Each State Into its Own Dataframe and Calculate Total Item/Bottle Count 2020.

In [14]:
#['FL', 'CA', 'NY', 'MD', 'TX', 'OH', 'NM', 'CT', 'MI', 'WA', 'PA',
#       'CO', 'LA', 'HI', 'MA', 'NH', 'NJ', 'TN', 'IN', 'KS', 'NE', 'NC',
#       'VA', 'IA', 'MN', 'WI', 'SC', 'SD', 'OR', 'ND', 'WY', 'IL', 'VT',
#       'GA', 'AZ', 'DC', 'NV', 'MO', 'ME', 'RI', 'AR', 'AK', 'WV', 'MT',
#       'ID', 'OK', 'AL', 'DE', 'Va', 'MS', 'KY']

In [15]:
slice_list = ["AL"]
Alabama = states_2020.iloc[states_2020.index.isin(slice_list)]
#Alabama

In [16]:
# Calculate the total Alabama Item/Bottle Count.
Alabama["Item/Bottle Count"].sum()

2024.0

In [17]:
slice_list = ["AK"]
Alaska = states_2020.iloc[states_2020.index.isin(slice_list)]
#Alaska

In [18]:
# Calculate the total Alaska Item/Bottle Count.
Alaska["Item/Bottle Count"].sum()

2057.0

In [19]:
slice_list = ["AZ"]
Arizona = states_2020.iloc[states_2020.index.isin(slice_list)]
#Arizona

In [20]:
# Calculate the total Arizona Item/Bottle Count.
Arizona["Item/Bottle Count"].sum()

16378.0

In [21]:
slice_list = ["AR"]
Arkansas = states_2020.iloc[states_2020.index.isin(slice_list)]
#Arkansas

In [22]:
# Calculate the total Arkansas Item/Bottle Count.
Arkansas["Item/Bottle Count"].sum()

6512.0

In [23]:
slice_list = ["CA"]
California = states_2020.iloc[states_2020.index.isin(slice_list)]
#California

In [24]:
# Calculate the total California Item/Bottle Count.
California["Item/Bottle Count"].sum()

130312.0

In [25]:
slice_list = ["CO"]
Colorado = states_2020.iloc[states_2020.index.isin(slice_list)]
#Colorado

In [26]:
# Calculate the total Alaska Item/Bottle Count.
Colorado["Item/Bottle Count"].sum()

27802.0

In [27]:
slice_list = ["CT"]
Connecticut = states_2020.iloc[states_2020.index.isin(slice_list)]
#Connecticut

In [28]:
# Calculate the total Connecticut Item/Bottle Count.
Connecticut["Item/Bottle Count"].sum()

24062.0

In [29]:
slice_list = ["DC"]
DC = states_2020.iloc[states_2020.index.isin(slice_list)]
#DC

In [30]:
# Calculate the total Connecticut Item/Bottle Count.
DC["Item/Bottle Count"].sum()

8288.0

In [31]:
slice_list = ["DE"]
Delaware = states_2020.iloc[states_2020.index.isin(slice_list)]
#Delaware

In [32]:
# Calculate the total Delaware Item/Bottle Count.
Delaware["Item/Bottle Count"].sum()

1289.0

In [33]:
slice_list = ["FL"]
Florida = states_2020.iloc[states_2020.index.isin(slice_list)]
#Florida

In [34]:
# Calculate the total Florida Item/Bottle Count.
Florida["Item/Bottle Count"].sum()

82961.0

In [35]:
slice_list = ["GA"]
Georgia = states_2020.iloc[states_2020.index.isin(slice_list)]
#Georgia

In [36]:
# Calculate the total Georgia Item/Bottle Count.
Georgia["Item/Bottle Count"].sum()

34693.0

In [37]:
slice_list = ["HI"]
Hawaii = states_2020.iloc[states_2020.index.isin(slice_list)]
#Hawaii

In [38]:
# Calculate the total Hawaii Item/Bottle Count.
Hawaii["Item/Bottle Count"].sum()

9666.0

In [39]:
slice_list = ["ID"]
Idaho = states_2020.iloc[states_2020.index.isin(slice_list)]
#Idaho

In [40]:
# Calculate the total Idaho Item/Bottle Count.
Idaho["Item/Bottle Count"].sum()

3391.0

In [41]:
slice_list = ["IL"]
Illinois = states_2020.iloc[states_2020.index.isin(slice_list)]
#Illinois

In [42]:
# Calculate the total Illinois Item/Bottle Count.
Illinois["Item/Bottle Count"].sum()

51356.0

In [43]:
slice_list = ["IN"]
Indiana = states_2020.iloc[states_2020.index.isin(slice_list)]
#Indiana

In [44]:
# Calculate the total Indiana Item/Bottle Count.
Indiana["Item/Bottle Count"].sum()

17476.0

In [45]:
slice_list = ["IA"]
Iowa = states_2020.iloc[states_2020.index.isin(slice_list)]
#Iowa

In [46]:
# Calculate the total Iowa Item/Bottle Count.
Iowa["Item/Bottle Count"].sum()

5846.0

In [47]:
slice_list = ["KS"]
Kansas = states_2020.iloc[states_2020.index.isin(slice_list)]
#Kansas

In [48]:
# Calculate the total Kansas Item/Bottle Count.
Kansas["Item/Bottle Count"].sum()

7165.0

In [49]:
#Effective March 12, 2021, brand registration is not required for DTC products.  DTC shipping previously prohibited. 
slice_list = ["KY"]
Kentucky = states_2020.iloc[states_2020.index.isin(slice_list)]
#Kentucky

In [50]:
# Calculate the total Kentucky Item/Bottle Count.
Kentucky["Item/Bottle Count"].sum()

40.0

In [51]:
slice_list = ["LA"]
Louisiana = states_2020.iloc[states_2020.index.isin(slice_list)]
#Louisiana

In [52]:
# Calculate the total Louisiana Item/Bottle Count.
Louisiana["Item/Bottle Count"].sum()

10558.0

In [53]:
slice_list = ["ME"]
Maine = states_2020.iloc[states_2020.index.isin(slice_list)]
#Maine

In [54]:
# Calculate the total Maine Item/Bottle Count.
Maine["Item/Bottle Count"].sum()

5007.0

In [55]:
slice_list = ["MD"]
Maryland = states_2020.iloc[states_2020.index.isin(slice_list)]
#Maryland

In [56]:
# Calculate the total Maryland Item/Bottle Count.
Maryland["Item/Bottle Count"].sum()

29515.0

In [57]:
slice_list = ["MA"]
Massachusetts = states_2020.iloc[states_2020.index.isin(slice_list)]
#Massachusetts

In [58]:
# Calculate the total Massachusetts Item/Bottle Count.
Massachusetts["Item/Bottle Count"].sum()

43665.0

In [59]:
slice_list = ["MI"]
Michigan = states_2020.iloc[states_2020.index.isin(slice_list)]
#Michigan

In [60]:
# Calculate the total Michigan Item/Bottle Count.
Michigan["Item/Bottle Count"].sum()

36218.0

In [61]:
slice_list = ["MN"]
Minnesota = states_2020.iloc[states_2020.index.isin(slice_list)]
#Minnesota

In [62]:
# Calculate the total Minnesota Item/Bottle Count.
Minnesota["Item/Bottle Count"].sum()

15040.0

In [63]:
#DTC shipping prohibited in Mississippi. This order was sent to Philedelphia, MS (A real place!) and likely
#bypassed the checks/balances that are in place to adhere to shipping laws. 
slice_list = ["MS"]
Mississippi = states_2020.iloc[states_2020.index.isin(slice_list)]
#Mississippi

In [64]:
# Calculate the total Mississippi Item/Bottle Count.
Mississippi["Item/Bottle Count"].sum()

6.0

In [65]:
slice_list = ["MO"]
Missouri = states_2020.iloc[states_2020.index.isin(slice_list)]
#Missouri

In [66]:
# Calculate the total Missouri Item/Bottle Count.
Missouri["Item/Bottle Count"].sum()

13633.0

In [67]:
slice_list = ["MT"]
Montana = states_2020.iloc[states_2020.index.isin(slice_list)]
#Montana

In [68]:
# Calculate the total Montana Item/Bottle Count.
Montana["Item/Bottle Count"].sum()

2472.0

In [69]:
#No shipping law information- No orders for Nebraska
slice_list = ["NE"]
Nebraska = states_2020.iloc[states_2020.index.isin(slice_list)]
#Nebraska

In [70]:
# Calculate the total Nebraska Item/Bottle Count.
Nebraska["Item/Bottle Count"].sum()

4753.0

In [71]:
slice_list = ["NV"]
Nevada = states_2020.iloc[states_2020.index.isin(slice_list)]
#Nevada

In [72]:
# Calculate the total Nevada Item/Bottle Count.
Nevada["Item/Bottle Count"].sum()

6802.0

In [73]:
slice_list = ["NH"]
New_Hampshire = states_2020.iloc[states_2020.index.isin(slice_list)]
#New_Hampshire

In [74]:
# Calculate the total New_Hampshire Item/Bottle Count.
New_Hampshire["Item/Bottle Count"].sum()

6015.0

In [75]:
slice_list = ["NJ"]
New_Jersey = states_2020.iloc[states_2020.index.isin(slice_list)]
#New_Jersey

In [76]:
# Calculate the total New Jersey Item/Bottle Count.
New_Jersey["Item/Bottle Count"].sum()

61171.0

In [77]:
slice_list = ["NM"]
New_Mexico = states_2020.iloc[states_2020.index.isin(slice_list)]
#New_Mexico

In [78]:
# Calculate the total New Mexico Item/Bottle Count.
New_Mexico["Item/Bottle Count"].sum()

4487.0

In [79]:
slice_list = ["NY"]
New_York = states_2020.iloc[states_2020.index.isin(slice_list)]
#New_York

In [80]:
# Calculate the total New York Item/Bottle Count.
New_York["Item/Bottle Count"].sum()

119653.0

In [81]:
slice_list = ["NC"]
North_Carolina = states_2020.iloc[states_2020.index.isin(slice_list)]
#North_Carolina

In [82]:
# Calculate the total North Carolina Item/Bottle Count.
North_Carolina["Item/Bottle Count"].sum()

28220.0

In [83]:
slice_list = ["ND"]
North_Dakota = states_2020.iloc[states_2020.index.isin(slice_list)]
#North_Dakota

In [84]:
# Calculate the total North Dakota Item/Bottle Count.
North_Dakota["Item/Bottle Count"].sum()

2042.0

In [85]:
slice_list = ["OH"]
Ohio = states_2020.iloc[states_2020.index.isin(slice_list)]
#Ohio

In [86]:
# Calculate the total Ohio Item/Bottle Count.
Ohio["Item/Bottle Count"].sum()

36798.0

In [87]:
slice_list = ["OK"]
Oklahoma = states_2020.iloc[states_2020.index.isin(slice_list)]
#Oklahoma

In [88]:
# Calculate the total Oklahoma Item/Bottle Count.
Oklahoma["Item/Bottle Count"].sum()

4694.0

In [89]:
slice_list = ["OR"]
Oregon = states_2020.iloc[states_2020.index.isin(slice_list)]
#Oregon

In [90]:
# Calculate the total Oregon Item/Bottle Count.
Oregon["Item/Bottle Count"].sum()

11952.0

In [91]:
slice_list = ["PA"]
Pennsylvania = states_2020.iloc[states_2020.index.isin(slice_list)]
#Pennsylvania

In [92]:
# Calculate the total Pennsylvania Item/Bottle Count.
Pennsylvania["Item/Bottle Count"].sum()

82215.0

In [93]:
slice_list = ["RI"]
Rhode_Island = states_2020.iloc[states_2020.index.isin(slice_list)]
#Rhode_Island

In [94]:
# Calculate the total Rhode Island Item/Bottle Count.
Rhode_Island["Item/Bottle Count"].sum()

7767.0

In [95]:
slice_list = ["SC"]
South_Carolina = states_2020.iloc[states_2020.index.isin(slice_list)]
#South_Carolina

In [96]:
# Calculate the total Oregon Item/Bottle Count.
South_Carolina["Item/Bottle Count"].sum()

14478.0

In [97]:
slice_list = ["SD"]
South_Dakota = states_2020.iloc[states_2020.index.isin(slice_list)]
#South_Dakota

In [98]:
# Calculate the total South_Dakota Item/Bottle Count.
South_Dakota["Item/Bottle Count"].sum()

1757.0

In [99]:
slice_list = ["TN"]
Tennessee = states_2020.iloc[states_2020.index.isin(slice_list)]
#Tennessee

In [100]:
# Calculate the total Tennessee Item/Bottle Count.
Tennessee["Item/Bottle Count"].sum()

20300.0

In [101]:
slice_list = ["TX"]
Texas = states_2020.iloc[states_2020.index.isin(slice_list)]
#Texas

In [102]:
# Calculate the total Texas Item/Bottle Count.
Texas["Item/Bottle Count"].sum()

66704.0

In [103]:
#No orders from Utah. DTC shipping prohibited.
slice_list = ["UT"]
Utah = states_2020.iloc[states_2020.index.isin(slice_list)]
#Utah

In [104]:
# Calculate the total Utah Item/Bottle Count.
Utah["Item/Bottle Count"].sum()

0.0

In [105]:
slice_list = ["VT"]
Vermont = states_2020.iloc[states_2020.index.isin(slice_list)]
#Vermont

In [106]:
# Calculate the total Vermont Item/Bottle Count.
Vermont["Item/Bottle Count"].sum()

3703.0

In [107]:
slice_list = ["VA"]
Virginia = states_2020.iloc[states_2020.index.isin(slice_list)]
#Virginia

In [108]:
# Calculate the total Virginia Item/Bottle Count.
Virginia["Item/Bottle Count"].sum()

40075.0

In [109]:
slice_list = ["WA"]
Washington = states_2020.iloc[states_2020.index.isin(slice_list)]
#Washington

In [110]:
# Calculate the total Washington Item/Bottle Count.
Washington["Item/Bottle Count"].sum()

19176.0

In [111]:
slice_list = ["WV"]
West_Virginia = states_2020.iloc[states_2020.index.isin(slice_list)]
#West_Virginia

In [112]:
# Calculate the total West Virginia Item/Bottle Count.
West_Virginia["Item/Bottle Count"].sum()

2869.0

In [113]:
slice_list = ["WI"]
Wisconsin = states_2020.iloc[states_2020.index.isin(slice_list)]
#Wisconsin

In [114]:
# Calculate the total Wisconsin Item/Bottle Count.
Wisconsin["Item/Bottle Count"].sum()

13768.0

In [115]:
slice_list = ["WY"]
Wyoming = states_2020.iloc[states_2020.index.isin(slice_list)]
#Wyoming

In [116]:
# Calculate the total Wyoming Item/Bottle Count.
Wyoming["Item/Bottle Count"].sum()

1988.0

In [117]:
#Average order size
Wyoming["Item/Bottle Count"].mean()

5.4316939890710385

## Red vs Blue

In [118]:
#How do wine shipments compare between red states and blue states?
    #Create a dataframe with data from "Red" states
    #Create a dataframe with data from "Blue" states 
    #Generate summary statistics for each data frame
    #Clean summary statistics- format numbers, drop count row
    #Convert each summary stat list to a data frame
    #Merge the two summary statistic data frames to create a visual side-by-side comparison

In [119]:
#Create a df with only orders created in red states.
red_states_2020= states_2020[states_2020['Political Alignment'] == 'Red']
red_states_2020.head()

,Order Number,Company Name,Ship Date,City,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
State,,,,,,,,,,,,,,
FL,0,Ecom3,1/2/20,Plantation,33325,UPS,1/1/20,9.9,3.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
TX,6,Ecom3,1/2/20,Dallas,75225,UPS,1/1/20,21.5,6.0,"28,995,881",3/31/2020,5/4/2020,5/1/2020,Red
FL,8,Ecom3,1/2/20,Estero,34135-8211,UPS,1/1/20,21.5,6.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
OH,12,Ecom3,1/2/20,Powell,43065,UPS,1/1/20,21.5,6.0,"11,689,100",3/23/2020,5/19/2020,5/19/2020,Red
OH,17,Ecom3,1/3/20,Marysville,43040,UPS,1/2/20,18.5,5.0,"11,689,100",3/23/2020,5/19/2020,5/19/2020,Red

In [120]:
#Check that red_states_2020 is all "Red"
red_states_2020["Political Alignment"].unique()

array(['Red'], dtype=object)

In [144]:
new_red_states_2020 = red_states_2020.reset_index()
new_red_states_2020

,State,Order Number,Company Name,Ship Date,City,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,FL,0,Ecom3,1/2/20,Plantation,33325,UPS,1/1/20,9.9,3.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
1,TX,6,Ecom3,1/2/20,Dallas,75225,UPS,1/1/20,21.5,6.0,"28,995,881",3/31/2020,5/4/2020,5/1/2020,Red
2,FL,8,Ecom3,1/2/20,Estero,34135-8211,UPS,1/1/20,21.5,6.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
3,OH,12,Ecom3,1/2/20,Powell,43065,UPS,1/1/20,21.5,6.0,"11,689,100",3/23/2020,5/19/2020,5/19/2020,Red
4,OH,17,Ecom3,1/3/20,Marysville,43040,UPS,1/2/20,18.5,5.0,"11,689,100",3/23/2020,5/19/2020,5/19/2020,Red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71149,LA,235989,Winery3,12/21/2020,Baton Rouge,70808,FEX,12/21/2020,24.0,7.0,"4,648,794",3/23/2020,4/13/2020,5/15/2020,Red
71150,TX,235992,Winery3,12/22/2020,Dallas,75248,UPS,12/22/2020,21.5,6.0,"28,995,881",3/31/2020,5/4/2020,5/1/2020,Red
71151,NC,235994,Winery3,12/23/2020,Charlotte,28211,UP3,12/23/2020,41.0,12.0,"10,488,084",3/30/2020,4/29/2020,5/20/2020,Red
71152,TX,235996,Winery3,12/28/2020,Carrollton,75010,UP2,12/28/2020,21.5,6.0,"28,995,881",3/31/2020,5/4/2020,5/1/2020,Red
71153,FL,235997,Winery3,12/28/2020,Delray Beach,33446,UPS,12/28/2020,21.5,6.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red

In [121]:
#Generate summary statistics for red_states_2020
red_summary_statistics_2020 = red_states_2020.describe()
red_summary_statistics_2020

        Order Number        Weight  Item/Bottle Count
count   71154.000000  71154.000000       71154.000000
mean   119471.213523     17.233945           4.760716
std     68850.686877     10.990909           3.457681
min         0.000000      1.850000           1.000000
25%     59918.500000      7.000000           2.000000
50%    120543.500000     14.000000           4.000000
75%    178330.750000     21.500000           6.000000
max    235997.000000     48.000000          24.000000

In [122]:
# Calculate the total 2020 Item/Bottle Count for Red States.
total_red_count_2020 = red_states_2020["Item/Bottle Count"].sum()
total_red_count_2020

338744.0

In [145]:
new_red_states_2020.State.unique()

array(['FL', 'TX', 'OH', 'LA', 'TN', 'IN', 'KS', 'NE', 'NC', 'IA', 'SC',
       'SD', 'ND', 'WY', 'MO', 'AR', 'AK', 'WV', 'MT', 'ID', 'OK', 'AL',
       'MS', 'KY'], dtype=object)

In [175]:
# Adding a list of values with keys to create a new DataFrame for Red states only.
R = {'Red State': ['Alabama', 'Alaska', 'Arkansas', 'Florida', 'Idaho', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 
               'Louisiana', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'North Carolina', 'North Dakota',
               'Ohio', 'Oklahoma', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'West Virginia', 'Wyoming',  
                ],
     'Total Item/Bottle Count': [Alabama["Item/Bottle Count"].sum(), 
            Alaska["Item/Bottle Count"].sum(),  
            Arkansas["Item/Bottle Count"].sum(), 
            Florida["Item/Bottle Count"].sum(),
            Idaho["Item/Bottle Count"].sum(),
            Indiana["Item/Bottle Count"].sum(),
            Iowa["Item/Bottle Count"].sum(),
            Kansas["Item/Bottle Count"].sum(),
            Kentucky["Item/Bottle Count"].sum(),
            Louisiana["Item/Bottle Count"].sum(),
            Mississippi["Item/Bottle Count"].sum(),
            Missouri["Item/Bottle Count"].sum(),
            Montana["Item/Bottle Count"].sum(),
            Nebraska["Item/Bottle Count"].sum(),
            North_Carolina["Item/Bottle Count"].sum(),
            North_Dakota["Item/Bottle Count"].sum(),
            Ohio["Item/Bottle Count"].sum(),
            Oklahoma["Item/Bottle Count"].sum(),
            South_Carolina["Item/Bottle Count"].sum(),
            South_Dakota["Item/Bottle Count"].sum(),
            Tennessee["Item/Bottle Count"].sum(),
            Texas["Item/Bottle Count"].sum(),
            West_Virginia["Item/Bottle Count"].sum(),
            Wyoming["Item/Bottle Count"].sum()]}

In [176]:
total_bottle_count_by_red_state = pd.DataFrame.from_dict(data=R)
total_bottle_count_by_red_state

         Red State  Total Item/Bottle Count
0          Alabama                   2024.0
1           Alaska                   2057.0
2         Arkansas                   6512.0
3          Florida                  82961.0
4            Idaho                   3391.0
5          Indiana                  17476.0
6             Iowa                   5846.0
7           Kansas                   7165.0
8         Kentucky                     40.0
9        Louisiana                  10558.0
10     Mississippi                      6.0
11        Missouri                  13633.0
12         Montana                   2472.0
13        Nebraska                   4753.0
14  North Carolina                  28220.0
15    North Dakota                   2042.0
16            Ohio                  36798.0
17        Oklahoma                   4694.0
18  South Carolina                  14478.0
19    South Dakota                   1757.0
20       Tennessee                  20300.0
21           Texas                  66704.0
22   West Virginia                   2869.0
23         Wyoming                   1988.0

In [153]:
#Print the highest bottle count by red state
print(total_bottle_count_by_red_state[total_bottle_count_by_red_state["Total Item/Bottle Count"] == 
                                  total_bottle_count_by_red_state["Total Item/Bottle Count"].max()])

     State  Total Item/Bottle Count
3  Florida                  82961.0

In [151]:
#Print the lowest bottle count by red state
print(total_bottle_count_by_red_state[total_bottle_count_by_red_state["Total Item/Bottle Count"] == 
                                  total_bottle_count_by_red_state["Total Item/Bottle Count"].min()])

          State  Total Item/Bottle Count
10  Mississippi                      6.0

In [170]:
#Export total_bottle_count_by_red_state to .csv
total_bottle_count_by_red_state.to_csv('Resources/2020_total_bottle_count_by_red_state.csv')

In [125]:
#Create a df with only orders created in blue states.
blue_states_2020= states_2020[states_2020['Political Alignment'] == 'Blue']
blue_states_2020.head()

,Order Number,Company Name,Ship Date,City,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
State,,,,,,,,,,,,,,
CA,1,Ecom3,1/2/20,Lafayette,94549,UPS,12/31/19,35.0,10.0,"39,512,223",3/19/2020,4/2/2020,5/13/2020,Blue
NY,2,Ecom3,1/2/20,New York,10022,FEH,1/1/20,29.0,8.0,"19,453,561",3/22/2020,4/6/2020,6/8/2020,Blue
NY,3,Ecom3,1/3/20,New York,10006,FEH,1/2/20,21.5,6.0,"19,453,561",3/22/2020,4/6/2020,6/8/2020,Blue
MD,4,Ecom3,1/2/20,Walkersville,21793,FXG,12/31/19,41.0,12.0,"6,045,680",3/12/2020,3/27/2020,5/13/2020,Blue
NY,5,Ecom3,1/3/20,Clarence,14031,FEH,1/2/20,21.5,6.0,"19,453,561",3/22/2020,4/6/2020,6/8/2020,Blue

In [126]:
#Check that blue_states_2020 is all "Blue"
blue_states_2020["Political Alignment"].unique()

array(['Blue'], dtype=object)

In [155]:
new_blue_states_2020 = blue_states_2020.reset_index()
new_blue_states_2020

,State,Order Number,Company Name,Ship Date,City,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,CA,1,Ecom3,1/2/20,Lafayette,94549,UPS,12/31/19,35.0,10.0,"39,512,223",3/19/2020,4/2/2020,5/13/2020,Blue
1,NY,2,Ecom3,1/2/20,New York,10022,FEH,1/1/20,29.0,8.0,"19,453,561",3/22/2020,4/6/2020,6/8/2020,Blue
2,NY,3,Ecom3,1/3/20,New York,10006,FEH,1/2/20,21.5,6.0,"19,453,561",3/22/2020,4/6/2020,6/8/2020,Blue
3,MD,4,Ecom3,1/2/20,Walkersville,21793,FXG,12/31/19,41.0,12.0,"6,045,680",3/12/2020,3/27/2020,5/13/2020,Blue
4,NY,5,Ecom3,1/3/20,Clarence,14031,FEH,1/2/20,21.5,6.0,"19,453,561",3/22/2020,4/6/2020,6/8/2020,Blue
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164844,CO,235998,Winery3,12/29/2020,Aurora,80013,UPS,12/29/2020,21.5,6.0,"5,758,736",3/26/2020,4/26/2020,4/26/2020,Blue
164845,CA,235999,Winery3,12/29/2020,Napa,94558,GSC,12/29/2020,9.9,3.0,"39,512,223",3/19/2020,4/2/2020,5/13/2020,Blue
164846,CO,236000,Winery3,12/29/2020,Aurora,80014,UPS,12/29/2020,39.0,12.0,"5,758,736",3/26/2020,4/26/2020,4/26/2020,Blue
164847,VA,236001,Winery3,12/28/2020,Charlottesville,22901,UPS,12/28/2020,21.5,6.0,"8,535,519",3/30/2020,5/15/2020,5/29/2020,Blue
164848,CA,236002,Winery3,12/29/2020,Napa,94558,WCU,12/29/2020,21.5,6.0,"39,512,223",3/19/2020,4/2/2020,5/13/2020,Blue

In [156]:
new_blue_states_2020.State.unique()

array(['CA', 'NY', 'MD', 'NM', 'CT', 'MI', 'WA', 'PA', 'CO', 'HI', 'MA',
       'NH', 'NJ', 'VA', 'MN', 'WI', 'OR', 'IL', 'VT', 'GA', 'AZ', 'DC',
       'NV', 'ME', 'RI', 'DE'], dtype=object)

In [179]:
# Adding a list of values with keys to create a new DataFrame for Blue states only.
B = {'Blue State': ['Arizona', 'California', 'Colordao', 'Connecticut', 'District of Columbia', 'Delaware', 'Georgia',
               'Hawaii', 'Illinois', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Nevada',
               'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'Oregon', 'Pennsylvania', 'Rhode Island',
               'Vermont', 'Virginia', 'Washington',  'Wisconsin',
              ],
       'Total Item/Bottle Count': [Arizona["Item/Bottle Count"].sum(),    
            California["Item/Bottle Count"].sum(),
            Colorado["Item/Bottle Count"].sum(),
            Connecticut["Item/Bottle Count"].sum(),
            DC["Item/Bottle Count"].sum(),
            Delaware["Item/Bottle Count"].sum(),
            Georgia["Item/Bottle Count"].sum(),
            Hawaii["Item/Bottle Count"].sum(),
            Illinois["Item/Bottle Count"].sum(),
            Maine["Item/Bottle Count"].sum(),
            Maryland["Item/Bottle Count"].sum(),
            Massachusetts["Item/Bottle Count"].sum(),
            Michigan["Item/Bottle Count"].sum(),
            Minnesota["Item/Bottle Count"].sum(),
            Nevada["Item/Bottle Count"].sum(),
            New_Hampshire["Item/Bottle Count"].sum(),
            New_Jersey["Item/Bottle Count"].sum(),
            New_Mexico["Item/Bottle Count"].sum(),
            New_York["Item/Bottle Count"].sum(),
            Oregon["Item/Bottle Count"].sum(),
            Pennsylvania["Item/Bottle Count"].sum(),
            Rhode_Island["Item/Bottle Count"].sum(),
            Vermont["Item/Bottle Count"].sum(),
            Virginia["Item/Bottle Count"].sum(),
            Washington["Item/Bottle Count"].sum(),
            Wisconsin["Item/Bottle Count"].sum()]}

In [180]:
total_bottle_count_by_blue_state = pd.DataFrame.from_dict(data=B)
total_bottle_count_by_blue_state

              Blue State  Total Item/Bottle Count
0                Arizona                  16378.0
1             California                 130312.0
2               Colordao                  27802.0
3            Connecticut                  24062.0
4   District of Columbia                   8288.0
5               Delaware                   1289.0
6                Georgia                  34693.0
7                 Hawaii                   9666.0
8               Illinois                  51356.0
9                  Maine                   5007.0
10              Maryland                  29515.0
11         Massachusetts                  43665.0
12              Michigan                  36218.0
13             Minnesota                  15040.0
14                Nevada                   6802.0
15         New Hampshire                   6015.0
16            New Jersey                  61171.0
17            New Mexico                   4487.0
18              New York                 119653.0
19                Oregon                  11952.0
20          Pennsylvania                  82215.0
21          Rhode Island                   7767.0
22               Vermont                   3703.0
23              Virginia                  40075.0
24            Washington                  19176.0
25             Wisconsin                  13768.0

In [162]:
#Generate summary statistics for blue_states_2020
blue_summary_statistics_2020 = blue_states_2020.describe()
blue_summary_statistics_2020

        Order Number         Weight  Item/Bottle Count
count  164849.000000  164849.000000      164849.000000
mean   117366.409720      17.539310           4.914043
std     67804.539441      16.774859          11.282404
min         1.000000       1.000000           0.000000
25%     58568.000000       7.000000           2.000000
50%    116872.000000      14.000000           4.000000
75%    176317.000000      21.500000           6.000000
max    236002.000000    2057.000000        2272.000000

In [163]:
# Calculate the total 2020 Item/Bottle Count for Blue States.
total_blue_count_2020 = blue_states_2020["Item/Bottle Count"].sum()
total_blue_count_2020

810075.0

In [164]:
#Print the highest bottle count by blue state
print(total_bottle_count_by_blue_state[total_bottle_count_by_blue_state["Total Item/Bottle Count"] == 
                                  total_bottle_count_by_blue_state["Total Item/Bottle Count"].max()])

        State  Total Item/Bottle Count
1  California                 130312.0

In [181]:
#Print the lowest bottle count by blue state
print(total_bottle_count_by_blue_state[total_bottle_count_by_blue_state["Total Item/Bottle Count"] == 
                                  total_bottle_count_by_blue_state["Total Item/Bottle Count"].min()])

  Blue State  Total Item/Bottle Count
5   Delaware                   1289.0

In [182]:
#Export total_bottle_count_by_blue_state to .csv
total_bottle_count_by_blue_state.to_csv('Resources/2020_total_bottle_count_by_blue_state.csv')

In [183]:
#Create a joined df with all of red states and all of blue states.
joined_blueandred = total_bottle_count_by_blue_state.join(total_bottle_count_by_red_state, 
                                                          lsuffix='_Blue', rsuffix='_Red')
joined_blueandred

,Blue State,Total Item/Bottle Count_Blue,Red State,Total Item/Bottle Count_Red
0,Arizona,16378.0,Alabama,2024.0
1,California,130312.0,Alaska,2057.0
2,Colordao,27802.0,Arkansas,6512.0
3,Connecticut,24062.0,Florida,82961.0
4,District of Columbia,8288.0,Idaho,3391.0
5,Delaware,1289.0,Indiana,17476.0
6,Georgia,34693.0,Iowa,5846.0
7,Hawaii,9666.0,Kansas,7165.0
8,Illinois,51356.0,Kentucky,40.0
9,Maine,5007.0,Louisiana,10558.0
10,Maryland,29515.0,Mississippi,6.0
11,Massachusetts,43665.0,Missouri,13633.0
12,Michigan,36218.0,Montana,2472.0
13,Minnesota,15040.0,Nebraska,4753.0
14,Nevada,6802.0,North Carolina,28220.0
15,New Hampshire,6015.0,North Dakota,2042.0
16,New Jersey,61171.0,Ohio,36798.0
17,New Mexico,4487.0,Oklahoma,4694.0
18,New York,119653.0,South Carolina,14478.0
19,Oregon,11952.0,South Dakota,1757.0
20,Pennsylvania,82215.0,Tennessee,20300.0
21,Rhode Island,7767.0,Texas,66704.0
22,Vermont,3703.0,West Virginia,2869.0
23,Virginia,40075.0,Wyoming,1988.0
24,Washington,19176.0,NaN,NaN
25,Wisconsin,13768.0,NaN,NaN

In [184]:
#Export total_bottle_count_by_blue_state to .csv
joined_blueandred.to_csv('Resources/2020_joined_blueandred.csv')

## Total Wine Sales by State

In [131]:
# Which state consumed the most wine?

In [157]:
# Adding a list of values with keys to create a new DataFrame.
S = {'State': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colordao', 'Connecticut', 
               'District of Columbia', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois',
               'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
               'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
              'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
              'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 
              'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
     'Total Item/Bottle Count': [Alabama["Item/Bottle Count"].sum(), 
            Alaska["Item/Bottle Count"].sum(), 
            Arizona["Item/Bottle Count"].sum(), 
            Arkansas["Item/Bottle Count"].sum(), 
            California["Item/Bottle Count"].sum(),
            Colorado["Item/Bottle Count"].sum(),
            Connecticut["Item/Bottle Count"].sum(),
            DC["Item/Bottle Count"].sum(),
            Delaware["Item/Bottle Count"].sum(),
            Florida["Item/Bottle Count"].sum(),
            Georgia["Item/Bottle Count"].sum(),
            Hawaii["Item/Bottle Count"].sum(),
            Idaho["Item/Bottle Count"].sum(),
            Illinois["Item/Bottle Count"].sum(),
            Indiana["Item/Bottle Count"].sum(),
            Iowa["Item/Bottle Count"].sum(),
            Kansas["Item/Bottle Count"].sum(),
            Kentucky["Item/Bottle Count"].sum(),
            Louisiana["Item/Bottle Count"].sum(),
            Maine["Item/Bottle Count"].sum(),
            Maryland["Item/Bottle Count"].sum(),
            Massachusetts["Item/Bottle Count"].sum(),
            Michigan["Item/Bottle Count"].sum(),
            Minnesota["Item/Bottle Count"].sum(),
            Mississippi["Item/Bottle Count"].sum(),
            Missouri["Item/Bottle Count"].sum(),
            Montana["Item/Bottle Count"].sum(),
            Nebraska["Item/Bottle Count"].sum(),
            Nevada["Item/Bottle Count"].sum(),
            New_Hampshire["Item/Bottle Count"].sum(),
            New_Jersey["Item/Bottle Count"].sum(),
            New_Mexico["Item/Bottle Count"].sum(),
            New_York["Item/Bottle Count"].sum(),
            North_Carolina["Item/Bottle Count"].sum(),
            North_Dakota["Item/Bottle Count"].sum(),
            Ohio["Item/Bottle Count"].sum(),
            Oklahoma["Item/Bottle Count"].sum(),
            Oregon["Item/Bottle Count"].sum(),
            Pennsylvania["Item/Bottle Count"].sum(),
            Rhode_Island["Item/Bottle Count"].sum(),
            South_Carolina["Item/Bottle Count"].sum(),
            South_Dakota["Item/Bottle Count"].sum(),
            Tennessee["Item/Bottle Count"].sum(),
            Texas["Item/Bottle Count"].sum(),
            Utah["Item/Bottle Count"].sum(),
            Vermont["Item/Bottle Count"].sum(),
            Virginia["Item/Bottle Count"].sum(),
            Washington["Item/Bottle Count"].sum(),
            West_Virginia["Item/Bottle Count"].sum(),
            Wisconsin["Item/Bottle Count"].sum(),
            Wyoming["Item/Bottle Count"].sum()]}

In [158]:
total_bottle_count_by_state = pd.DataFrame.from_dict(data=S)
#total_bottle_count_by_state

In [159]:
#Sort df to show largest count first.
#I'm not sure why this isn't sorting.
total_bottle_count_by_state.sort_values('Total Item/Bottle Count')
total_bottle_count_by_state

                   State  Total Item/Bottle Count
0                Alabama                   2024.0
1                 Alaska                   2057.0
2                Arizona                  16378.0
3               Arkansas                   6512.0
4             California                 130312.0
5               Colordao                  27802.0
6            Connecticut                  24062.0
7   District of Columbia                   8288.0
8               Delaware                   1289.0
9                Florida                  82961.0
10               Georgia                  34693.0
11                Hawaii                   9666.0
12                 Idaho                   3391.0
13              Illinois                  51356.0
14               Indiana                  17476.0
15                  Iowa                   5846.0
16                Kansas                   7165.0
17              Kentucky                     40.0
18             Louisiana                  10558.0
19                 Maine                   5007.0
20              Maryland                  29515.0
21         Massachusetts                  43665.0
22              Michigan                  36218.0
23             Minnesota                  15040.0
24           Mississippi                      6.0
25              Missouri                  13633.0
26               Montana                   2472.0
27              Nebraska                   4753.0
28                Nevada                   6802.0
29         New Hampshire                   6015.0
30            New Jersey                  61171.0
31            New Mexico                   4487.0
32              New York                 119653.0
33        North Carolina                  28220.0
34          North Dakota                   2042.0
35                  Ohio                  36798.0
36              Oklahoma                   4694.0
37                Oregon                  11952.0
38          Pennsylvania                  82215.0
39          Rhode Island                   7767.0
40        South Carolina                  14478.0
41          South Dakota                   1757.0
42             Tennessee                  20300.0
43                 Texas                  66704.0
44                  Utah                      0.0
45               Vermont                   3703.0
46              Virginia                  40075.0
47            Washington                  19176.0
48         West Virginia                   2869.0
49             Wisconsin                  13768.0
50               Wyoming                   1988.0

In [135]:
#Print the highest bottle count by state
print(total_bottle_count_by_state[total_bottle_count_by_state["Total Item/Bottle Count"] == 
                                  total_bottle_count_by_state["Total Item/Bottle Count"].max()])

        State  Total Item/Bottle Count
4  California                 130312.0

In [136]:
#Print the lowest bottle count by state
print(total_bottle_count_by_state[total_bottle_count_by_state["Total Item/Bottle Count"] == 
                                  total_bottle_count_by_state["Total Item/Bottle Count"].min()])

   State  Total Item/Bottle Count
44  Utah                      0.0

In [172]:
#Export total_bottle_count_by_state to .csv
total_bottle_count_by_state.to_csv('Resources/2020_total_bottle_count_by_state.csv')

## Working syntax

In [ ]:
# Set the x-axis to a list of strings for each month.
x_axis = total_bottle_count_by_state["State"]

# Set the y-axis to a list of floats as the Item/Bottle Count for each month.
y_axis = total_bottle_count_by_state["Total Item/Bottle Count"]

In [ ]:
plt.pie(y_axis, labels=x_axis)
plt.show()

In [ ]:
plt.subplots(figsize=(25, 25))
explode_values = (0, 0, 0, 0, 0.2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 
                  0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, )
plt.pie(y_axis, explode=explode_values, labels=x_axis, autopct='%.1f%%')