In [1]:
import pandas as pd
import os
import numpy as np

# Import CSV files for all 12 months of 2021

In [2]:
# Files to load
load_2021_01 = "../2021_Data/2021.01.csv"
load_2021_02 = "../2021_Data/2021.02.csv"
load_2021_03 = "../2021_Data/copy2021.03.csv"
load_2021_04 = "../2021_Data/2021.04.csv"
load_2021_05 = "../2021_Data/2021.05.csv"
load_2021_06 = "../2021_Data/2021.06.csv"
#load_2021_07 = "../2021_Data/2021.07.csv"
#load_2021_08 = "../2021_Data/2021.08.csv"
#load_2021_09 = "../2021_Data/2021.09.csv"
#load_2021_10 = "../2021_Data/2021.10.csv"
#load_2021_11 = "../2021_Data/2021.11.csv"
#load_2021_12 = "../2021_Data/2021.12.csv"

## Read each CSV file into individual DataFrames

In [25]:
# Read the January CSV into a DataFrame
#DtypeWarning: Columns (0,1,2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2021_01 = pd.read_csv(load_2021_01, low_memory=False)
df_2021_01.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,Delivered,1/4/2021,Pleasant Prairie,WI,53158,FEH,12/7/2020,10.5,3.0
1,Ecom1,Delivered,1/5/2021,Beaverton,OR,97005,FEH,12/23/2020,10.5,3.0
2,Ecom1,Delivered,1/5/2021,Edison,NJ,8820,FEH,12/24/2020,6.5,1.0
3,Ecom1,Delivered,1/5/2021,Jersey city,NJ,7302,FEH,12/24/2020,6.5,1.0
4,Ecom1,Delivered,1/5/2021,Stoughton,MA,2072,FEH,12/24/2020,6.5,1.0

In [4]:
# Read the February CSV into a DataFrame
df_2021_02 = pd.read_csv(load_2021_02)
df_2021_02.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count,Zone
0,Ecom1,Delivered,2/3/2021,Plant city,FL,33565,UPS,2/3/2021,10.5,3.0,NaN
1,Ecom1,In Transit,2/5/2021,Miami,FL,33132,FEH,1/27/2021,20.2,6.0,NaN
2,Ecom1,Delivered,2/3/2021,Washington,DC,20010,FEH,1/28/2021,17.2,5.0,NaN
3,Ecom1,In Transit,2/3/2021,Tuscaloosa,AL,35405,UPS,1/28/2021,20.2,6.0,NaN
4,Ecom1,In Transit,2/3/2021,Dothan,AL,36303,UPS,1/28/2021,20.2,6.0,NaN

In [24]:
# Read the March CSV into a DataFrame
#DtypeWarning: Columns (0,1,2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
df_2021_03 = pd.read_csv(load_2021_03, low_memory=False)
df_2021_03.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,Delivered,3/2/21,Lansdale,PA,19446,FEH,3/2/21,20.2,6.0
1,Ecom1,Delivered,3/3/21,Prescott,AZ,86301,FEH,2/24/21,20.2,6.0
2,Ecom1,Delivered,3/1/21,Fairhope,AL,36532,UPS,2/24/21,20.2,6.0
3,Ecom1,Delivered,3/3/21,San Diego,CA,92105,FEH,2/25/21,6.5,1.0
4,Ecom1,Delivered,3/3/21,Carlsbad,CA,92011,FEH,2/25/21,6.5,1.0

In [22]:
# Read the April CSV into a DataFrame
#DtypeWarning: Columns (0,1,2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
df_2021_04 = pd.read_csv(load_2021_04, low_memory=False)
df_2021_04.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,In Transit,4/1/2021,Atlanta,GA,30316,FEH,3/30/2021,27.0,8.0
1,Ecom1,Delivered,4/1/2021,Greenlawn,NY,11740,FEH,3/31/2021,6.5,1.0
2,Ecom1,Delivered,4/1/2021,Brooklyn,NY,11215,FEH,3/31/2021,6.5,1.0
3,Ecom1,Delivered,4/1/2021,NEW YORK,NY,10032,FEH,3/31/2021,6.5,1.0
4,Ecom1,Delivered,4/1/2021,Syosset,NY,11791,FEH,3/31/2021,6.5,1.0

In [23]:
# Read the May CSV into a DataFrame
#DtypeWarning: Columns (0,1,2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
df_2021_05 = pd.read_csv(load_2021_05, low_memory=False)
df_2021_05.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom2,In Transit,5/1/2021,Lakeville,MN,55044,FEH,4/28/2021,7.0,2.0
1,Ecom3,Shipped,5/1/2021,McAllen,TX,78504,UPS,4/29/2021,9.9,3.0
2,Ecom3,Shipped,5/1/2021,Dallas,TX,75230,UPS,4/29/2021,14.0,4.0
3,Ecom3,Shipped,5/1/2021,Chino Hills,CA,91709,UPS,4/30/2021,7.0,2.0
4,Ecom3,Shipped,5/1/2021,Berkeley,CA,94703,UPS,4/30/2021,14.0,4.0

In [26]:
# Read the June CSV into a DataFrame
#DtypeWarning: Columns (0,1,2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
df_2021_06 = pd.read_csv(load_2021_06, low_memory=False)
df_2021_06.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,Shipped,6/1/2021,New York,NY,10065,FXG,5/24/2021,6.5,1.0
1,Ecom1,Shipped,6/1/2021,Great Neck,NY,11021,FXG,5/24/2021,6.5,1.0
2,Ecom1,Shipped,6/1/2021,Fresh Meadows,NY,11366,FXG,5/24/2021,6.5,1.0
3,Ecom1,Shipped,6/1/2021,Saddle River,NJ,7458,FEH,5/24/2021,6.5,1.0
4,Ecom1,In Transit,6/1/2021,Mount Kisco,NY,10549,FEH,5/24/2021,6.5,1.0

In [ ]:
# Read the July CSV into a DataFrame
df_2021_07 = pd.read_csv(load_2021_07)
df_2021_07.head()

In [ ]:
# Read the August CSV into a DataFrame
df_2021_08 = pd.read_csv(load_2021_08)
df_2021_08.head()

In [ ]:
# Read the September CSV into a DataFrame
df_2021_09 = pd.read_csv(load_2021_09)
df_2021_09.head()

In [ ]:
# Read the October CSV into a DataFrame
df_2021_10 = pd.read_csv(load_2021_10)
df_2021_10.head()

In [ ]:
# Read the November CSV into a DataFrame
df_2021_11 = pd.read_csv(load_2021_11)
df_2021_11.head()

In [ ]:
# Read the December CSV into a DataFrame
df_2021_12 = pd.read_csv(load_2021_12)
df_2021_12.head()

## Determine length of dataframes (Something isn't right here.)

In [27]:
#Determine total rows for df_2021_01.
df_2021_01_rows = len(df_2021_01.axes[0])
df_2021_01_cols = len(df_2021_01.axes[1])
print("Number of Rows: ", df_2021_01_rows)
print("Number of Columns: ", df_2021_01_cols)

Number of Rows:  668252
Number of Columns:  10

In [28]:
#Determine total rows for df_2021_02.
df_2021_02_rows = len(df_2021_02.axes[0])
df_2021_02_cols = len(df_2021_02.axes[1])
print("Number of Rows: ", df_2021_02_rows)
print("Number of Columns: ", df_2021_02_cols)

Number of Rows:  26845
Number of Columns:  11

In [29]:
#Determine total rows for df_2021_03.
df_2021_03_rows = len(df_2021_03.axes[0])
df_2021_03_cols = len(df_2021_03.axes[1])
print("Number of Rows: ", df_2021_03_rows)
print("Number of Columns: ", df_2021_03_cols)

Number of Rows:  601534
Number of Columns:  10

In [12]:
#Determine total rows for df_2021_04.
df_2021_04_rows = len(df_2021_04.axes[0])
df_2021_04_cols = len(df_2021_04.axes[1])
print("Number of Rows: ", df_2021_04_rows)
print("Number of Columns: ", df_2021_04_cols)

Number of Rows:  601137
Number of Columns:  10

In [13]:
#Determine total rows for df_2021_05.
df_2021_05_rows = len(df_2021_05.axes[0])
df_2021_05_cols = len(df_2021_05.axes[1])
print("Number of Rows: ", df_2021_05_rows)
print("Number of Columns: ", df_2021_05_cols)

Number of Rows:  675963
Number of Columns:  10

In [14]:
#Determine total rows for df_2021_06.
df_2021_06_rows = len(df_2021_06.axes[0])
df_2021_06_cols = len(df_2021_06.axes[1])
print("Number of Rows: ", df_2021_06_rows)
print("Number of Columns: ", df_2021_06_cols)

Number of Rows:  706897
Number of Columns:  10

In [ ]:
#Determine total rows for df_2021_07.
df_2021_07_rows = len(df_2021_07.axes[0])
df_2021_07_cols = len(df_2021_07.axes[1])
print("Number of Rows: ", df_2021_07_rows)
print("Number of Columns: ", df_2021_07_cols)

In [ ]:
#Determine total rows for df_2020_08.
df_2021_08_rows = len(df_2021_08.axes[0])
df_2021_08_cols = len(df_2021_08.axes[1])
print("Number of Rows: ", df_2021_08_rows)
print("Number of Columns: ", df_2021_08_cols)

In [ ]:
#Determine total rows for df_2021_09.
df_2021_09_rows = len(df_2021_09.axes[0])
df_2021_09_cols = len(df_2021_09.axes[1])
print("Number of Rows: ", df_2021_09_rows)
print("Number of Columns: ", df_2021_09_cols)

In [ ]:
#Determine total rows for df_2021_10.
df_2021_10_rows = len(df_2021_10.axes[0])
df_2021_10_cols = len(df_2021_10.axes[1])
print("Number of Rows: ", df_2021_10_rows)
print("Number of Columns: ", df_2021_10_cols)

In [ ]:
#Determine total rows for df_2021_11.
df_2021_11_rows = len(df_2021_11.axes[0])
df_2021_11_cols = len(df_2021_11.axes[1])
print("Number of Rows: ", df_2021_11_rows)
print("Number of Columns: ", df_2021_11_cols)

In [ ]:
#Determine total rows for df_2021_12.
df_2021_12_rows = len(df_2021_12.axes[0])
df_2021_12_cols = len(df_2021_12.axes[1])
print("Number of Rows: ", df_2021_12_rows)
print("Number of Columns: ", df_2021_12_cols)

In [ ]:
#Row/Column Summary
#1 Number of Rows:  668252, Number of Columns:  10
#2 Number of Rows:  26845, Number of Columns:  11
#3 Number of Rows:  601534, Number of Columns:  10
#4 Number of Rows:  601137, Number of Columns:  10
#5 Number of Rows:  675963, Number of Columns:  10
#6 Number of Rows:  706897, Number of Columns:  10
#update 7 and up
#7 Number of Rows:  19390, Number of Columns:  10
#8 Number of Rows:  20129, Number of Columns:  10
#9 Number of Rows:  22277, Number of Columns:  10
#10 Number of Rows:  19934, Number of Columns:  10
#11 Number of Rows:  22811, Number of Columns:  10
#12 Number of Rows:  33846, Number of Columns:  10

## Inspect DataFrames for Null Values (Some missing data in Created Date, Weight and Item/Bottle Count columns.)

In [30]:
# Determine if there are any missing values in df_2021_01.
#Missing 96% of values.
df_2021_01.isnull().sum()

Company Name         639610
Status               639626
Ship Date            639610
City                 639610
State                639610
Zip                  639610
Shipping Service     639610
Created Date         639626
Weight               639626
Item/Bottle Count    639626
dtype: int64

In [31]:
# Determine if there are any missing values in df_2021_02.
#Missing 2% of values from Status, Created Date, Weight and Item/Bottle Count.
df_2021_02.isnull().sum()

Company Name             0
Status                 444
Ship Date                0
City                     0
State                    0
Zip                      0
Shipping Service         0
Created Date           444
Weight                 444
Item/Bottle Count      444
Zone                 26845
dtype: int64

In [32]:
#need to remove Zone column from df_2021_02
df_2021_02 = df_2021_02.drop('Zone', axis=1)

In [33]:
df_2021_02.isnull().sum()

Company Name           0
Status               444
Ship Date              0
City                   0
State                  0
Zip                    0
Shipping Service       0
Created Date         444
Weight               444
Item/Bottle Count    444
dtype: int64

In [18]:
# Determine if there are any missing values in df_2021_03.
#Missing 96% of values.
df_2021_03.isnull().sum()

Company Name         577122
Status               577206
Ship Date            577122
City                 577122
State                577122
Zip                  577122
Shipping Service     577122
Created Date         577206
Weight               577206
Item/Bottle Count    577206
dtype: int64

In [19]:
# Determine if there are any missing values in df_2021_04.
#Missing 96% of values.
df_2021_04.isnull().sum()

Company Name         577521
Status               577941
Ship Date            577521
City                 577534
State                577521
Zip                  577521
Shipping Service     577521
Created Date         577924
Weight               577941
Item/Bottle Count    577540
dtype: int64

In [20]:
# Determine if there are any missing values in df_2021_05.
#Missing 97%
df_2021_05.isnull().sum()

Company Name         656859
Status               657057
Ship Date            656859
City                 656859
State                656859
Zip                  656859
Shipping Service     656859
Created Date         657057
Weight               657057
Item/Bottle Count    656859
dtype: int64

In [21]:
# Determine if there are any missing values in df_2021_06.
#Missing 97%
df_2021_06.isnull().sum()

Company Name         689003
Status               689136
Ship Date            689003
City                 689003
State                689003
Zip                  689003
Shipping Service     689003
Created Date         689136
Weight               689136
Item/Bottle Count    689003
dtype: int64

In [ ]:
# Determine if there are any missing values in df_2021_07.
#Missing 100% of values from Status column.
df_2021_07.isnull().sum()

In [ ]:
# Determine if there are any missing values in df_2021_08.
df_2021_08.isnull().sum()

In [ ]:
# Determine if there are any missing values in df_2021_09.
df_2021_09.isnull().sum()

In [ ]:
# Determine if there are any missing values in df_2021_10.
df_2021_10.isnull().sum()

In [ ]:
# Determine if there are any missing values in df_2021_11.
df_2021_11.isnull().sum()

In [ ]:
# Determine if there are any missing values in df_2021_12.
df_2021_12.isnull().sum()

## Drop NaN Values (This may have already been done when Steve cleaned the data)

In [ ]:
# Drop the NaNs for df_2021_01.
df_2021_01.dropna()

In [ ]:
# Drop the NaNs for df_2021_02.
df_2021_02.dropna()

In [ ]:
# Drop the NaNs for df_2021_03.
df_2021_03.dropna()

In [ ]:
# Drop the NaNs for df_2021_04.
df_2021_04.dropna()

In [ ]:
# Drop the NaNs for df_2021_05.
df_2021_05.dropna()

In [ ]:
# Drop the NaNs for df_2021_06.
df_2021_06.dropna()

In [ ]:
# Drop the NaNs for df_2021_07.
df_2021_07.dropna()

In [ ]:
# Drop the NaNs for df_2021_08.
df_2021_08.dropna()

In [ ]:
# Drop the NaNs for df_2021_09.
df_2021_09.dropna()

In [ ]:
# Drop the NaNs for df_2021_10.
df_2021_10.dropna()

In [ ]:
# Drop the NaNs for df_2021_11.
df_2021_11.dropna()

In [ ]:
# Drop the NaNs for df_2021_12.
df_2021_12.dropna()

## Determine Data Types (Do all columns need to be the same type across all months in order to join? I think we may need to change the Item/Bottle Count to match across all months.)

In [34]:
# Determine data types for df_2021_01.
df_2021_01.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [35]:
# Determine data types for df_2021_02.
df_2021_02.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [36]:
# Determine data types for df_2021_03.
df_2021_03.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [37]:
# Determine data types for df_2021_04.
df_2021_04.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [38]:
# Determine data types for df_2021_05.
df_2021_05.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [39]:
# Determine data types for df_2021_06.
df_2021_06.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [ ]:
# Determine data types for df_2021_07.
df_2021_07.dtypes

In [ ]:
# Determine data types for df_2021_08.
df_2021_08.dtypes

In [ ]:
# Determine data types for df_2021_09.
df_2021_09.dtypes

In [ ]:
# Determine data types for df_2021_10.
df_2021_10.dtypes

In [ ]:
# Determine data types for df_2021_11.
df_2021_11.dtypes

In [ ]:
# Determine data types for df_2021_12.
df_2021_12.dtypes

## Inspect DataFrames to Determine Where to Join

In [40]:
df_2021_01.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [41]:
df_2021_02.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [42]:
df_2021_03.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [43]:
df_2021_04.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [44]:
df_2021_05.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [45]:
df_2021_06.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [ ]:
df_2021_07.columns

In [ ]:
df_2021_08.columns

In [ ]:
df_2021_09.columns

In [ ]:
df_2021_10.columns

In [ ]:
df_2021_11.columns

In [ ]:
df_2021_12.columns

## Join Individual DataFrames to Create One 2021 Year DataFrame

In [ ]:
# Combine the data into a single dataset.
complete_2021_df = pd.merge(df_2021_01,
                            df_2021_02,
                            df_2021_03,
                            df_2021_04,
                            df_2021_05,
                            df_2021_06,
                            df_2021_07,
                            df_2021_08,
                            df_2021_09,
                            df_2021_10,
                            df_2021_11,
                            df_2021_12 on= ["Company Name",
                                            "Company Name",
                                            "Company Name",
                                            "Company Name",
                                            "Company Name",
                                            "Company Name",
                                            "Company Name",
                                            "Company Name",
                                            "Company Name",
                                            "Company Name",
                                            "Company Name",
                                            "Company Name"])
#update "column name" with the actual column name once the data can be read in. 
complete_2021_df.head()

## Export the 2021 year DataFrame to a .csv

In [ ]:
#Export complete_2021_df to .csv
complete_2021_df.to_csv('Final_Project/Complete_2021.csv')

In [ ]:
#Export to SQL