## Import Dependencies, Read CSV, Load Tables.

In [1]:
#Import dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
import time

In [4]:
# Files to load
load_2019 = "Complete_annual_dataframes/Complete_2019.csv"
load_2020 = "Complete_annual_dataframes/Complete_2020.csv"
load_2021 = "Complete_annual_dataframes/Complete_2021.csv"

In [5]:
# Read load_wine_2019 into a DataFrame
df2019 = pd.read_csv(load_2019, index_col=[0])
df2019.head()

,Order Number,Company Name,Ship Date,State,City,Created Date,Item/Bottle Count,Weight
0,0,Ecom3,11/19/19,PA,STEELTON,11/18/19,6.0,18.0
1,1,Ecom3,11/15/19,FL,CORAL GABLES,11/14/19,12.0,36.0
2,2,Ecom3,11/14/19,IL,CHICAGO,11/13/19,6.0,18.0
3,3,Ecom3,11/15/19,NJ,Rumson,11/14/19,12.0,36.0
4,4,Ecom3,11/14/19,MD,PASADENA,11/13/19,6.0,18.0

In [6]:
# Read load_wine_2020 into a DataFrame
df2020 = pd.read_csv(load_2020, index_col=[0])
df2020.head()

,Order Number,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,0,Ecom3,1/2/20,Plantation,FL,33325,UPS,1/1/20,9.9,3.0
1,1,Ecom3,1/2/20,Lafayette,CA,94549,UPS,12/31/19,35.0,10.0
2,2,Ecom3,1/2/20,New York,NY,10022,FEH,1/1/20,29.0,8.0
3,3,Ecom3,1/3/20,New York,NY,10006,FEH,1/2/20,21.5,6.0
4,4,Ecom3,1/2/20,Walkersville,MD,21793,FXG,12/31/19,41.0,12.0

In [7]:
# Read load_wine_2021 into a DataFrame
df2021 = pd.read_csv(load_2021, index_col=[0])
df2021.head()

,Order Number,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,0,Ecom1,1/4/2021,Pleasant Prairie,WI,53158,FEH,12/7/2020,10.5,3.0
1,1,Ecom1,1/5/2021,Beaverton,OR,97005,FEH,12/23/2020,10.5,3.0
2,2,Ecom1,1/5/2021,Edison,NJ,8820,FEH,12/24/2020,6.5,1.0
3,3,Ecom1,1/5/2021,Jersey city,NJ,7302,FEH,12/24/2020,6.5,1.0
4,4,Ecom1,1/5/2021,Stoughton,MA,2072,FEH,12/24/2020,6.5,1.0

## Basic Exploration Findings

In [ ]:
#Find the total count per year for Item/Bottle Count.

In [9]:
total_2019= df2019["Item/Bottle Count"].sum()
total_2019

961409.0

In [10]:
total_2020= df2020["Item/Bottle Count"].sum()
total_2020

1148819.0

In [11]:
total_2021= df2021["Item/Bottle Count"].sum()
total_2021

1065457.0

In [14]:
#Define values for Total Bottle Counts by Year df
totals = {'2019': ["961,409"], '2020': ["1,148,819"], '2021': ["1,065,457"]}

In [22]:
#Create Total Bottle Counts by Year df
Total_Bottle_Counts_by_Year = pd.DataFrame(data=totals, index=["Total Item/Bottle Count"])
Total_Bottle_Counts_by_Year

                            2019       2020       2021
Total Item/Bottle Count  961,409  1,148,819  1,065,457

In [ ]:
#Summary Statistics for all three years.

In [24]:
SS_2019 = df2019.describe()
SS_2019

        Order Number  Item/Bottle Count         Weight
count  155167.000000      155167.000000  155167.000000
mean    77583.000000           6.195963      18.658613
std     44792.998947          76.985793     231.152200
min         0.000000           1.000000       1.000000
25%     38791.500000           3.000000       9.000000
50%     77583.000000           6.000000      18.000000
75%    116374.500000           6.000000      18.000000
max    155166.000000       13596.000000   40788.000000

In [25]:
SS_2020 = df2020.describe()
SS_2020

        Order Number         Weight  Item/Bottle Count
count  236003.000000  236003.000000      236003.000000
mean   118001.000000      17.447244           4.867815
std     68128.342127      15.264199           9.618925
min         0.000000       1.000000           0.000000
25%     59000.500000       7.000000           2.000000
50%    118001.000000      14.000000           4.000000
75%    177001.500000      21.500000           6.000000
max    236002.000000    2057.000000        2272.000000

In [26]:
SS_2021 = df2021.describe()
SS_2021

        Order Number         Weight  Item/Bottle Count
count  242651.000000  242651.000000      242651.000000
mean   121325.000000      15.203934           4.390903
std     70047.454422      12.052878           5.931722
min         0.000000       1.000000           1.000000
25%     60662.500000       7.000000           2.000000
50%    121325.000000       9.900000           3.000000
75%    181987.500000      21.500000           6.000000
max    242650.000000    2016.000000        2301.000000