In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [30]:
# Load data
file = 'preprocessed_data.csv'
df = pd.read_csv(file)
df.head()

,Company Name,Ship Date,City,State,Shipping Service,Created Date,Weight,Item/Bottle Count
0,1,43952.87139,1555,34,5,43940.85348,10.5,3
1,1,43952.87149,5113,44,1,43943.52123,20.2,6
2,1,43952.87149,1341,5,9,43945.43794,20.2,6
3,1,43952.87148,4881,4,4,43945.60456,10.5,3
4,1,43952.87148,4984,44,1,43947.43795,39.0,12

##### Need to model 'Item/Bottle Count' per month per company
Group by company
Group by month
Create new dataframe with Company, Month, State, Item/Bottle Count

In [31]:
df.dtypes

Company Name           int64
Ship Date            float64
City                   int64
State                  int64
Shipping Service       int64
Created Date         float64
Weight               float64
Item/Bottle Count      int64
dtype: object

In [28]:
# # plot 'Created Date' and 'Item/Bottle Count'

# df.plot.scatter(x='Created Date', y='Item/Bottle Count')
# plt.show()

In [29]:
# # plot 'State' and 'Item/Bottle Count'

# df.plot.scatter(x='State', y='Item/Bottle Count')
# plt.show()