### Import Dependencies

In [96]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score

### Load Data

In [97]:
file = 'preprocessed_data.csv'
df = pd.read_csv(file)
df.head()

,Company Name,Ship Date,City,State,Shipping Service,Created Date,Weight,Item/Bottle Count
0,1,43952.87139,1555,34,5,43940.85348,10.5,3
1,1,43952.87149,5113,44,1,43943.52123,20.2,6
2,1,43952.87149,1341,5,9,43945.43794,20.2,6
3,1,43952.87148,4881,4,4,43945.60456,10.5,3
4,1,43952.87148,4984,44,1,43947.43795,39.0,12

### Scale and Split Data
##### Need to drop 'Weight' column completely because it has float variables and cannot be predicted in the classifier model without additional preprocessing

In [98]:
# Split 
X = df.drop(columns=['Weight','Item/Bottle Count'], axis=1)
y = df[['Item/Bottle Count']]

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [99]:
# scale the data
scaler = MinMaxScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Build DecisionTreeClassifier Model

In [100]:
# Fit classifier models with different max_depth
classifier_1 = DecisionTreeClassifier(max_depth=2)
classifier_2 = DecisionTreeClassifier(max_depth=5)
classifier_3 = DecisionTreeClassifier(max_depth=8)

classifier_1.fit(X_train_scaled,y_train)
classifier_2.fit(X_train_scaled,y_train)
classifier_3.fit(X_train_scaled,y_train)

DecisionTreeClassifier(max_depth=8)

In [101]:
y_pred1 = classifier_1.predict(X_test_scaled)
y_pred2 = classifier_2.predict(X_test_scaled)
y_pred3 = classifier_3.predict(X_test_scaled)

### Print Accuracy Scores

In [102]:
print(accuracy_score(y_test,y_pred1))
print(accuracy_score(y_test,y_pred2))
print(accuracy_score(y_test,y_pred3))

0.6139240506329114
0.6242243732936212
0.6264581782079921