### Import Dependencies

In [12]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

ModuleNotFoundError: No module named 'dotenv'

In [ ]:
# # configure connection to postgerSQL
# load_dotenv()
# db_password  = os.getenv("db_password")
# db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/<name_of_database>"
# engine = create_engine(db_string)

# print("Python is connected to PostgreSQL")

In [13]:
# # Load data from postgreSQL
# table_name = "name of table in postgreSQL"

# df = pd.read_sql_table(
#     table_name=table_name,
#     con=engine, 
#     columns=["list", "of", "columns", "to", "retrieve"]
# )

# df.head()

### Load Data

In [14]:
file = 'dummy_data.csv'
df = pd.read_csv(file)

### Preprocess data for ML Model:
#### Methods for each column:
- Company Name: custom encoder to label each company 1 to 6
- Status: drop column
- Ship Date:
- City: Encode with LabelEncoder?
- State: Encode with LabelEncoder?
- Zip:
- Shipping Service: Encode with LabelEncoder?
- Created Date:
- Weight:
- Item/Bottle Count:

# Create Preprocessing Function

In [19]:
def data_preprocessing(df):

    # Label each company as integers 1 through 6
    company_num = {
    "Ecom1": 1,
    'Ecom2': 2,
    "Ecom3": 3,
    "Winery1": 4,
    "Winery2": 5,
    "Winery3": 6
    }
    df['Company Name'] = df['Company Name'].apply(lambda x:company_num[x])

    # Drop 'Status' and 'Zip' columns
    df = df.drop(['Status','Zip'], axis=1)

    # Encode 'City', 'State', and 'Shipping Service' columns
    le = LabelEncoder()
    df['City'] = le.fit_transform(df['City'])
    df['State'] = le.fit_transform(df['State'])
    df['Shipping Service'] = le.fit_transform(df['Shipping Service'])

    return df.head()

In [20]:
data_preprocessing(df)

,Company Name,Ship Date,City,State,Shipping Service,Created Date,Weight,Item/Bottle Count
0,1,43952.87139,1555,34,5,43940.85348,10.5,3
1,1,43952.87149,5113,44,1,43943.52123,20.2,6
2,1,43952.87149,1341,5,9,43945.43794,20.2,6
3,1,43952.87148,4881,4,4,43945.60456,10.5,3
4,1,43952.87148,4984,44,1,43947.43795,39.0,12

In [ ]:
# df.to_csv(r'preprocessed_data.csv', index=False)