### Import Dependencies

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

# ----------------------------------------------------
### Load Data

In [2]:
file = 'dummy_data.csv'
df = pd.read_csv(file)
df.head(10)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,Shipped,43952.87139,Edmond,OK,73034,LSO1,43940.85348,10.5,3
1,Ecom1,In Transit,43952.87149,Snohomish,WA,98296,FEH,43943.52123,20.2,6
2,Ecom1,In Transit,43952.87149,Denver,CO,80209,UPS,43945.43794,20.2,6
3,Ecom1,In Transit,43952.87148,San Diego,CA,92115,FXG,43945.60456,10.5,3
4,Ecom1,In Transit,43952.87148,Seattle,WA,98104,FEH,43947.43795,39.0,12
5,Ecom1,In Transit,43952.87149,Palm Springs,CA,92262,FEH,43947.43804,10.5,3
6,Ecom1,In Transit,43952.87149,Marina Del Rey,CA,90292,FEH,43947.43830,24.0,7
7,Ecom1,Shipped,43952.87149,Altus,OK,73521,LSO1,43947.43873,20.2,6
8,Ecom1,In Transit,43952.87148,Austin,TX,78751,FEH,43947.89613,17.2,5
9,Ecom1,In Transit,43952.87149,Santa Monica,CA,90404,FEH,43948.43788,20.2,6

# ----------------------------------------------------
### Preprocess data for ML Model:
#### Methods for each column:
- Company Name: custom encoder to label each company 1 to 6
- Status: drop column
- Ship Date:
- City: Encode with LabelEncoder?
- State: Encode with LabelEncoder?
- Zip:
- Shipping Service: Encode with LabelEncoder?
- Created Date:
- Weight:
- Item/Bottle Count:

### Custom Encoding for Company Name

In [3]:
company_num = {
    "Ecom1": 1,
    'Ecom2': 2,
    "Ecom3": 3,
    "Winery1": 4,
    "Winery2": 5,
    "Winery3": 6
}

df['Company Name'] = df['Company Name'].apply(lambda x:company_num[x])

### Drop Status ans Zip Column

In [4]:
df = df.drop(['Status','Zip'], axis=1)

### Encode City, State, and Shipping Service

In [5]:
le = LabelEncoder()

df['City'] = le.fit_transform(df['City'])
df['State'] = le.fit_transform(df['State'])
df['Shipping Service'] = le.fit_transform(df['Shipping Service'])

In [6]:
df

,Company Name,Ship Date,City,State,Shipping Service,Created Date,Weight,Item/Bottle Count
0,1,43952.87139,1555,34,5,43940.85348,10.5,3
1,1,43952.87149,5113,44,1,43943.52123,20.2,6
2,1,43952.87149,1341,5,9,43945.43794,20.2,6
3,1,43952.87148,4881,4,4,43945.60456,10.5,3
4,1,43952.87148,4984,44,1,43947.43795,39.0,12
...,...,...,...,...,...,...,...,...
32226,3,43977.58227,3588,29,9,43976.69821,14.0,4
32227,3,43979.91545,4886,4,9,43976.83360,26.0,7
32228,3,43981.48807,2038,14,9,43979.78144,18.5,5
32229,3,43979.57612,225,10,9,43973.85428,29.0,8
32230,3,43980.71198,225,10,9,43973.85428,27.0,4

In [7]:
df.nunique()

Company Name             5
Ship Date             1964
City                  6471
State                   48
Shipping Service        12
Created Date         22539
Weight                  55
Item/Bottle Count       16
dtype: int64

# ----------------------------------------------------
### Export preprocessed data

In [10]:

# df.to_csv(r'converted_datatypes.csv', index=False)