### Import Dependencies

In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

from sqlalchemy import create_engine
from dotenv import load_dotenv            # pip install python-dotenv
import os

import psycopg2                           # pip install psycopg2-binary

In [7]:
# configure connection to postgerSQL

load_dotenv()
db_password  = os.getenv("db_password")
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Winedemic"
engine = create_engine(db_string)

print("Python is connected to PostgreSQL")

Python is connected to PostgreSQL

In [6]:
# Load 2019 data from postgreSQL
df_2019 = pd.read_sql_table(
    table_name="complete_2019",
    con=engine)

# Load 2020 data from postgreSQL
df_2020 = pd.read_sql_table(
    table_name="complete_2020",
    con=engine)

# Load 2021 data from postgreSQL
df_2021 = pd.read_sql_table(
    table_name="complete_2021",
    con=engine)

### Load Data

In [4]:
# file = 'dummy_data.csv'
file = '../data_frame/Complete_annual_dataframes/Complete_2020.csv'
df = pd.read_csv(file)
df.head()

,Unnamed: 0,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,0,Ecom3,1/2/20,Plantation,FL,33325,UPS,1/1/20,9.9,3.0
1,1,Ecom3,1/2/20,Lafayette,CA,94549,UPS,12/31/19,35.0,10.0
2,2,Ecom3,1/2/20,New York,NY,10022,FEH,1/1/20,29.0,8.0
3,3,Ecom3,1/3/20,New York,NY,10006,FEH,1/2/20,21.5,6.0
4,4,Ecom3,1/2/20,Walkersville,MD,21793,FXG,12/31/19,41.0,12.0

### Preprocess data for ML Model:
#### Methods for each column:
- Company Name: custom encoder to label each company 1 to 6
- Status: drop column       <-- already dropped
- Ship Date: drop column
- City: Encode with LabelEncoder?
- State: Encode with LabelEncoder?
- Zip: drop column
- Shipping Service: Encode with LabelEncoder?
- Created Date: convert to month
- Weight: drop column
- Item/Bottle Count:

# Create Preprocessing Function

In [5]:
def data_preprocessing(df):

    # Label each company as integers 1 through 6
    company_num = {
    "Ecom1": 1,
    'Ecom2': 2,
    "Ecom3": 3,
    "Winery1": 4,
    "Winery2": 5,
    "Winery3": 6
    }
    df['Company Name'] = df['Company Name'].apply(lambda x:company_num[x])

    # Drop 'Status', 'Ship Date' and 'Zip' columns
    df = df.drop(['Ship Date','Zip', 'Weight'], axis=1)

    # Encode 'City', 'State', and 'Shipping Service' columns
    le = LabelEncoder()
    df['City'] = le.fit_transform(df['City'])
    df['State'] = le.fit_transform(df['State'])
    df['Shipping Service'] = le.fit_transform(df['Shipping Service'])

    return df

In [6]:
df = data_preprocessing(df)

In [7]:
df.head()

,Unnamed: 0,Company Name,City,State,Shipping Service,Created Date,Item/Bottle Count
0,0,3,7981,9,14,1/1/20,3.0
1,1,3,5188,4,14,12/31/19,10.0
2,2,3,6939,34,1,1/1/20,8.0
3,3,3,6939,34,1,1/2/20,6.0
4,4,3,10666,20,4,12/31/19,12.0

In [8]:
# df.to_csv(r'preprocessed_data.csv', index=False)