In [11]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [3]:
winedemic_df = pd.read_csv("winedemic_complete.csv")

In [4]:
winedemic_df.head()

,Unnamed: 0,Company Name,Ship Date,State,City,Created Date,Item/Bottle Count,Weight,Year,Month,Day,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,0,Ecom3,11/19/19,PA,STEELTON,2019-11-18,6.0,18.0,2019,11,18,"12,801,989",3/23/2020,4/30/2020,5/15/2020,Blue
1,1,Ecom3,11/15/19,FL,CORAL GABLES,2019-11-14,12.0,36.0,2019,11,14,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
2,2,Ecom3,11/14/19,IL,CHICAGO,2019-11-13,6.0,18.0,2019,11,13,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
3,3,Ecom3,11/15/19,NJ,Rumson,2019-11-14,12.0,36.0,2019,11,14,"8,882,190",3/21/2020,1/1/1111,5/12/2020,Blue
4,4,Ecom3,11/14/19,MD,PASADENA,2019-11-13,6.0,18.0,2019,11,13,"6,045,680",3/12/2020,3/27/2020,5/13/2020,Blue

In [9]:
year2019_df = winedemic_df[winedemic_df["Year"] == 2019]
year2019_df

,Unnamed: 0,Company Name,Ship Date,State,City,Created Date,Item/Bottle Count,Weight,Year,Month,Day,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,0,Ecom3,11/19/19,PA,STEELTON,2019-11-18,6.0,18.0,2019,11,18,"12,801,989",3/23/2020,4/30/2020,5/15/2020,Blue
1,1,Ecom3,11/15/19,FL,CORAL GABLES,2019-11-14,12.0,36.0,2019,11,14,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
2,2,Ecom3,11/14/19,IL,CHICAGO,2019-11-13,6.0,18.0,2019,11,13,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
3,3,Ecom3,11/15/19,NJ,Rumson,2019-11-14,12.0,36.0,2019,11,14,"8,882,190",3/21/2020,1/1/1111,5/12/2020,Blue
4,4,Ecom3,11/14/19,MD,PASADENA,2019-11-13,6.0,18.0,2019,11,13,"6,045,680",3/12/2020,3/27/2020,5/13/2020,Blue
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162313,7146,Ecom1,1/20/20,NM,Mora,2019-12-24,12.0,39.0,2019,12,24,"2,096,829",3/13/2020,4/30/2020,5/15/2020,Blue
162659,7492,Winery2,1/27/20,FL,Palm Beach,2019-06-17,1.0,17.0,2019,6,17,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
163288,8121,Ecom3,2/7/20,CO,Breckenridge,2019-10-11,8.0,29.0,2019,10,11,"5,758,736",3/26/2020,4/26/2020,4/26/2020,Blue
247556,92389,Winery1,6/23/2020,FL,Naples,2019-12-03,2.0,13.5,2019,12,3,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
252434,97267,Winery1,7/10/20,MD,Silver Spring,2019-10-29,12.0,39.0,2019,10,29,"6,045,680",3/12/2020,3/27/2020,5/13/2020,Blue

In [10]:
state = year2019_df["State"].unique()
state

array(['PA', 'FL', 'IL', 'NJ', 'MD', 'NY', 'AR', 'MI', 'TN', 'VA', 'NC',
       'NH', 'MO', 'CT', 'MA', 'WI', 'MN', 'OH', 'TX', 'WV', 'CA', 'VT',
       'WA', 'SC', 'IN', 'GA', 'OR', 'LA', 'AZ', 'NV', 'KS', 'MT', 'CO',
       'IA', 'NM', 'NE', 'ID', 'ME', 'DC', 'HI', 'RI', 'WY', 'SD', 'ND',
       'AK', 'DE', 'OK', 'AL', 'KY'], dtype=object)

In [12]:
year2019_df = year2019_df.set_index("State")
year2019_df

,Unnamed: 0,Company Name,Ship Date,City,Created Date,Item/Bottle Count,Weight,Year,Month,Day,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
State,,,,,,,,,,,,,,,
PA,0,Ecom3,11/19/19,STEELTON,2019-11-18,6.0,18.0,2019,11,18,"12,801,989",3/23/2020,4/30/2020,5/15/2020,Blue
FL,1,Ecom3,11/15/19,CORAL GABLES,2019-11-14,12.0,36.0,2019,11,14,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
IL,2,Ecom3,11/14/19,CHICAGO,2019-11-13,6.0,18.0,2019,11,13,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
NJ,3,Ecom3,11/15/19,Rumson,2019-11-14,12.0,36.0,2019,11,14,"8,882,190",3/21/2020,1/1/1111,5/12/2020,Blue
MD,4,Ecom3,11/14/19,PASADENA,2019-11-13,6.0,18.0,2019,11,13,"6,045,680",3/12/2020,3/27/2020,5/13/2020,Blue
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NM,7146,Ecom1,1/20/20,Mora,2019-12-24,12.0,39.0,2019,12,24,"2,096,829",3/13/2020,4/30/2020,5/15/2020,Blue
FL,7492,Winery2,1/27/20,Palm Beach,2019-06-17,1.0,17.0,2019,6,17,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
CO,8121,Ecom3,2/7/20,Breckenridge,2019-10-11,8.0,29.0,2019,10,11,"5,758,736",3/26/2020,4/26/2020,4/26/2020,Blue
FL,92389,Winery1,6/23/2020,Naples,2019-12-03,2.0,13.5,2019,12,3,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
MD,97267,Winery1,7/10/20,Silver Spring,2019-10-29,12.0,39.0,2019,10,29,"6,045,680",3/12/2020,3/27/2020,5/13/2020,Blue

In [15]:
# Calculate the total 2020 Item/Bottle Count.
total_count_2019 = year2019_df["Item/Bottle Count"].sum()
total_count_2019

964068.0

In [ ]:
# Use .groupby() to find item/bottle count .sum() for each state
total_bottles =