## Import Dependencies, Read CSV and Create Dataframes.

In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
import matplotlib
matplotlib.__version__
%matplotlib inline
# Import dependencies.
import matplotlib.pyplot as plt

In [3]:
load_states = "../state_covid_info/Complete_states.csv"
load_2019 = "../data_frame/Complete_annual_dataframes/Complete_2019.csv"

In [4]:
states_df = pd.read_csv(load_states)
states_df.head()

,State,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,AK,"731,545",3/23/2020,3/30/2020,4/24/2020,Red
1,AL,"4,903,185",4/4/2020,4/30/2020,4/30/2020,Red
2,AR,"3,017,804",3/15/2020,3/27/2020,6/5/2020,Red
3,AZ,"7,278,717",4/30/2020,5/15/2020,5/18/2020,Blue
4,CA,"39,512,223",3/19/2020,4/2/2020,5/13/2020,Blue

In [ ]:
#df_2019 = pd.read_csv(load_2019)
#df_2019.head()

In [5]:
#If I set the Index as "State" here, an extra column named "Unammed:0" populates. 
df_2019 = pd.read_csv(load_2019, index_col=["State"])
df_2019.head()

,Unnamed: 0,Order Number,Company Name,Ship Date,City,Created Date,Item/Bottle Count,Weight
State,,,,,,,,
PA,0,0,Ecom3,11/19/19,STEELTON,11/18/19,6.0,18.0
FL,1,1,Ecom3,11/15/19,CORAL GABLES,11/14/19,12.0,36.0
IL,2,2,Ecom3,11/14/19,CHICAGO,11/13/19,6.0,18.0
NJ,3,3,Ecom3,11/15/19,Rumson,11/14/19,12.0,36.0
MD,4,4,Ecom3,11/14/19,PASADENA,11/13/19,6.0,18.0

In [6]:
#Join states and 2019 df on "State"
states_2019 = df_2019.join(states_df.set_index ("State"), on = "State")
states_2019.head()

,Unnamed: 0,Order Number,Company Name,Ship Date,City,Created Date,Item/Bottle Count,Weight,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
State,,,,,,,,,,,,,
PA,0,0,Ecom3,11/19/19,STEELTON,11/18/19,6.0,18.0,"12,801,989",3/23/2020,4/30/2020,5/15/2020,Blue
FL,1,1,Ecom3,11/15/19,CORAL GABLES,11/14/19,12.0,36.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
IL,2,2,Ecom3,11/14/19,CHICAGO,11/13/19,6.0,18.0,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
NJ,3,3,Ecom3,11/15/19,Rumson,11/14/19,12.0,36.0,"8,882,190",3/21/2020,1/1/1111,5/12/2020,Blue
MD,4,4,Ecom3,11/14/19,PASADENA,11/13/19,6.0,18.0,"6,045,680",3/12/2020,3/27/2020,5/13/2020,Blue

In [7]:
states_2019.count()

Unnamed: 0                       155167
Order Number                     155167
Company Name                     155167
Ship Date                        155167
City                             155167
Created Date                     155167
Item/Bottle Count                155167
Weight                           155167
Population                       155167
Lockdown Start                   155167
Initial Expected Lockdown End    155167
Phase 1 Re-Opening Start         155167
Political Alignment              155167
dtype: int64

In [8]:
states_2019.tail(10)

,Unnamed: 0,Order Number,Company Name,Ship Date,City,Created Date,Item/Bottle Count,Weight,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
State,,,,,,,,,,,,,
FL,155157,155157,Ecom2,12/29/19,Clearwater,12/28/19,2.0,6.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
PA,155158,155158,Ecom2,12/29/19,Canonsburg,12/28/19,2.0,6.0,"12,801,989",3/23/2020,4/30/2020,5/15/2020,Blue
WI,155159,155159,Ecom2,12/29/19,Tomah,12/28/19,2.0,6.0,"5,822,434",3/24/2020,4/24/2020,5/26/2020,Blue
FL,155160,155160,Ecom2,12/29/19,Clearwater,12/28/19,2.0,6.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
AZ,155161,155161,Ecom2,12/29/19,Phoenix,12/28/19,2.0,6.0,"7,278,717",4/30/2020,5/15/2020,5/18/2020,Blue
FL,155162,155162,Ecom2,12/30/19,Miami Beach,12/29/19,2.0,6.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
NC,155163,155163,Ecom2,12/30/19,Mooresville,12/29/19,2.0,6.0,"10,488,084",3/30/2020,4/29/2020,5/20/2020,Red
FL,155164,155164,Ecom2,12/30/19,Jupiter,12/29/19,2.0,6.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
TX,155165,155165,Ecom2,12/30/19,Houston,12/29/19,2.0,6.0,"28,995,881",3/31/2020,5/4/2020,5/1/2020,Red
TX,155166,155166,Ecom2,12/30/19,Fort Worth,12/29/19,2.0,6.0,"28,995,881",3/31/2020,5/4/2020,5/1/2020,Red

In [9]:
# Calculate the total 2019 Item/Bottle Count.
total_count_2019 = states_2019["Item/Bottle Count"].sum()
total_count_2019

961409.0

## Slice Each State Into its Own Dataframe and Calculate Total Item/Bottle Count 2019.

In [12]:
slice_list = ["AL"]
Alabama = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alabama

In [13]:
#Calculate the total Alabama Item/Bottle Count.
Alabama["Item/Bottle Count"].sum()

1751.0

In [14]:
slice_list = ["AK"]
Alaska = states_2019.iloc[states_2019.index.isin(slice_list)]
#Alaska

In [15]:
#Calculate the total Alaska Item/Bottle Count.
Alaska["Item/Bottle Count"].sum()

1665.0

In [16]:
slice_list = ["AZ"]
Arizona = states_2019.iloc[states_2019.index.isin(slice_list)]
#Arizona

In [17]:
#Calculate the total Arizona Item/Bottle Count.
Arizona["Item/Bottle Count"].sum()

12787.0

In [18]:
slice_list = ["AR"]
Arkansas = states_2019.iloc[states_2019.index.isin(slice_list)]
#Arkansas

In [19]:
#Calculate the total Arkansas Item/Bottle Count.
Arkansas["Item/Bottle Count"].sum()

5111.0

In [20]:
slice_list = ["CA"]
California = states_2019.iloc[states_2019.index.isin(slice_list)]
#California

In [21]:
#Calculate the total California Item/Bottle Count.
California["Item/Bottle Count"].sum()

141262.0

In [22]:
slice_list = ["CO"]
Colorado = states_2019.iloc[states_2019.index.isin(slice_list)]
#Colorado

In [23]:
# Calculate the total Alabama Item/Bottle Count.
Colorado["Item/Bottle Count"].sum()

20038.0

In [24]:
slice_list = ["CT"]
Connecticut = states_2019.iloc[states_2019.index.isin(slice_list)]
#Connecticut

In [25]:
# Calculate the total Connecticut Item/Bottle Count.
Connecticut["Item/Bottle Count"].sum()

14319.0

In [130]:
slice_list = ["DC"]
DC = states_2019.iloc[states_2019.index.isin(slice_list)]
#DC

In [131]:
# Calculate the total DC Item/Bottle Count.
DC["Item/Bottle Count"].sum()

5585.0

In [26]:
slice_list = ["DE"]
Delaware = states_2019.iloc[states_2019.index.isin(slice_list)]
#Delaware

In [27]:
# Calculate the total Delaware Item/Bottle Count.
Delaware["Item/Bottle Count"].sum()

644.0

In [28]:
slice_list = ["FL"]
Florida = states_2019.iloc[states_2019.index.isin(slice_list)]
#Florida

In [29]:
# Calculate the total Florida Item/Bottle Count.
Florida["Item/Bottle Count"].sum()

55780.0

In [30]:
slice_list = ["GA"]
Georgia = states_2019.iloc[states_2019.index.isin(slice_list)]
#Georgia

In [31]:
# Calculate the total Georgia Item/Bottle Count.
Georgia["Item/Bottle Count"].sum()

22353.0

In [32]:
slice_list = ["HI"]
Hawaii = states_2019.iloc[states_2019.index.isin(slice_list)]
#Hawaii

In [33]:
# Calculate the total Hawaii Item/Bottle Count.
Hawaii["Item/Bottle Count"].sum()

5517.0

In [34]:
slice_list = ["ID"]
Idaho = states_2019.iloc[states_2019.index.isin(slice_list)]
#Idaho

In [35]:
# Calculate the total Idaho Item/Bottle Count.
Idaho["Item/Bottle Count"].sum()

2456.0

In [36]:
slice_list = ["IL"]
Illinois = states_2019.iloc[states_2019.index.isin(slice_list)]
#Illinois

In [37]:
# Calculate the total Illinois Item/Bottle Count.
Illinois["Item/Bottle Count"].sum()

47148.0

In [38]:
slice_list = ["IN"]
Indiana = states_2019.iloc[states_2019.index.isin(slice_list)]
#Indiana

In [39]:
# Calculate the total Indiana Item/Bottle Count.
Indiana["Item/Bottle Count"].sum()

10996.0

In [40]:
slice_list = ["IA"]
Iowa = states_2019.iloc[states_2019.index.isin(slice_list)]
#Iowa

In [41]:
# Calculate the total Iowa Item/Bottle Count.
Iowa["Item/Bottle Count"].sum()

3605.0

In [42]:
slice_list = ["KS"]
Kansas = states_2019.iloc[states_2019.index.isin(slice_list)]
#Kansas

In [43]:
# Calculate the total Kansas Item/Bottle Count.
Kansas["Item/Bottle Count"].sum()

5949.0

In [44]:
#Effective March 12, 2021, brand registration is not required for DTC products.  DTC shipping previously prohibited. 
slice_list = ["KY"]
Kentucky = states_2019.iloc[states_2019.index.isin(slice_list)]
#Kentucky

In [45]:
# Calculate the total Kentucky Item/Bottle Count.
Kentucky["Item/Bottle Count"].sum()

52.0

In [46]:
slice_list = ["LA"]
Louisiana = states_2019.iloc[states_2019.index.isin(slice_list)]
#Louisiana

In [47]:
# Calculate the total Louisiana Item/Bottle Count.
Louisiana["Item/Bottle Count"].sum()

9000.0

In [48]:
slice_list = ["ME"]
Maine = states_2019.iloc[states_2019.index.isin(slice_list)]
#Maine

In [49]:
# Calculate the total Maine Item/Bottle Count.
Maine["Item/Bottle Count"].sum()

2154.0

In [50]:
slice_list = ["MD"]
Maryland = states_2019.iloc[states_2019.index.isin(slice_list)]
#Maryland

In [51]:
# Calculate the total Maryland Item/Bottle Count.
Maryland["Item/Bottle Count"].sum()

15462.0

In [52]:
slice_list = ["MA"]
Massachusetts = states_2019.iloc[states_2019.index.isin(slice_list)]
#Massachusetts

In [53]:
# Calculate the total Massachusetts Item/Bottle Count.
Massachusetts["Item/Bottle Count"].sum()

32779.0

In [54]:
slice_list = ["MI"]
Michigan = states_2019.iloc[states_2019.index.isin(slice_list)]
#Michigan

In [55]:
# Calculate the total Michigan Item/Bottle Count.
Michigan["Item/Bottle Count"].sum()

26403.0

In [56]:
slice_list = ["MN"]
Minnesota = states_2019.iloc[states_2019.index.isin(slice_list)]
#Minnesota

In [57]:
# Calculate the total Minnesota Item/Bottle Count.
Minnesota["Item/Bottle Count"].sum()

10094.0

In [58]:
#DTC shipping prohibited in Mississippi.
slice_list = ["MS"]
Mississippi = states_2019.iloc[states_2019.index.isin(slice_list)]
#Mississippi

In [59]:
# Calculate the total Mississippi Item/Bottle Count.
Mississippi["Item/Bottle Count"].sum()

0.0

In [60]:
slice_list = ["MO"]
Missouri = states_2019.iloc[states_2019.index.isin(slice_list)]
#Missouri

In [61]:
# Calculate the total Missouri Item/Bottle Count.
Missouri["Item/Bottle Count"].sum()

10167.0

In [62]:
slice_list = ["MT"]
Montana = states_2019.iloc[states_2019.index.isin(slice_list)]
#Montana

In [63]:
# Calculate the total Montana Item/Bottle Count.
Montana["Item/Bottle Count"].sum()

1868.0

In [64]:
#No shipping law information
slice_list = ["NE"]
Nebraska = states_2019.iloc[states_2019.index.isin(slice_list)]
#Nebraska

In [65]:
# Calculate the total Nebraska Item/Bottle Count.
Nebraska["Item/Bottle Count"].sum()

2956.0

In [66]:
slice_list = ["NV"]
Nevada = states_2019.iloc[states_2019.index.isin(slice_list)]
#Nevada

In [67]:
# Calculate the total Nevada Item/Bottle Count.
Nevada["Item/Bottle Count"].sum()

5816.0

In [68]:
slice_list = ["NH"]
New_Hampshire = states_2019.iloc[states_2019.index.isin(slice_list)]
#New_Hampshire

In [69]:
# Calculate the total New_Hampshire Item/Bottle Count.
New_Hampshire["Item/Bottle Count"].sum()

4017.0

In [70]:
slice_list = ["NJ"]
New_Jersey = states_2019.iloc[states_2019.index.isin(slice_list)]
#New_Jersey

In [71]:
# Calculate the total New Jersey Item/Bottle Count.
New_Jersey["Item/Bottle Count"].sum()

41505.0

In [72]:
slice_list = ["NM"]
New_Mexico = states_2019.iloc[states_2019.index.isin(slice_list)]
#New_Mexico

In [73]:
# Calculate the total New Mexico Item/Bottle Count.
New_Mexico["Item/Bottle Count"].sum()

3002.0

In [74]:
slice_list = ["NY"]
New_York = states_2019.iloc[states_2019.index.isin(slice_list)]
#New_York

In [75]:
# Calculate the total New York Item/Bottle Count.
New_York["Item/Bottle Count"].sum()

190449.0

In [76]:
slice_list = ["NC"]
North_Carolina = states_2019.iloc[states_2019.index.isin(slice_list)]
#North_Carolina

In [77]:
# Calculate the total North Carolina Item/Bottle Count.
North_Carolina["Item/Bottle Count"].sum()

18817.0

In [78]:
slice_list = ["ND"]
North_Dakota = states_2019.iloc[states_2019.index.isin(slice_list)]
#North_Dakota

In [79]:
# Calculate the total North Dakota Item/Bottle Count.
North_Dakota["Item/Bottle Count"].sum()

1033.0

In [80]:
slice_list = ["OH"]
Ohio = states_2019.iloc[states_2019.index.isin(slice_list)]
#Ohio

In [81]:
# Calculate the total Ohio Item/Bottle Count.
Ohio["Item/Bottle Count"].sum()

22436.0

In [82]:
slice_list = ["OK"]
Oklahoma = states_2019.iloc[states_2019.index.isin(slice_list)]
#Oklahoma

In [83]:
# Calculate the total Oklahoma Item/Bottle Count.
Oklahoma["Item/Bottle Count"].sum()

1927.0

In [84]:
slice_list = ["OR"]
Oregon = states_2019.iloc[states_2019.index.isin(slice_list)]
#Oregon

In [85]:
# Calculate the total Oregon Item/Bottle Count.
Oregon["Item/Bottle Count"].sum()

6740.0

In [86]:
slice_list = ["PA"]
Pennsylvania = states_2019.iloc[states_2019.index.isin(slice_list)]
#Pennsylvania

In [87]:
# Calculate the total Pennsylvania Item/Bottle Count.
Pennsylvania["Item/Bottle Count"].sum()

58150.0

In [88]:
slice_list = ["RI"]
Rhode_Island = states_2019.iloc[states_2019.index.isin(slice_list)]
#Rhode_Island

In [89]:
# Calculate the total Rhode Island Item/Bottle Count.
Rhode_Island["Item/Bottle Count"].sum()

5216.0

In [90]:
slice_list = ["SC"]
South_Carolina = states_2019.iloc[states_2019.index.isin(slice_list)]
#South_Carolina

In [91]:
# Calculate the total Oregon Item/Bottle Count.
South_Carolina["Item/Bottle Count"].sum()

9457.0

In [92]:
slice_list = ["SD"]
South_Dakota = states_2019.iloc[states_2019.index.isin(slice_list)]
#South_Dakota

In [93]:
# Calculate the total South_Dakota Item/Bottle Count.
South_Dakota["Item/Bottle Count"].sum()

2545.0

In [94]:
slice_list = ["TN"]
Tennessee = states_2019.iloc[states_2019.index.isin(slice_list)]
#Tennessee

In [95]:
# Calculate the total Tennessee Item/Bottle Count.
Tennessee["Item/Bottle Count"].sum()

12090.0

In [96]:
slice_list = ["TX"]
Texas = states_2019.iloc[states_2019.index.isin(slice_list)]
#Texas

In [97]:
# Calculate the total Texas Item/Bottle Count.
Texas["Item/Bottle Count"].sum()

59999.0

In [98]:
#No orders from Utah. DTC shipping prohibited.
slice_list = ["UT"]
Utah = states_2019.iloc[states_2019.index.isin(slice_list)]
#Utah

In [99]:
# Calculate the total Utah Item/Bottle Count.
Utah["Item/Bottle Count"].sum()

0.0

In [100]:
slice_list = ["VT"]
Vermont = states_2019.iloc[states_2019.index.isin(slice_list)]
#Vermont

In [101]:
# Calculate the total Vermont Item/Bottle Count.
Vermont["Item/Bottle Count"].sum()

1604.0

In [102]:
slice_list = ["VA"]
Virginia = states_2019.iloc[states_2019.index.isin(slice_list)]
#Virginia

In [103]:
# Calculate the total Virginia Item/Bottle Count.
Virginia["Item/Bottle Count"].sum()

22536.0

In [104]:
slice_list = ["WA"]
Washington = states_2019.iloc[states_2019.index.isin(slice_list)]
#Washington

In [105]:
# Calculate the total Washington Item/Bottle Count.
Washington["Item/Bottle Count"].sum()

12800.0

In [106]:
slice_list = ["WV"]
West_Virginia = states_2019.iloc[states_2019.index.isin(slice_list)]
#West_Virginia

In [107]:
# Calculate the total West Virginia Item/Bottle Count.
West_Virginia["Item/Bottle Count"].sum()

1541.0

In [108]:
slice_list = ["WI"]
Wisconsin = states_2019.iloc[states_2019.index.isin(slice_list)]
#Wisconsin

In [109]:
# Calculate the total Wisconsin Item/Bottle Count.
Wisconsin["Item/Bottle Count"].sum()

10417.0

In [110]:
slice_list = ["WY"]
Wyoming = states_2019.iloc[states_2019.index.isin(slice_list)]
#Wyoming

In [111]:
# Calculate the total Wyoming Item/Bottle Count.
Wyoming["Item/Bottle Count"].sum()

1411.0

## Red Vs Blue

In [ ]:
#How do wine shipments compare between red states and blue states?
    #Create a dataframe with data from "Red" states
    #Create a dataframe with data from "Blue" states 
    #Generate summary statistics for each data frame
    #Clean summary statistics- format numbers, drop count row
    #Convert each summary stat list to a data frame
    #Merge the two summary statistic data frames to create a visual side-by-side comparison

In [112]:
#Create a df with only orders created in red states.
red_states_2019= states_2019[states_2019['Political Alignment'] == 'Red']
red_states_2019.head()

,Unnamed: 0,Order Number,Company Name,Ship Date,City,Created Date,Item/Bottle Count,Weight,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
State,,,,,,,,,,,,,
FL,1,1,Ecom3,11/15/19,CORAL GABLES,11/14/19,12.0,36.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
AR,10,10,Ecom3,11/14/19,LITTLE ROCK,11/13/19,6.0,18.0,"3,017,804",3/15/2020,3/27/2020,6/5/2020,Red
FL,11,11,Ecom3,11/13/19,NAPLES,11/12/19,6.0,18.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
AR,18,18,Ecom3,11/14/19,JONESBORO,11/13/19,6.0,18.0,"3,017,804",3/15/2020,3/27/2020,6/5/2020,Red
TN,21,21,Ecom3,11/15/19,NASHVILLE,11/14/19,12.0,36.0,"6,829,174",4/2/2020,4/14/2020,5/1/2020,Red

In [113]:
#Check that red_states_2019 is all "Red"
red_states_2019["Political Alignment"].unique()

array(['Red'], dtype=object)

In [114]:
new_red_states_2019 = red_states_2019.reset_index()
new_red_states_2019

,State,Unnamed: 0,Order Number,Company Name,Ship Date,City,Created Date,Item/Bottle Count,Weight,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,FL,1,1,Ecom3,11/15/19,CORAL GABLES,11/14/19,12.0,36.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
1,AR,10,10,Ecom3,11/14/19,LITTLE ROCK,11/13/19,6.0,18.0,"3,017,804",3/15/2020,3/27/2020,6/5/2020,Red
2,FL,11,11,Ecom3,11/13/19,NAPLES,11/12/19,6.0,18.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
3,AR,18,18,Ecom3,11/14/19,JONESBORO,11/13/19,6.0,18.0,"3,017,804",3/15/2020,3/27/2020,6/5/2020,Red
4,TN,21,21,Ecom3,11/15/19,NASHVILLE,11/14/19,12.0,36.0,"6,829,174",4/2/2020,4/14/2020,5/1/2020,Red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43940,FL,155162,155162,Ecom2,12/30/19,Miami Beach,12/29/19,2.0,6.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
43941,NC,155163,155163,Ecom2,12/30/19,Mooresville,12/29/19,2.0,6.0,"10,488,084",3/30/2020,4/29/2020,5/20/2020,Red
43942,FL,155164,155164,Ecom2,12/30/19,Jupiter,12/29/19,2.0,6.0,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
43943,TX,155165,155165,Ecom2,12/30/19,Houston,12/29/19,2.0,6.0,"28,995,881",3/31/2020,5/4/2020,5/1/2020,Red
43944,TX,155166,155166,Ecom2,12/30/19,Fort Worth,12/29/19,2.0,6.0,"28,995,881",3/31/2020,5/4/2020,5/1/2020,Red

In [115]:
#Generate summary statistics for red_states_2019
red_summary_statistics_2019 = red_states_2019.describe()
red_summary_statistics_2019

          Unnamed: 0   Order Number  Item/Bottle Count        Weight
count   43945.000000   43945.000000       43945.000000  43945.000000
mean    74502.086290   74502.086290           5.520810     16.652133
std     43431.202781   43431.202781           2.960282      8.869011
min         1.000000       1.000000           1.000000      1.000000
25%     37069.000000   37069.000000           3.000000      9.000000
50%     75679.000000   75679.000000           6.000000     18.000000
75%    109917.000000  109917.000000           6.000000     18.000000
max    155166.000000  155166.000000          14.000000     42.000000

In [116]:
# Calculate the total 2019 Item/Bottle Count for Red States.
total_red_count_2019 = red_states_2019["Item/Bottle Count"].sum()
total_red_count_2019

242612.0

In [117]:
new_red_states_2019.State.unique()

array(['FL', 'AR', 'TN', 'NC', 'MO', 'OH', 'TX', 'WV', 'SC', 'IN', 'LA',
       'KS', 'MT', 'IA', 'NE', 'ID', 'WY', 'SD', 'ND', 'AK', 'OK', 'AL',
       'KY'], dtype=object)

In [ ]:

              'Mississippi',

In [118]:
# Adding a list of values with keys to create a new DataFrame for Red states only.
R = {'Red State': ['Alabama', 'Alaska', 'Arkansas', 'Florida', 'Idaho', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 
               'Louisiana', 'Missouri', 'Montana', 'Nebraska', 'North Carolina', 'North Dakota',
               'Ohio', 'Oklahoma', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'West Virginia', 'Wyoming',  
                ],
     'Total Item/Bottle Count': [Alabama["Item/Bottle Count"].sum(), 
            Alaska["Item/Bottle Count"].sum(),  
            Arkansas["Item/Bottle Count"].sum(), 
            Florida["Item/Bottle Count"].sum(),
            Idaho["Item/Bottle Count"].sum(),
            Indiana["Item/Bottle Count"].sum(),
            Iowa["Item/Bottle Count"].sum(),
            Kansas["Item/Bottle Count"].sum(),
            Kentucky["Item/Bottle Count"].sum(),
            Louisiana["Item/Bottle Count"].sum(),
            Missouri["Item/Bottle Count"].sum(),
            Montana["Item/Bottle Count"].sum(),
            Nebraska["Item/Bottle Count"].sum(),
            North_Carolina["Item/Bottle Count"].sum(),
            North_Dakota["Item/Bottle Count"].sum(),
            Ohio["Item/Bottle Count"].sum(),
            Oklahoma["Item/Bottle Count"].sum(),
            South_Carolina["Item/Bottle Count"].sum(),
            South_Dakota["Item/Bottle Count"].sum(),
            Tennessee["Item/Bottle Count"].sum(),
            Texas["Item/Bottle Count"].sum(),
            West_Virginia["Item/Bottle Count"].sum(),
            Wyoming["Item/Bottle Count"].sum()]}

In [119]:
total_bottle_count_by_red_state = pd.DataFrame.from_dict(data=R)
total_bottle_count_by_red_state

         Red State  Total Item/Bottle Count
0          Alabama                   1751.0
1           Alaska                   1665.0
2         Arkansas                   5111.0
3          Florida                  55780.0
4            Idaho                   2456.0
5          Indiana                  10996.0
6             Iowa                   3605.0
7           Kansas                   5949.0
8         Kentucky                     52.0
9        Louisiana                   9000.0
10        Missouri                  10167.0
11         Montana                   1868.0
12        Nebraska                   2956.0
13  North Carolina                  18817.0
14    North Dakota                   1033.0
15            Ohio                  22436.0
16        Oklahoma                   1927.0
17  South Carolina                   9457.0
18    South Dakota                   2545.0
19       Tennessee                  12090.0
20           Texas                  59999.0
21   West Virginia                   1541.0
22         Wyoming                   1411.0

In [120]:
#Print the highest bottle count by red state
print(total_bottle_count_by_red_state[total_bottle_count_by_red_state["Total Item/Bottle Count"] == 
                                  total_bottle_count_by_red_state["Total Item/Bottle Count"].max()])

   Red State  Total Item/Bottle Count
20     Texas                  59999.0

In [121]:
#Print the lowest bottle count by red state
print(total_bottle_count_by_red_state[total_bottle_count_by_red_state["Total Item/Bottle Count"] == 
                                  total_bottle_count_by_red_state["Total Item/Bottle Count"].min()])

  Red State  Total Item/Bottle Count
8  Kentucky                     52.0

In [122]:
#Export total_bottle_count_by_red_state to .csv
total_bottle_count_by_red_state.to_csv('Resources/2019_total_bottle_count_by_red_state.csv')

In [123]:
#Create a df with only orders created in blue states.
blue_states_2019= states_2019[states_2019['Political Alignment'] == 'Blue']
blue_states_2019.head()

,Unnamed: 0,Order Number,Company Name,Ship Date,City,Created Date,Item/Bottle Count,Weight,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
State,,,,,,,,,,,,,
PA,0,0,Ecom3,11/19/19,STEELTON,11/18/19,6.0,18.0,"12,801,989",3/23/2020,4/30/2020,5/15/2020,Blue
IL,2,2,Ecom3,11/14/19,CHICAGO,11/13/19,6.0,18.0,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
NJ,3,3,Ecom3,11/15/19,Rumson,11/14/19,12.0,36.0,"8,882,190",3/21/2020,1/1/1111,5/12/2020,Blue
MD,4,4,Ecom3,11/14/19,PASADENA,11/13/19,6.0,18.0,"6,045,680",3/12/2020,3/27/2020,5/13/2020,Blue
NY,5,5,Ecom3,11/14/19,NEW YORK,11/13/19,6.0,18.0,"19,453,561",3/22/2020,4/6/2020,6/8/2020,Blue

In [124]:
#Check that blue_states_2019 is all "Blue"
blue_states_2019["Political Alignment"].unique()

array(['Blue'], dtype=object)

In [126]:
new_blue_states_2019 = blue_states_2019.reset_index()
new_blue_states_2019.head()

,State,Unnamed: 0,Order Number,Company Name,Ship Date,City,Created Date,Item/Bottle Count,Weight,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,PA,0,0,Ecom3,11/19/19,STEELTON,11/18/19,6.0,18.0,"12,801,989",3/23/2020,4/30/2020,5/15/2020,Blue
1,IL,2,2,Ecom3,11/14/19,CHICAGO,11/13/19,6.0,18.0,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
2,NJ,3,3,Ecom3,11/15/19,Rumson,11/14/19,12.0,36.0,"8,882,190",3/21/2020,1/1/1111,5/12/2020,Blue
3,MD,4,4,Ecom3,11/14/19,PASADENA,11/13/19,6.0,18.0,"6,045,680",3/12/2020,3/27/2020,5/13/2020,Blue
4,NY,5,5,Ecom3,11/14/19,NEW YORK,11/13/19,6.0,18.0,"19,453,561",3/22/2020,4/6/2020,6/8/2020,Blue

In [127]:
new_blue_states_2019.State.unique()

array(['PA', 'IL', 'NJ', 'MD', 'NY', 'MI', 'VA', 'NH', 'CT', 'MA', 'WI',
       'MN', 'CA', 'VT', 'WA', 'GA', 'OR', 'AZ', 'NV', 'CO', 'NM', 'ME',
       'DC', 'HI', 'RI', 'DE'], dtype=object)

In [132]:
# Adding a list of values with keys to create a new DataFrame for Blue states only.
B = {'Blue State': ['Arizona', 'California', 'Colordao', 'Connecticut', 'District of Columbia', 'Delaware', 'Georgia',
               'Hawaii', 'Illinois', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Nevada',
               'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'Oregon', 'Pennsylvania', 'Rhode Island',
               'Vermont', 'Virginia', 'Washington',  'Wisconsin',
              ],
       'Total Item/Bottle Count': [Arizona["Item/Bottle Count"].sum(),    
            California["Item/Bottle Count"].sum(),
            Colorado["Item/Bottle Count"].sum(),
            Connecticut["Item/Bottle Count"].sum(),
            DC["Item/Bottle Count"].sum(),
            Delaware["Item/Bottle Count"].sum(),
            Georgia["Item/Bottle Count"].sum(),
            Hawaii["Item/Bottle Count"].sum(),
            Illinois["Item/Bottle Count"].sum(),
            Maine["Item/Bottle Count"].sum(),
            Maryland["Item/Bottle Count"].sum(),
            Massachusetts["Item/Bottle Count"].sum(),
            Michigan["Item/Bottle Count"].sum(),
            Minnesota["Item/Bottle Count"].sum(),
            Nevada["Item/Bottle Count"].sum(),
            New_Hampshire["Item/Bottle Count"].sum(),
            New_Jersey["Item/Bottle Count"].sum(),
            New_Mexico["Item/Bottle Count"].sum(),
            New_York["Item/Bottle Count"].sum(),
            Oregon["Item/Bottle Count"].sum(),
            Pennsylvania["Item/Bottle Count"].sum(),
            Rhode_Island["Item/Bottle Count"].sum(),
            Vermont["Item/Bottle Count"].sum(),
            Virginia["Item/Bottle Count"].sum(),
            Washington["Item/Bottle Count"].sum(),
            Wisconsin["Item/Bottle Count"].sum()]}

In [133]:
total_bottle_count_by_blue_state = pd.DataFrame.from_dict(data=B)
total_bottle_count_by_blue_state

              Blue State  Total Item/Bottle Count
0                Arizona                  12787.0
1             California                 141262.0
2               Colordao                  20038.0
3            Connecticut                  14319.0
4   District of Columbia                   5585.0
5               Delaware                    644.0
6                Georgia                  22353.0
7                 Hawaii                   5517.0
8               Illinois                  47148.0
9                  Maine                   2154.0
10              Maryland                  15462.0
11         Massachusetts                  32779.0
12              Michigan                  26403.0
13             Minnesota                  10094.0
14                Nevada                   5816.0
15         New Hampshire                   4017.0
16            New Jersey                  41505.0
17            New Mexico                   3002.0
18              New York                 190449.0
19                Oregon                   6740.0
20          Pennsylvania                  58150.0
21          Rhode Island                   5216.0
22               Vermont                   1604.0
23              Virginia                  22536.0
24            Washington                  12800.0
25             Wisconsin                  10417.0

In [134]:
#Generate summary statistics for blue_states_2020
blue_summary_statistics_2019 = blue_states_2019.describe()
blue_summary_statistics_2019

          Unnamed: 0   Order Number  Item/Bottle Count         Weight
count  111222.000000  111222.000000      111222.000000  111222.000000
mean    78800.301910   78800.301910           6.462723      19.451395
std     45262.211616   45262.211616          90.911311     272.964328
min         0.000000       0.000000           1.000000       1.000000
25%     39458.500000   39458.500000           3.000000       9.000000
50%     78392.500000   78392.500000           6.000000      18.000000
75%    118913.750000  118913.750000           6.000000      18.000000
max    155161.000000  155161.000000       13596.000000   40788.000000

In [135]:
# Calculate the total 2019 Item/Bottle Count for Blue States.
total_blue_count_2019 = blue_states_2019["Item/Bottle Count"].sum()
total_blue_count_2019

718797.0

In [136]:
#Print the highest bottle count by blue state
print(total_bottle_count_by_blue_state[total_bottle_count_by_blue_state["Total Item/Bottle Count"] == 
                                  total_bottle_count_by_blue_state["Total Item/Bottle Count"].max()])

   Blue State  Total Item/Bottle Count
18   New York                 190449.0

In [137]:
#Print the lowest bottle count by blue state
print(total_bottle_count_by_blue_state[total_bottle_count_by_blue_state["Total Item/Bottle Count"] == 
                                  total_bottle_count_by_blue_state["Total Item/Bottle Count"].min()])

  Blue State  Total Item/Bottle Count
5   Delaware                    644.0

In [138]:
#Export total_bottle_count_by_blue_state to .csv
total_bottle_count_by_blue_state.to_csv('Resources/2019_total_bottle_count_by_blue_state.csv')

In [139]:
#Create a joined df with all of red states and all of blue states.
joined_blueandred = total_bottle_count_by_blue_state.join(total_bottle_count_by_red_state, 
                                                          lsuffix='_Blue', rsuffix='_Red')
joined_blueandred

,Blue State,Total Item/Bottle Count_Blue,Red State,Total Item/Bottle Count_Red
0,Arizona,12787.0,Alabama,1751.0
1,California,141262.0,Alaska,1665.0
2,Colordao,20038.0,Arkansas,5111.0
3,Connecticut,14319.0,Florida,55780.0
4,District of Columbia,5585.0,Idaho,2456.0
5,Delaware,644.0,Indiana,10996.0
6,Georgia,22353.0,Iowa,3605.0
7,Hawaii,5517.0,Kansas,5949.0
8,Illinois,47148.0,Kentucky,52.0
9,Maine,2154.0,Louisiana,9000.0
10,Maryland,15462.0,Missouri,10167.0
11,Massachusetts,32779.0,Montana,1868.0
12,Michigan,26403.0,Nebraska,2956.0
13,Minnesota,10094.0,North Carolina,18817.0
14,Nevada,5816.0,North Dakota,1033.0
15,New Hampshire,4017.0,Ohio,22436.0
16,New Jersey,41505.0,Oklahoma,1927.0
17,New Mexico,3002.0,South Carolina,9457.0
18,New York,190449.0,South Dakota,2545.0
19,Oregon,6740.0,Tennessee,12090.0
20,Pennsylvania,58150.0,Texas,59999.0
21,Rhode Island,5216.0,West Virginia,1541.0
22,Vermont,1604.0,Wyoming,1411.0
23,Virginia,22536.0,NaN,NaN
24,Washington,12800.0,NaN,NaN
25,Wisconsin,10417.0,NaN,NaN

In [140]:
#Export total_bottle_count_by_blue_state to .csv
joined_blueandred.to_csv('Resources/2019_joined_blueandred.csv')

## Total Wine Sales by State

In [ ]:
# Which state consumed the most wine?

In [141]:
# Adding a list of values with keys to create a new DataFrame.
S = {'State': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colordao', 'Connecticut', 
               'District of Columbia', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois',
               'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
               'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
              'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
              'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 
              'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
     'Total Item/Bottle Count': [Alabama["Item/Bottle Count"].sum(), 
            Alaska["Item/Bottle Count"].sum(), 
            Arizona["Item/Bottle Count"].sum(), 
            Arkansas["Item/Bottle Count"].sum(), 
            California["Item/Bottle Count"].sum(),
            Colorado["Item/Bottle Count"].sum(),
            Connecticut["Item/Bottle Count"].sum(),
            DC["Item/Bottle Count"].sum(),
            Delaware["Item/Bottle Count"].sum(),
            Florida["Item/Bottle Count"].sum(),
            Georgia["Item/Bottle Count"].sum(),
            Hawaii["Item/Bottle Count"].sum(),
            Idaho["Item/Bottle Count"].sum(),
            Illinois["Item/Bottle Count"].sum(),
            Indiana["Item/Bottle Count"].sum(),
            Iowa["Item/Bottle Count"].sum(),
            Kansas["Item/Bottle Count"].sum(),
            Kentucky["Item/Bottle Count"].sum(),
            Louisiana["Item/Bottle Count"].sum(),
            Maine["Item/Bottle Count"].sum(),
            Maryland["Item/Bottle Count"].sum(),
            Massachusetts["Item/Bottle Count"].sum(),
            Michigan["Item/Bottle Count"].sum(),
            Minnesota["Item/Bottle Count"].sum(),
            Mississippi["Item/Bottle Count"].sum(),
            Missouri["Item/Bottle Count"].sum(),
            Montana["Item/Bottle Count"].sum(),
            Nebraska["Item/Bottle Count"].sum(),
            Nevada["Item/Bottle Count"].sum(),
            New_Hampshire["Item/Bottle Count"].sum(),
            New_Jersey["Item/Bottle Count"].sum(),
            New_Mexico["Item/Bottle Count"].sum(),
            New_York["Item/Bottle Count"].sum(),
            North_Carolina["Item/Bottle Count"].sum(),
            North_Dakota["Item/Bottle Count"].sum(),
            Ohio["Item/Bottle Count"].sum(),
            Oklahoma["Item/Bottle Count"].sum(),
            Oregon["Item/Bottle Count"].sum(),
            Pennsylvania["Item/Bottle Count"].sum(),
            Rhode_Island["Item/Bottle Count"].sum(),
            South_Carolina["Item/Bottle Count"].sum(),
            South_Dakota["Item/Bottle Count"].sum(),
            Tennessee["Item/Bottle Count"].sum(),
            Texas["Item/Bottle Count"].sum(),
            Utah["Item/Bottle Count"].sum(),
            Vermont["Item/Bottle Count"].sum(),
            Virginia["Item/Bottle Count"].sum(),
            Washington["Item/Bottle Count"].sum(),
            West_Virginia["Item/Bottle Count"].sum(),
            Wisconsin["Item/Bottle Count"].sum(),
            Wyoming["Item/Bottle Count"].sum()]}

In [142]:
total_bottle_count_by_state = pd.DataFrame.from_dict(data=S)
#total_bottle_count_by_state

In [143]:
#Print the highest bottle count by state
print(total_bottle_count_by_state[total_bottle_count_by_state["Total Item/Bottle Count"] == 
                                  total_bottle_count_by_state["Total Item/Bottle Count"].max()])

       State  Total Item/Bottle Count
32  New York                 190449.0

In [144]:
#Print the lowest bottle count by state
print(total_bottle_count_by_state[total_bottle_count_by_state["Total Item/Bottle Count"] == 
                                  total_bottle_count_by_state["Total Item/Bottle Count"].min()])

          State  Total Item/Bottle Count
24  Mississippi                      0.0
44         Utah                      0.0

In [145]:
#Export total_bottle_count_by_state to .csv
total_bottle_count_by_state.to_csv('Resources/2019_total_bottle_count_by_state.csv')

## Working syntax

In [ ]:
# Set the x-axis to a list of strings for each month.
x_axis = Wyoming["Created Date"]

# Set the y-axis to a list of floats as the Item/Bottle Count for each month.
y_axis = Wyoming["Item/Bottle Count"]

In [ ]:
#This chart is ugly. Need to group the created dates by month and I think that will help it be more visually appealing.
# Create the plot.
plt.plot(x_axis, y_axis, marker="*", color="blue", linewidth=2, label='Wyoming')
# Create labels for the x and y axes.
plt.xlabel("Created Date")
plt.ylabel("Item/Bottle Count")
# Set the y limit between 0 and 5000.
plt.ylim(0, 20)
# Create a title.
plt.title("Wyoming Bottle Count by Created Date")
# Add a grid.
plt.grid()
# Add the legend.
plt.legend()