In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2020_03 = "../2020_Data/2020.03copy.csv"

In [3]:
# Read the March CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_03 = pd.read_csv(load_2020_03)
df_2020_03.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,In Transit,3/4/20,Frisco,TX,75036,UPS,3/4/20,21.5,6
1,Ecom3,Delivered,3/2/20,Montclair,NJ,7043,UPS,2/29/20,21.5,6
2,Ecom3,Delivered,3/3/20,SILVER SPRING,MD,20901-3101,FEH,3/1/20,41.0,12
3,Ecom3,Delivered,3/2/20,Montclair,NJ,7043,UPS,2/29/20,29.0,8
4,Ecom3,In Transit,3/3/20,Spring Lake,MI,49456,UPS,3/3/20,7.0,2

## Inspect the Data

In [4]:
#See five random rows of data
df_2020_03.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
4264,Ecom3,In Transit,3/17/20,OWINGS MILLS,MD,21117-4334,FEH,3/17/20,21.5,6
6417,Ecom1,Delivered,3/20/20,Spring Lake Heights,NJ,7762,FEH,3/19/20,10.5,3
9533,Ecom1,Delivered,3/27/20,Montpelier,VT,05602-4221,FEH,3/26/20,39.0,12
11142,Ecom3,In Transit,3/30/20,Commerce Township,MI,48382,UPS,3/29/20,21.5,6
7630,Ecom3,Delivered,3/26/20,Harpswell,ME,04079-2912,UPS,3/24/20,18.5,5

In [5]:
#See the last rows of data
df_2020_03.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
12330,Winery3,In Transit,3/27/20,Houston,TX,77099,UPS,3/27/20,18.5,5
12331,Winery3,In Transit,3/27/20,Cambridge,MA,2142,UPS,3/27/20,21.5,6
12332,Winery3,Delivered,3/31/20,Nine Mile Falls,WA,99026,UPS,3/31/20,21.5,6
12333,Winery3,Delivered,3/31/20,Cherry Hills Village,CO,80111,UPS,3/31/20,21.5,6
12334,Winery3,In Transit,3/31/20,Cherry Hills Village,CO,80111,UPS,3/31/20,41.0,12

In [6]:
df_2020_03.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [7]:
#Determine total rows for df_2020_03.
df_2020_03_rows = len(df_2020_03.axes[0])
df_2020_03_cols = len(df_2020_03.axes[1])
print("Number of Rows: ", df_2020_03_rows)
print("Number of Columns: ", df_2020_03_cols)

Number of Rows:  12335
Number of Columns:  10

In [8]:
# Determine if there are any missing values in df_2020_03.
df_2020_03.isnull().sum()

Company Name         0
Status               0
Ship Date            0
City                 0
State                0
Zip                  0
Shipping Service     0
Created Date         0
Weight               0
Item/Bottle Count    0
dtype: int64

In [9]:
# Determine data types for df_2020_03.
df_2020_03.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count     object
dtype: object

In [10]:
df_2020_03['Company Name'].value_counts()
#ECOM2 did not ship, instead they held orders in 2020.03.

Ecom3      8868
Ecom1      2788
Winery1     597
Winery3      52
Winery2      30
Name: Company Name, dtype: int64

In [11]:
df_2020_03['Ship Date'].value_counts()

3/30/20    1060
3/16/20     993
3/26/20     955
3/31/20     953
3/20/20     708
3/17/20     694
3/9/20      687
3/27/20     670
3/13/20     613
3/11/20     581
3/25/20     557
3/2/20      523
3/23/20     486
3/24/20     478
3/18/20     436
3/4/20      420
3/12/20     339
3/3/20      285
3/19/20     274
3/10/20     258
3/6/20      245
3/5/20      120
Name: Ship Date, dtype: int64

In [12]:
df_2020_03['Status'].value_counts()

Delivered            7089
In Transit           4527
Shipped               533
Carrier Exception     117
Delivery Attempt       69
Name: Status, dtype: int64

In [13]:
df_2020_03['City'].value_counts()

New York          311
Chicago           177
Brooklyn          128
Houston           118
Washington         95
                 ...
Paicines            1
Seward              1
OLD GREENWICH       1
East Rochester      1
GIBSONIA            1
Name: City, Length: 3771, dtype: int64

In [14]:
df_2020_03['State'].value_counts()

CA    1466
NY    1283
FL    1030
PA     883
TX     836
NJ     604
IL     569
MA     421
OH     385
VA     385
MI     358
GA     349
CO     300
NC     298
MD     290
AZ     231
CT     212
TN     209
WA     205
IN     177
MN     168
SC     166
MO     157
OR     132
WI     126
DC     111
LA     110
KS      82
HI      82
NV      79
RI      68
AR      66
NH      64
IA      64
NE      53
NM      52
ME      41
ID      36
WV      31
VT      29
MT      25
AL      19
OK      18
ND      18
SD      17
WY      16
AK      12
DE       2
Name: State, dtype: int64

In [15]:
df_2020_03['Zip'].value_counts()

10019    28
19103    27
94558    27
10022    24
10024    21
         ..
85284     1
48174     1
90004     1
29617     1
99026     1
Name: Zip, Length: 5339, dtype: int64

In [16]:
df_2020_03['Shipping Service'].value_counts()

UPS     7731
FEH     3519
FXG      884
FEX      124
LSO1      26
WCU       25
AZS        8
UP2        7
UP3        3
GSC        3
UP1        2
SELF       2
WCP        1
Name: Shipping Service, dtype: int64

In [17]:
df_2020_03['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

3/25/20    837
3/10/20    810
3/17/20    719
3/26/20    667
3/23/20    640
3/16/20    591
3/27/20    585
3/13/20    514
3/20/20    498
3/18/20    484
3/30/20    413
3/24/20    392
3/28/20    391
3/2/20     384
3/11/20    367
3/3/20     354
3/19/20    347
3/9/20     335
3/6/20     293
3/15/20    284
3/14/20    275
3/22/20    274
3/12/20    213
3/21/20    210
3/8/20     205
3/4/20     202
2/29/20    194
3/7/20     175
3/5/20     164
3/29/20    145
3/1/20     104
2/28/20     94
3/31/20     77
2/27/20     58
2/24/20     21
2/26/20     13
2/25/20      4
2/7/20       1
2/5/20       1
Name: Created Date, dtype: int64

In [18]:
df_2020_03['Weight'].value_counts()

21.50      5144
10.50      1478
41.00      1294
14.00       847
39.00       826
20.20       753
7.00        457
9.90        437
29.00       238
18.50       174
3.35        130
26.00       102
35.00       101
4.00        100
32.00        98
10.00        25
27.00        23
38.00        22
30.00        16
17.20        13
24.00        13
33.00         8
36.00         8
19.00         6
19.50         5
13.50         4
2057.00       2
29.20         1
38.20         1
869.00        1
1.85          1
42.00         1
45.00         1
20.00         1
17.00         1
20.50         1
39.50         1
23.20         1
Name: Weight, dtype: int64

In [19]:
df_2020_03['Item/Bottle Count'].value_counts()

6      5909
12     2122
3      1940
4       847
2       442
8       261
1       251
5       187
7       116
9       115
10      109
11       30
672       2
,         1
14        1
13        1
276       1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [20]:
#Change ["Item/Bottle Count"] to float64 type in df_2020_03.
#have to add errors=coerce for it to change the string to float and skip the error cells.
df_2020_03["Item/Bottle Count"]=pd.to_numeric(df_2020_03["Item/Bottle Count"], errors='coerce')

In [21]:
#Had to change the string to a float64 in the previous cell which threw an error, added errors= coerce which made it change the error cells to Nan values. Now I will change the Nan values to 0.
df_2020_03=df_2020_03.replace(np.nan,0,regex=True)

In [22]:
#Remove "Status" column from df_2020_03.
df_2020_03 = df_2020_03.drop('Status', axis=1)
df_2020_03

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,3/4/20,Frisco,TX,75036,UPS,3/4/20,21.5,6.0
1,Ecom3,3/2/20,Montclair,NJ,7043,UPS,2/29/20,21.5,6.0
2,Ecom3,3/3/20,SILVER SPRING,MD,20901-3101,FEH,3/1/20,41.0,12.0
3,Ecom3,3/2/20,Montclair,NJ,7043,UPS,2/29/20,29.0,8.0
4,Ecom3,3/3/20,Spring Lake,MI,49456,UPS,3/3/20,7.0,2.0
...,...,...,...,...,...,...,...,...,...
12330,Winery3,3/27/20,Houston,TX,77099,UPS,3/27/20,18.5,5.0
12331,Winery3,3/27/20,Cambridge,MA,2142,UPS,3/27/20,21.5,6.0
12332,Winery3,3/31/20,Nine Mile Falls,WA,99026,UPS,3/31/20,21.5,6.0
12333,Winery3,3/31/20,Cherry Hills Village,CO,80111,UPS,3/31/20,21.5,6.0
12334,Winery3,3/31/20,Cherry Hills Village,CO,80111,UPS,3/31/20,41.0,12.0

In [23]:
# Drop the NaNs for df_2020_03.
df_2020_03 = df_2020_03.dropna()

## Confirm Changes

In [24]:
#See five random rows of data
df_2020_03.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
3691,Ecom1,3/11/20,Essex Fells,NJ,7021,FEH,3/11/20,39.0,12.0
9442,Ecom3,3/27/20,Atlanta,GA,30327-2719,UPS,3/24/20,41.0,12.0
4281,Ecom3,3/19/20,Austin,TX,78704,UPS,3/17/20,41.0,12.0
2774,Ecom3,3/13/20,Herndon,VA,20171,UPS,3/13/20,29.0,8.0
259,Ecom3,3/2/20,New Hope,PA,18938,UPS,3/2/20,21.5,6.0

In [25]:
#Determine total rows for df_2020_03.
df_2020_03_rows = len(df_2020_03.axes[0])
df_2020_03_cols = len(df_2020_03.axes[1])
print("Number of Rows: ", df_2020_03_rows)
print("Number of Columns: ", df_2020_03_cols)

Number of Rows:  12335
Number of Columns:  9

## Export Cleaned DF to .CSV

In [26]:
#Export df_2020_03 to .csv
df_2020_03.to_csv('../cleaned_months_2020/Clean_2020_03.csv')