In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [4]:
# Files to load
load_2020_06 = "../../2020_Data/2020.06.csv"

In [5]:
# Read the June CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_06 = pd.read_csv(load_2020_06)
df_2020_06.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,Delivered,6/2/20,Denver,CO,80220,FEH,6/1/20,20.2,6
1,Ecom1,Delivered,6/2/20,Baltimore,MD,21214,FEH,5/22/20,39.0,12
2,Ecom1,Delivered,6/2/20,Baltimore,MD,21214,FEH,5/22/20,20.2,6
3,Ecom1,Delivered,6/3/20,Temecula,CA,92591,FEH,5/27/20,10.5,3
4,Ecom1,Delivered,6/3/20,Highlands Ranch,CO,80130,FEH,5/27/20,10.5,3

## Inspect the Data

In [6]:
#See five random rows of data
df_2020_06.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
11034,Ecom2,Shipped,6/19/20,Cambridge,MD,21613,FXG,6/18/20,7.0,1
596,Winery1,Shipped,6/5/20,Ila,GA,30647,UPS,6/2/20,39.0,12
1757,Ecom3,Delivered,6/1/20,Atlanta,GA,30306,UPS,6/1/20,41.0,12
18687,Ecom3,Delivered,7/2/20,Boston,MA,2131,FEH,7/1/20,21.5,6
5767,Ecom1,Shipped,6/15/20,Monrovia,MD,21770,FEH,6/14/20,10.5,3

In [7]:
#See the last rows of data
df_2020_06.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
19384,Winery1,Shipped,7/2/20,Scottsdale,AZ,85255,AZS,6/30/20,4.0,1
19385,Winery2,Shipped,7/2/20,Napa,CA,94558,WCU,6/22/20,39.0,12
19386,Winery2,Shipped,7/2/20,Napa,CA,94558,WCU,6/22/20,39.0,12
19387,Winery2,Shipped,7/2/20,Napa,CA,94558,WCU,6/22/20,39.0,12
19388,Ecom1,In Transit,7/2/20,Ponca City,OK,74604,LSO1,7/1/20,10.5,3

In [8]:
df_2020_06.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [9]:
#Determine total rows for df_2020_06.
df_2020_06_rows = len(df_2020_06.axes[0])
df_2020_06_cols = len(df_2020_06.axes[1])
print("Number of Rows: ", df_2020_06_rows)
print("Number of Columns: ", df_2020_06_cols)

Number of Rows:  19389
Number of Columns:  10

In [10]:
# Determine if there are any missing values in df_2020_06.
df_2020_06.isnull().sum()

Company Name         0
Status               0
Ship Date            0
City                 0
State                0
Zip                  0
Shipping Service     0
Created Date         0
Weight               0
Item/Bottle Count    0
dtype: int64

In [11]:
# Determine data types for df_2020_06.
df_2020_06.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count      int64
dtype: object

In [12]:
df_2020_06['Company Name'].value_counts()

Ecom3      8090
Ecom2      7106
Ecom1      3772
Winery1     386
Winery2      35
Name: Company Name, dtype: int64

In [13]:
df_2020_06['Ship Date'].value_counts()

6/19/20    7159
6/15/20    1463
6/1/20     1245
6/22/20    1156
6/10/20    1141
6/8/20     1082
6/23/20     710
6/17/20     676
6/3/20      572
6/2/20      559
7/1/20      554
7/2/20      514
6/24/20     459
6/18/20     365
6/16/20     335
6/4/20      251
6/11/20     201
6/5/20      196
6/26/20     188
6/12/20     151
6/9/20      150
6/13/20     131
6/25/20     131
Name: Ship Date, dtype: int64

In [14]:
df_2020_06['Status'].value_counts()

Shipped              10015
Delivered             7723
In Transit            1538
Carrier Exception       94
Delivery Attempt        19
Name: Status, dtype: int64

In [15]:
df_2020_06['City'].value_counts()

New York         305
Chicago          253
Brooklyn         170
Philadelphia     160
Washington       142
                ...
Mount Lebanon      1
Wrentham           1
CULVER CITY        1
Sunriver           1
TROY               1
Name: City, Length: 5073, dtype: int64

In [14]:
df_2020_01['State'].value_counts()

NY    2046
CA    1479
FL    1363
PA    1053
TX    1039
NJ     941
IL     800
MA     644
OH     632
VA     630
GA     549
MD     475
NC     449
CO     423
AZ     350
CT     344
WA     280
IN     270
TN     262
SC     250
MN     247
MO     221
WI     199
MI     186
LA     167
OR     166
DC     127
KS     127
NH     112
RI      94
NE      93
IA      92
NV      85
OK      84
HI      76
NM      69
AR      68
AL      61
ME      58
ID      52
MT      49
DE      46
WV      43
VT      41
ND      35
WY      30
SD      27
AK      21
Name: State, dtype: int64

In [16]:
df_2020_06['Zip'].value_counts()

33149    34
10019    31
60618    29
60657    28
19103    24
         ..
12033     1
48380     1
5762      1
33527     1
22749     1
Name: Zip, Length: 7214, dtype: int64

In [17]:
df_2020_06['Shipping Service'].value_counts()

FEH     9136
UPS     8843
FXG     1048
FEX      267
UP2       25
LSO1      23
FXO       22
AZS       10
UP3        7
WCU        4
UP1        2
GSC        1
UPS7       1
Name: Shipping Service, dtype: int64

In [18]:
df_2020_06['Created Date'].value_counts()

6/18/20    4606
6/19/20    3011
6/4/20      668
6/3/20      651
6/1/20      564
6/5/20      562
6/17/20     559
6/7/20      538
6/12/20     525
6/2/20      507
6/16/20     507
6/21/20     474
6/22/20     458
7/1/20      458
6/24/20     384
6/14/20     382
5/31/20     373
6/11/20     372
6/9/20      340
6/15/20     336
5/30/20     329
6/10/20     323
6/23/20     318
6/30/20     317
5/29/20     296
6/20/20     241
7/2/20      221
6/13/20     218
6/6/20      217
6/8/20      207
6/25/20     103
6/26/20      82
5/28/20      41
5/26/20      40
5/27/20      35
6/28/20      23
5/22/20      23
6/29/20      17
5/25/20      14
5/12/20       9
5/23/20       6
5/16/20       5
4/22/20       4
5/20/20       4
5/17/20       3
5/13/20       3
5/24/20       3
5/9/20        2
5/21/20       2
4/15/20       2
5/7/20        1
3/31/20       1
12/3/19       1
5/18/20       1
5/19/20       1
5/15/20       1
Name: Created Date, dtype: int64

In [19]:
df_2020_06['Weight'].value_counts()

7.00     7427
21.50    3856
41.00    1356
10.50    1266
20.20    1195
14.00    1034
39.00     929
9.90      480
18.50     338
29.00     268
26.00     162
10.00     133
35.00     115
27.00     111
32.00     106
3.35       93
19.20      84
4.00       47
30.00      43
24.00      42
13.50      37
38.00      36
19.00      35
20.50      28
9.50       25
37.00      21
17.20      16
11.50      15
20.00      13
19.50      11
33.00       9
36.00       8
18.20       6
13.00       5
23.00       4
28.00       3
13.20       3
31.20       3
6.00        2
2.00        2
34.00       2
22.20       2
40.00       2
14.20       1
22.00       1
42.00       1
17.00       1
5.00        1
7.50        1
29.20       1
2.35        1
12.20       1
31.00       1
16.20       1
1.85        1
3.00        1
17.50       1
8.20        1
21.00       1
Name: Weight, dtype: int64

In [20]:
df_2020_06['Item/Bottle Count'].value_counts()

1     7284
6     5032
12    2290
3     1865
4     1194
5      357
8      344
2      339
7      325
9      150
10     125
11      33
14      23
13      17
24       3
16       3
15       3
17       2
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [21]:
#Change ["Item/Bottle Count"] to float64 type in df_2020_06.
df_2020_06["Item/Bottle Count"]=df_2020_06["Item/Bottle Count"].astype(float)
df_2020_06.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [ ]:
#Clean up dates in Created Date column.

In [21]:
#Remove "Status" column from df_2020_06.
df_2020_06 = df_2020_06.drop('Status', axis=1)
df_2020_06

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,1/2/20,Plantation,FL,33325,UPS,1/1/20,9.9,3.0
1,Ecom3,1/2/20,Lafayette,CA,94549,UPS,12/31/19,35.0,10.0
2,Ecom3,1/2/20,New York,NY,10022,FEH,1/1/20,29.0,8.0
3,Ecom3,1/3/20,New York,NY,10006,FEH,1/2/20,21.5,6.0
4,Ecom3,1/2/20,Walkersville,MD,21793,FXG,12/31/19,41.0,12.0
...,...,...,...,...,...,...,...,...,...
16950,Ecom1,1/27/20,Escondido,CA,92025,FEH,1/27/20,20.2,6.0
16951,Ecom1,1/30/20,NY,NY,10010,FXG,1/29/20,10.5,3.0
16952,Ecom1,1/27/20,Chicago,IL,60626,FEH,1/27/20,10.5,3.0
16953,Ecom1,1/28/20,OREGON,WI,53575,FEH,1/27/20,10.5,3.0
16954,Ecom1,1/27/20,Kirkwood,MO,63122,FEH,1/27/20,10.5,3.0

In [25]:
# Drop the NaNs for df_2020_06.
df_2020_06 = df_2020_06.dropna()

## Confirm Changes

In [26]:
#See five random rows of data
df_2020_06.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
1660,Ecom3,1/6/20,Fort Worth,TX,76102,UPS,1/4/20,21.5,6.0
3650,Ecom3,1/20/20,Thomaston,GA,30286,UPS,1/17/20,21.5,6.0
973,Ecom3,1/8/20,New York,NY,10036,FEH,1/3/20,14.0,4.0
16489,Ecom1,1/29/20,Belgrade,MT,59714,FEH,1/24/20,10.5,3.0
13696,Ecom3,1/27/20,New York,NY,10024,FEH,1/24/20,21.5,6.0

In [27]:
#Determine total rows for df_2020_06.
df_2020_06_rows = len(df_2020_06.axes[0])
df_2020_06_cols = len(df_2020_06.axes[1])
print("Number of Rows: ", df_2020_06_rows)
print("Number of Columns: ", df_2020_06_cols)

Number of Rows:  7680
Number of Columns:  9

## Export Cleaned df to .CSV

In [31]:
#Export df_2020_06 to .csv
df_2020_06.to_csv('../cleaned_months_2020/Clean_2020_06.csv')