In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [12]:
# Files to load
load_2020_01 = "../../2020_Data/2020.01copy.csv"

In [15]:
# Read the January CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_01 = pd.read_csv(load_2020_01, encoding ="utf8")
df_2020_01.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom3,In Transit,1/2/20,Plantation,FL,33325,UPS,1/1/20,9.9,3.0
1,Ecom3,Carrier Exception,1/2/20,Lafayette,CA,94549,UPS,12/31/19,35.0,10.0
2,Ecom3,Delivered,1/2/20,New York,NY,10022,FEH,1/1/20,29.0,8.0
3,Ecom3,Delivered,1/3/20,New York,NY,10006,FEH,1/2/20,21.5,6.0
4,Ecom3,In Transit,1/2/20,Walkersville,MD,21793,FXG,12/31/19,41.0,12.0

## Inspect the Data

In [16]:
#See five random rows of data
df_2020_01.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
11838,Ecom2,Manifest,1/23/20,New York,NY,10013,FEH,NaN,NaN,NaN
3669,Ecom3,Delivered,1/20/20,Tega Cay,SC,29708,UPS,1/18/20,3.35,1.0
16509,Ecom1,In Transit,1/30/20,Indianapolis,IN,46204,FXG,1/29/20,10.50,3.0
16595,Ecom1,In Transit,1/30/20,Granite Falls,NC,28630,FXG,1/28/20,39.00,12.0
13708,Ecom3,In Transit,1/31/20,Western Springs,IL,60558,UPS,1/29/20,9.90,3.0

In [17]:
#See the last rows of data
df_2020_01.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
16992,Winery3,NaN,43857,Jersey City,NJ,7302,UPS,NaN,NaN,NaN
16993,Winery3,NaN,43861,Corrales,NM,87048,UPS,NaN,NaN,NaN
16994,Winery3,NaN,43861,Scarborough,NY,10510,UPS,NaN,NaN,NaN
16995,Winery3,NaN,43861,Scarborough,NY,10510,UPS,NaN,NaN,NaN
16996,Winery3,NaN,43857,Napa,CA,94558,WCU,NaN,NaN,NaN

In [18]:
df_2020_01.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [19]:
#Determine total rows for df_2020_01.
df_2020_01_rows = len(df_2020_01.axes[0])
df_2020_01_cols = len(df_2020_01.axes[1])
print("Number of Rows: ", df_2020_01_rows)
print("Number of Columns: ", df_2020_01_cols)

Number of Rows:  16997
Number of Columns:  10

In [20]:
# Determine if there are any missing values in df_2020_01.
df_2020_01.isnull().sum()
#All of Winery3 has null values and will be deleted when Nan's get removed. Waiting to get updated data.

Company Name            0
Status                 42
Ship Date               0
City                    0
State                   0
Zip                     0
Shipping Service        0
Created Date         9317
Weight               9317
Item/Bottle Count    9317
dtype: int64

In [21]:
# Determine data types for df_2020_01.
df_2020_01.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [22]:
df_2020_01['Company Name'].value_counts()

Ecom2      9275
Ecom3      5210
Ecom1      2230
Winery1     203
Winery3      42
Winery2      37
Name: Company Name, dtype: int64

In [ ]:
df_2020_01['Ship Date'].value_counts()

In [ ]:
df_2020_01['Status'].value_counts()

In [ ]:
df_2020_01['City'].value_counts()

In [ ]:
df_2020_01['State'].value_counts()

In [ ]:
df_2020_01['Zip'].value_counts()

In [ ]:
df_2020_01['Shipping Service'].value_counts()

In [ ]:
df_2020_01['Created Date'].value_counts()
#Ok to have dates from other months- Sometimes people will create an order and hold onto it until an adult is present to sign for delivery.

In [ ]:
df_2020_01['Weight'].value_counts()

In [ ]:
df_2020_01['Item/Bottle Count'].value_counts()

## Clean the Data

In [ ]:
#Change dtypes if necessary

In [ ]:
#Remove "Status" column from df_2020_01.
df_2020_01 = df_2020_01.drop('Status', axis=1)
df_2020_01

In [ ]:
# Drop the NaNs for df_2020_01.
df_2020_01 = df_2020_01.dropna()

## Confirm Changes

In [ ]:
#See five random rows of data
df_2020_01.sample(n=5)

In [ ]:
#Determine total rows for df_2020_01.
df_2020_01_rows = len(df_2020_01.axes[0])
df_2020_01_cols = len(df_2020_01.axes[1])
print("Number of Rows: ", df_2020_01_rows)
print("Number of Columns: ", df_2020_01_cols)

In [ ]:
df_2020_01['Company Name'].value_counts()
#Missing all of Winery3 since Winery3 has a bunch of null values that were removed.

In [ ]:
df_2020_01.shape[0]

## Export Cleaned df to .CSV

In [ ]:
#Export df_2020_01 to .csv
df_2020_01.to_csv('../cleaned_months_2020/Clean_2020_01.csv')