In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2020_05 = "../../2020_Data/2020.05.csv"

In [3]:
# Read the May CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_05 = pd.read_csv(load_2020_05)
df_2020_05.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,Shipped,5/1/20,Edmond,OK,73034,LSO1,4/19/20,10.5,3
1,Ecom1,In Transit,5/1/20,Snohomish,WA,98296,FEH,4/22/20,20.2,6
2,Ecom1,In Transit,5/1/20,Denver,CO,80209,UPS,4/24/20,20.2,6
3,Ecom1,In Transit,5/1/20,San Diego,CA,92115,FXG,4/24/20,10.5,3
4,Ecom1,In Transit,5/1/20,Seattle,WA,98104,FEH,4/26/20,39.0,12

## Inspect the Data

In [4]:
#See five random rows of data
df_2020_05.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
31594,Ecom3,In Transit,5/29/20,Broomfield,CO,80023,UPS,5/28/20,7.0,2
8929,Ecom3,Shipped,5/15/20,Bishopville,MD,21813,FEH,5/15/20,41.0,12
14743,Ecom2,In Transit,5/21/20,Lawrence,KS,66049,FEH,5/19/20,7.0,1
20612,Ecom2,In Transit,5/21/20,New Rochelle,NY,10804,FEH,5/19/20,7.0,1
18977,Ecom2,In Transit,5/21/20,Port Washington,NY,11050,FEH,5/19/20,7.0,1

In [5]:
#See the last rows of data
df_2020_05.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
32226,Ecom3,Delivered,5/26/20,Morristown,NJ,7960,UPS,5/25/20,14.0,4
32227,Ecom3,Delivered,5/28/20,San Jose,CA,95120,UPS,5/25/20,26.0,7
32228,Ecom3,In Transit,5/30/20,Glenview,IL,60025,UPS,5/28/20,18.5,5
32229,Ecom3,In Transit,5/28/20,Atlanta,GA,30327,UPS,5/22/20,29.0,8
32230,Ecom3,In Transit,5/29/20,Atlanta,GA,30327,UPS,5/22/20,27.0,4

In [6]:
df_2020_05.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [7]:
#Determine total rows for df_2020_05.
df_2020_05_rows = len(df_2020_05.axes[0])
df_2020_05_cols = len(df_2020_05.axes[1])
print("Number of Rows: ", df_2020_05_rows)
print("Number of Columns: ", df_2020_05_cols)

Number of Rows:  32231
Number of Columns:  10

In [8]:
# Determine if there are any missing values in df_2020_05.
df_2020_05.isnull().sum()

Company Name         0
Status               0
Ship Date            0
City                 0
State                0
Zip                  0
Shipping Service     0
Created Date         0
Weight               0
Item/Bottle Count    0
dtype: int64

In [9]:
# Determine data types for df_2020_05.
df_2020_05.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count      int64
dtype: object

In [10]:
df_2020_05['Company Name'].value_counts()

Ecom3      15823
Ecom2      11335
Ecom1       4648
Winery1      364
Winery2       61
Name: Company Name, dtype: int64

In [11]:
df_2020_05['Ship Date'].value_counts()

5/21/20    12132
5/18/20     1647
5/11/20     1529
5/13/20     1313
5/26/20     1155
5/22/20     1149
5/29/20     1084
5/4/20      1072
5/20/20     1062
5/27/20      943
5/8/20       942
5/28/20      927
5/5/20       923
5/12/20      879
5/7/20       866
5/15/20      784
5/19/20      737
5/6/20       729
5/14/20      700
5/23/20      662
5/1/20       526
5/30/20      263
5/10/20      207
Name: Ship Date, dtype: int64

In [12]:
df_2020_05['Status'].value_counts()

In Transit           15005
Delivered            13705
Shipped               3098
Carrier Exception      329
Delivery Attempt        94
Name: Status, dtype: int64

In [13]:
df_2020_05['City'].value_counts()

New York          510
Chicago           405
Philadelphia      253
Brooklyn          228
Washington        218
                 ...
Towaco              1
Dunlap              1
CORAL GABLES        1
Kingfield           1
beverly shores      1
Name: City, Length: 6471, dtype: int64

In [14]:
df_2020_05['State'].value_counts()

CA    3345
NY    3028
PA    2512
FL    2360
TX    1838
NJ    1754
IL    1427
MA    1277
OH    1093
VA    1028
MI    1020
GA     992
MD     890
NC     860
CO     833
CT     715
WA     579
IN     521
TN     510
AZ     464
MN     454
WI     453
SC     398
MO     387
OR     329
LA     312
KS     231
RI     223
HI     213
DC     210
IA     205
NH     194
NE     173
NV     162
ME     155
AR     126
NM     124
OK     115
ID     102
AL     101
MT      85
VT      81
WV      75
WY      73
AK      55
DE      54
ND      49
SD      46
Name: State, dtype: int64

In [15]:
df_2020_05['Zip'].value_counts()

19103    39
19460    37
10019    35
19087    33
60618    33
         ..
16701     1
69149     1
49065     1
96101     1
33193     1
Name: Zip, Length: 9010, dtype: int64

In [16]:
df_2020_05['Shipping Service'].value_counts()

UPS     16532
FEH     13665
FXG      1634
FEX       182
LSO1      135
UP3        29
AZS        19
FXE        13
WCU        12
UP2         8
WCP         1
UP1         1
Name: Shipping Service, dtype: int64

In [17]:
df_2020_05['Created Date'].value_counts()

5/19/20    10699
5/20/20     2089
5/22/20     1294
5/12/20     1224
5/17/20     1049
5/10/20      993
5/21/20      891
5/11/20      856
5/7/20       849
5/8/20       780
5/15/20      764
5/9/20       731
5/25/20      672
5/18/20      662
5/2/20       654
5/5/20       646
5/23/20      617
5/28/20      612
5/13/20      598
5/4/20       558
5/3/20       548
5/16/20      548
5/1/20       539
5/24/20      520
5/26/20      499
5/14/20      461
4/30/20      428
5/6/20       405
5/29/20      395
5/27/20      321
4/29/20      130
4/27/20       88
4/28/20       61
4/26/20       11
2/11/20       11
5/30/20       10
4/23/20        6
4/24/20        3
4/14/20        3
4/22/20        2
4/20/20        2
4/13/20        1
4/19/20        1
Name: Created Date, dtype: int64

In [18]:
df_2020_05['Weight'].value_counts()

7.00     11912
21.50     7022
41.00     2898
14.00     2058
20.20     1427
39.00     1309
10.50     1129
9.90       883
18.50      673
29.00      538
26.00      517
10.00      426
27.00      222
35.00      176
3.35       173
32.00      167
20.00      165
4.00        65
30.00       64
38.00       47
13.50       45
19.50       45
20.50       44
23.20       32
24.00       31
33.00       25
17.20       24
13.00       17
11.50       16
19.00       12
39.50       11
36.00       10
42.00        8
23.00        4
19.20        4
28.00        3
45.00        3
17.00        3
17.50        3
37.00        2
38.20        2
15.50        2
29.20        2
75.00        1
11.00        1
6.90         1
12.00        1
5.00         1
31.00        1
56.20        1
9.20         1
2.00         1
40.00        1
2.35         1
6.00         1
Name: Weight, dtype: int64

In [19]:
df_2020_05['Item/Bottle Count'].value_counts()

1     11601
6      8709
12     4189
3      2472
4      2277
5       704
2       601
7       588
8       584
9       235
10      201
11       56
13        9
14        3
18        1
24        1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [20]:
#Change ["Item/Bottle Count"] to float64 type in df_2020_05.
df_2020_05["Item/Bottle Count"]=df_2020_05["Item/Bottle Count"].astype(float)
df_2020_05.dtypes

Company Name          object
Status                object
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [21]:
#Remove "Status" column from df_2020_05.
df_2020_05 = df_2020_05.drop('Status', axis=1)
df_2020_05

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom1,5/1/20,Edmond,OK,73034,LSO1,4/19/20,10.5,3.0
1,Ecom1,5/1/20,Snohomish,WA,98296,FEH,4/22/20,20.2,6.0
2,Ecom1,5/1/20,Denver,CO,80209,UPS,4/24/20,20.2,6.0
3,Ecom1,5/1/20,San Diego,CA,92115,FXG,4/24/20,10.5,3.0
4,Ecom1,5/1/20,Seattle,WA,98104,FEH,4/26/20,39.0,12.0
...,...,...,...,...,...,...,...,...,...
32226,Ecom3,5/26/20,Morristown,NJ,7960,UPS,5/25/20,14.0,4.0
32227,Ecom3,5/28/20,San Jose,CA,95120,UPS,5/25/20,26.0,7.0
32228,Ecom3,5/30/20,Glenview,IL,60025,UPS,5/28/20,18.5,5.0
32229,Ecom3,5/28/20,Atlanta,GA,30327,UPS,5/22/20,29.0,8.0
32230,Ecom3,5/29/20,Atlanta,GA,30327,UPS,5/22/20,27.0,4.0

In [22]:
# Drop the NaNs for df_2020_05.
df_2020_05 = df_2020_05.dropna()

## Confirm Changes

In [23]:
#See five random rows of data
df_2020_05.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
21441,Ecom2,5/21/20,Urbana,OH,43078,FEH,5/19/20,7.0,1.0
15644,Ecom2,5/21/20,Hackettstown,NJ,7840,FEH,5/19/20,7.0,1.0
7590,Ecom3,5/13/20,NEW YORK,NY,10024,FEH,5/10/20,21.5,6.0
3292,Ecom3,5/7/20,San Diego,CA,92109,UPS,5/7/20,41.0,12.0
29305,Ecom3,5/28/20,NEW YORK,NY,10128,UPS,5/22/20,21.5,6.0

In [24]:
#Determine total rows for df_2020_05.
df_2020_05_rows = len(df_2020_05.axes[0])
df_2020_05_cols = len(df_2020_05.axes[1])
print("Number of Rows: ", df_2020_05_rows)
print("Number of Columns: ", df_2020_05_cols)

Number of Rows:  32231
Number of Columns:  9

## Export Cleaned df to .CSV

In [31]:
#Export df_2020_05 to .csv
df_2020_05.to_csv('../cleaned_months_2020/Clean_2020_05.csv')