In [1]:
#Pandas library to create DataFrames
import pandas as pd
#NumPy library for converting data types
import numpy as np

In [2]:
# Files to load
load_2020_07 = "../../2020_Data/2020.07.csv"

In [3]:
# Read the July CSV into a DataFrame
#Had to open each file in excel and save it as a .csv file instead of an .xlsm file in order for the encryption to be read properly.
df_2020_07 = pd.read_csv(load_2020_07)
df_2020_07.head()

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom2,NaN,7/1/20,Keysville,VA,23947,FEH,6/30/20,7.0,1
1,Ecom2,NaN,7/1/20,Jacksonville,FL,32259,FEH,6/30/20,7.0,1
2,Ecom2,NaN,7/1/20,Quakertown,PA,18951,UPS,6/30/20,7.0,1
3,Ecom2,NaN,7/1/20,Thousand Oaks,CA,91362,UPS,6/30/20,7.0,1
4,Winery2,NaN,7/2/20,Aiken,SC,29803,UPS,6/30/20,39.0,12

## Inspect the Data

In [4]:
#See five random rows of data
df_2020_07.sample(n=5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
7238,Ecom3,NaN,7/13/20,Calabash,NC,28467,UPS,7/10/20,29.0,8
1875,Ecom1,NaN,7/8/20,Bridgeport,CT,6604,FEH,7/8/20,19.5,6
13344,Ecom2,NaN,7/22/20,Portland,OR,97201,UPS,7/20/20,7.0,1
6892,Ecom3,NaN,7/13/20,Doylestown,PA,18902,UPS,7/10/20,21.5,6
18232,Ecom3,NaN,7/28/20,Indian Wells,CA,92210,UPS,7/28/20,7.0,2

In [5]:
#See the last rows of data
df_2020_07.tail(5)

,Company Name,Status,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
19385,Ecom3,NaN,7/27/20,Fort Wayne,IN,46845,UPS,7/25/20,21.5,6
19386,Ecom3,NaN,7/31/20,Virginia Beach,VA,23456,UPS,7/30/20,21.5,6
19387,Ecom3,NaN,7/28/20,Des Plaines,IL,60016,UPS,7/25/20,29.0,8
19388,Ecom3,NaN,7/29/20,columbus,OH,43228,UPS,7/29/20,21.5,6
19389,Ecom3,NaN,7/31/20,New Rochelle,NY,10805,FEH,7/30/20,21.5,6

In [6]:
df_2020_07.columns

Index(['Company Name', 'Status', 'Ship Date', 'City', 'State', 'Zip',
       'Shipping Service', 'Created Date', 'Weight', 'Item/Bottle Count'],
      dtype='object')

In [7]:
#Determine total rows for df_2020_07.
df_2020_07_rows = len(df_2020_07.axes[0])
df_2020_07_cols = len(df_2020_07.axes[1])
print("Number of Rows: ", df_2020_07_rows)
print("Number of Columns: ", df_2020_07_cols)

Number of Rows:  19390
Number of Columns:  10

In [8]:
# Determine if there are any missing values in df_2020_07.
df_2020_07.isnull().sum()

Company Name             0
Status               19390
Ship Date                0
City                     0
State                    0
Zip                      0
Shipping Service         0
Created Date             0
Weight                   0
Item/Bottle Count        0
dtype: int64

In [9]:
# Determine data types for df_2020_07.
df_2020_07.dtypes

Company Name          object
Status               float64
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count      int64
dtype: object

In [10]:
df_2020_07['Company Name'].value_counts()

Ecom3      10176
Ecom2       5395
Ecom1       3483
Winery1      306
Winery2       30
Name: Company Name, dtype: int64

In [11]:
df_2020_07['Ship Date'].value_counts()

7/22/20    4140
7/23/20    2220
7/6/20     1239
7/28/20    1063
7/20/20    1025
7/7/20      986
7/13/20     959
7/8/20      797
7/21/20     733
7/14/20     715
7/29/20     655
7/27/20     643
7/1/20      554
7/2/20      514
7/16/20     464
7/30/20     452
7/17/20     430
7/31/20     417
7/10/20     390
7/24/20     344
7/15/20     330
7/9/20      316
7/25/20       4
Name: Ship Date, dtype: int64

In [12]:
df_2020_07['Status'].value_counts()

Series([], Name: Status, dtype: int64)

In [13]:
df_2020_07['City'].value_counts()

New York            349
Chicago             303
Brooklyn            179
Philadelphia        122
Los Angeles         122
                   ...
ASHEVILLE             1
WELLESLEY ISLAND      1
Claremont             1
Eastman               1
columbus              1
Name: City, Length: 5050, dtype: int64

In [14]:
df_2020_07['State'].value_counts()

NY    2218
CA    2135
NJ    1325
FL    1181
PA    1145
IL    1036
MA     872
TX     818
OH     787
MI     733
VA     609
CT     462
GA     458
MD     450
NC     390
CO     379
IN     366
WA     327
WI     319
MN     303
TN     298
MO     278
LA     209
OR     204
AZ     196
SC     184
RI     173
NH     154
HI     136
ME     128
IA     126
OK     113
DC     103
AR      89
KS      87
NE      75
VT      73
NV      72
NM      64
ID      52
DE      51
MT      43
ND      39
WV      37
WY      28
SD      25
AK      24
AL      16
Name: State, dtype: int64

In [15]:
df_2020_07['Zip'].value_counts()

94558    57
10019    34
10022    28
15317    27
60610    27
         ..
48043     1
68144     1
90717     1
37143     1
10805     1
Name: Zip, Length: 7040, dtype: int64

In [16]:
df_2020_07['Shipping Service'].value_counts()

UPS     9848
FEH     8123
FXG     1052
FEX      228
WCU       46
UP3       43
UP2       27
LSO1      13
AZS        4
GSC        3
FXP        2
UP1        1
Name: Shipping Service, dtype: int64

In [17]:
df_2020_07['Created Date'].value_counts()

7/20/20     4034
7/21/20     2467
7/5/20       816
7/16/20      652
7/10/20      619
7/22/20      610
7/12/20      556
7/2/20       533
7/1/20       523
7/27/20      522
7/6/20       492
7/28/20      466
7/8/20       453
7/26/20      443
7/3/20       434
7/25/20      432
7/29/20      421
7/30/20      418
7/19/20      394
7/7/20       385
7/15/20      375
7/24/20      358
6/30/20      352
7/17/20      348
7/9/20       340
7/23/20      333
7/14/20      300
7/13/20      298
7/4/20       277
7/11/20      256
7/18/20      220
7/31/20      188
6/28/20       24
6/29/20       17
6/26/20       12
6/23/20        7
4/22/20        4
6/21/20        3
6/22/20        3
4/15/20        2
10/29/19       1
6/25/20        1
6/27/20        1
Name: Created Date, dtype: int64

In [18]:
df_2020_07['Weight'].value_counts()

21.5    6103
7.0     5682
41.0    2006
39.0     945
10.5     939
        ...
21.0       1
16.5       1
26.2       1
15.0       1
25.0       1
Name: Weight, Length: 64, dtype: int64

In [19]:
df_2020_07['Item/Bottle Count'].value_counts()

6     6892
1     5587
12    2945
3     1695
4      576
8      466
2      295
7      268
5      217
9      166
10     166
11      48
13      26
14      22
15      10
17       3
16       3
24       3
21       1
18       1
Name: Item/Bottle Count, dtype: int64

## Clean the Data

In [20]:
#Change ["Item/Bottle Count"] to float64 type in df_2020_07.
df_2020_07["Item/Bottle Count"]=df_2020_07["Item/Bottle Count"].astype(float)
df_2020_07.dtypes

Company Name          object
Status               float64
Ship Date             object
City                  object
State                 object
Zip                   object
Shipping Service      object
Created Date          object
Weight               float64
Item/Bottle Count    float64
dtype: object

In [21]:
#Remove "Status" column from df_2020_07.
df_2020_07 = df_2020_07.drop('Status', axis=1)
df_2020_07

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,Ecom2,7/1/20,Keysville,VA,23947,FEH,6/30/20,7.0,1.0
1,Ecom2,7/1/20,Jacksonville,FL,32259,FEH,6/30/20,7.0,1.0
2,Ecom2,7/1/20,Quakertown,PA,18951,UPS,6/30/20,7.0,1.0
3,Ecom2,7/1/20,Thousand Oaks,CA,91362,UPS,6/30/20,7.0,1.0
4,Winery2,7/2/20,Aiken,SC,29803,UPS,6/30/20,39.0,12.0
...,...,...,...,...,...,...,...,...,...
19385,Ecom3,7/27/20,Fort Wayne,IN,46845,UPS,7/25/20,21.5,6.0
19386,Ecom3,7/31/20,Virginia Beach,VA,23456,UPS,7/30/20,21.5,6.0
19387,Ecom3,7/28/20,Des Plaines,IL,60016,UPS,7/25/20,29.0,8.0
19388,Ecom3,7/29/20,columbus,OH,43228,UPS,7/29/20,21.5,6.0
19389,Ecom3,7/31/20,New Rochelle,NY,10805,FEH,7/30/20,21.5,6.0

In [22]:
# Drop the NaNs for df_2020_07.
df_2020_07 = df_2020_07.dropna()

## Confirm Changes

In [23]:
#See five random rows of data
df_2020_07.sample(n=5)

,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
18790,Ecom3,7/28/20,Midlothian,VA,23113,UPS,7/26/20,41.0,12.0
6464,Ecom3,7/13/20,Atlantic Highlands,NJ,7716,UPS,7/10/20,41.0,12.0
5305,Ecom1,7/13/20,Morrisville,PA,19067-2210,FEH,7/10/20,20.2,6.0
4248,Ecom3,7/6/20,Seal Beach,CA,90740,UPS,7/5/20,21.5,6.0
16828,Ecom2,7/29/20,Miami,FL,33193,FEH,7/27/20,7.0,1.0

In [24]:
#Determine total rows for df_2020_07.
df_2020_07_rows = len(df_2020_07.axes[0])
df_2020_07_cols = len(df_2020_07.axes[1])
print("Number of Rows: ", df_2020_07_rows)
print("Number of Columns: ", df_2020_07_cols)

Number of Rows:  19390
Number of Columns:  9

## Export Cleaned df to .CSV

In [25]:
#Export df_2020_07 to .csv
df_2020_07.to_csv('../cleaned_months_2020/Clean_2020_07.csv')